@model Bespoke.epsikologi_isorecommendation.Domain.IsoRecommendation
<table class="">
    <colgroup>
        <col style="width:180px" />
        <col style="width:20px" />
        <col style="width:600px" />
    </colgroup>

    <tr>
        <td style="vertical-align:top">Tret</td>
        <td style="vertical-align:top">:</td>
        <td style="text-align:justify"><b>@Model.Tret<b/></td>
    </tr>


    <tr>
        <td style="vertical-align:top">Tahap</td>
        <td style="vertical-align:top">:</td>
        <td style="text-align:justify"><b>@Html.Raw(Model.Kategori)<b/></td>
    </tr>
    
    
    
    <tr>
        <td style="vertical-align:top">Interpretasi</td>
        <td style="vertical-align:top">:</td>
        <td style="text-align:justify">@Html.Raw(Model.Ciri)</td>
    </tr>
</table>

<div style="height: 10px"></div>