<style type="text/css">
  .tg {
    border-collapse: collapse;
    border-spacing: 2;
    border: none;
  }

  .tg td {
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: auto;
    padding: 15px 10px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
  }

  .tg th {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 15px 10px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
  }

  .tg .tg-s6z2 {
    text-align: center
  }

  .tg .tg-k6pi {
    font-size: 12px
  }

  .tg .tg-pi53 {
    font-weight: bold;
    font-size: 12px;
    text-align: center
  }

  .tg .tg-hgcj {
    font-weight: bold;
    text-align: center;
    font-size: 20px
  }
</style>

<table align="center" class="tg">

  <tr>
    <td class="tg-k6pi"></td>
  </tr>
  <tr>
    <td class="tg-k6pi"></td>
  </tr>
  <tr>
    <td class="tg-k6pi"></td>
  </tr>

</table>

<table bordercolor="#000000" align="center">
  <tr bgcolor="#999999">

    <td style="font-size:20px" bgcolor="#999999">
      <strong>
        <font color="#FF0000">PERINGATAN</font>
      </strong>
    </td>

  </tr>
</table>
<table align="center" class="tg" width="600" style="page-break-after: always;">
  <tr></tr>
  <tr>
    <td class="tg-k6pi"></td>
    <td colspan="1%" align="justify" class="tg-031e">
      <div align="justify">Penerangan yang disediakan bertujuan membantu individu
        <span style="color:blue"><u>mengenal pasti</u> </span>pilihan kerjaya atau bidang pengajian yang bersesuaian dengan minat, kemahiran dan personaliti individu. Oleh yang demikian, penerangan ini
        <font color="#FF0000"><u>tidak seharusnya</u></font> digunakan sebagai satu sumber maklumat yang mutlak dalam membuat penilaian ke atas individu. Begitu juga, ia
        <font color="#FF0000"><u>tidak seharusnya</u></font> digunakan sebagai
        <font color="#FF0000"><u>faktor penentu</u></font> dalam membuat sebarang keputusan ke atas individu.
      </div>
    </td>
    <td class="tg-s6z2" colspan="2%"></td>
  </tr>

  <tr>
    <td class="tg-k6pi">
      <br>
    </td>
    <td class="tg-031e">
      <div align="justify">Sebaliknya, maklumat ini
        <span>
          <font color="#FF0000"><u>seharusnya</u></font> digunakan bersama dengan maklumat yang lain bagi
          <font color="#FF0000"><u>membantu</u></font> individu membuat pilihan kerjaya atau bidang pengajian yang bersesuaian berdasarkan kepada kecenderungan individu terhadap sesuatu pekerjaan. Maklumat yang disediakan adalah
          <strong>
            <font color="#FF0000"><u>RAHSIA</u></font>
          </strong> dan
          <font color="#FF0000"><u>tidak seharusnya</u></font> diberikan kepada mereka yang tidak berkaitan.</div>
    </td>
    <td class="tg-s6z2"></td>
  </tr>

  <tr>
    <td class="tg-k6pi">
      <br>
    </td>
    <td class="tg-031e">
      <div align="justify">
        <strong><u>NOTA KEPADA PELAJAR:</u></strong>
        <ul>Indeks ini menyediakan senarai cadangan bagi membantu pelajar mengenal pasti pilihan kerjaya dan memilih bidang pengajian yang bersesuaian dengan minat, kemahiran, personaliti serta keputusan akademik mereka.</ul>
      </div>
    </td>
    <td class="tg-s6z2"></td>
  </tr>

  <tr>
    <td class="tg-k6pi">
      <br>
    </td>
    <td class="tg-031e">
      <div align="justify">
        <strong><u>NOTA KEPADA PEKERJA SEDIA ADA:</u></strong>
        <ul>Indeks ini menyediakan senarai cadangan pilihan kerjaya kepada individu yang ingin mempertimbangkan alternatif pekerjaan sedia ada berdasarkan kepada kesesuaian dan kepadanan individu dari aspek kemahiran, minat serta personaliti masa kini.</ul>
      </div>
    </td>
    <td class="tg-s6z2"></td>
  </tr>

  <tr>
    <td class="tg-k6pi">
      <br>
    </td>
    <td class="tg-031e">
      <div align="justify">
        <strong><u>NOTA KEPADA PENGURUS SUMBER MANUSIA:</u></strong>
        <ul>Indeks ini membantu pihak pengurusan sumber manusia mempertimbangkan tawaran pekerjaan kepada calon yang bersesuaian berdasarkan padanan kriteria jawatan yang dipohon dengan personaliti calon.</ul>
      </div>
    </td>
    <td class="tg-s6z2"></td>
  </tr>



</table>
