 <table align="center" class="tx">

  <tr>
    <td class="tx-k6pi"></td>
  </tr>
  <tr>
    <td class="tx-k6pi"></td>
  </tr>
  <tr>
    <td class="tx-k6pi"></td>
  </tr>

</table>

<table bordercolor="#000000" align="center"  >
  <tr bgcolor="#999999">
    
    <td style="font-size:20px" bgcolor="#999999"><strong>PERINGATAN</strong></td>

  </tr>
 </table>
  <table align="center" class="tx" width="600" style="page-break-after: always;">
   <tr ><td class="tx-k6pi" ></td>   </tr>
  <tr > <td class="tx-k6pi" ></td>  </tr>
  <tr >  
    <td class="tx-k6pi" ></td>
    <td  colspan="1%" align="justify"class="tx-031e"><div align="justify">Penerangan yang disediakan bertujuan membantu individu <u>mengenal pasti</u> ciri-ciri perwatakan yang mungkin terdapat pada individu.  Oleh yang demikian, penerangan ini <u>tidak seharusnya</u> digunakan sebagai satu sumber maklumat yang mutlak dalam membuat penilaian ke atas individu.  Begitu juga, ia <u>tidak seharusnya</u> digunakan sebagai <u>faktor penentu</u> dalam membuat sebarang keputusan ke atas individu. 
    </div></td>
    <td class="tx-s6z2"colspan="2%"></td>
  </tr>

  <tr>
    <td class="tx-k6pi"><br></td>
    <td class="tx-031e"><div align="justify">Sebaliknya, maklumat ini <u>seharusnya</u> digunakan bersama dengan maklumat yang lain bagi <u>membantu</u> individu meningkatkan kesedaran terhadap ciri-ciri perwatakan yang ada pada dirinya.  Maklumat yang disediakan adalah <strong><u>RAHSIA</u></strong> dan <u>tidak seharusnya</u> diberikan kepada mereka yang tidak berkaitan.</div></td>
    <td class="tx-s6z2"></td>
  </tr>
</table>