<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:2;border: none;}
.tg td{font-family:Arial, sans-serif;font-size:16px; height:auto;padding:15px 10px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:16px;font-weight:normal;padding:15px 10px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-s6z2{text-align:center}
.tg .tg-k6pi{font-size:12px}
.tg .tg-pi53{font-weight:bold;font-size:12px;text-align:center}
.tg .tg-hgcj{font-weight:bold;text-align:center;font-size:20px}
</style>
<table  align="center"   class="tg">
 
  <tr > <td class="tg-k6pi" ></td>  </tr>
  <tr > <td class="tg-k6pi" ></td>  </tr>
  <tr >  <td class="tg-k6pi" ></td> </tr>
  
 </table>

 
<table bordercolor="#000000" align="center"  >
  <tr bgcolor="#999999">
    
    <td style="font-size:20px" bgcolor="#999999"><strong>PERINGATAN</strong></td>

  </tr>
 </table>
  <table align="center" class="tg" width="600" style="page-break-after: always;">

  
  <tr ><td class="tg-k6pi" ></td>   </tr>
  <tr > <td class="tg-k6pi" ></td>  </tr>
  <tr >  
    <td class="tg-k6pi" ></td>
    <td  colspan="1%" align="justify"class="tg-031e"><div align="justify">Penerangan yang disediakan bertujuan membantu individu<u> mengenal pasti</u> tret personaliti yang terdapat pada individu.Laporan yang disediakan ini juga menerangkan bagaimana tret personaliti individu berhubung kait dengan aspek kepimpinan serta kesesuaian penempatan dalam bidang tugas yang berkaitan.</div></td>
    <td class="tg-s6z2"colspan="2%"></td>
  </tr>
  <tr>
    <td class="tg-k6pi"><br></td>
    <td class="tg-031e"><div align="justify">Oleh yang demikian,penerangan ini <u>tidak seharusnya</u> digunakan sebagai satu sumber maklumat yang mutlak dalam membuat penilaian ke atas individu. Begitu juga, ia <u>tidak seharusnya</u>  digunakan sebagai <u>faktor penentu </u>dalam membuat sebarang keputusan ke atas individu.</div></td>
    <td class="tg-s6z2"></td>
  </tr>
  <tr>
    <td class="tg-k6pi"><br></td>
    <td class="tg-031e"><div align="justify">Sebaliknya, maklumat ini <u>seharusnya</u> digunakan bersama dengan maklumat yang lain bagi <u>membantu</u> individu meningkatkan kesedaran terhadap tret personaliti, aspek kepimpinan dan cadangan penempatan yang berkaitan dengan dirinya. Maklumat yang disediakan adalah <strong><u>RAHSIA</u></strong> dan <u>tidak seharusnya</u> diberikan kepada mereka yang tidak berkaitan.</div></td>
    <td class="tg-s6z2"></td>
  </tr>
</table>
