<div class="peringatan">
    <h1 class="alert alert-danger" style="text-align: center">PERINGATAN</h1>
    <p>
        Penerangan yang disediakan bertujuan membantu individu <span class="fa-underline">mengenal</span> pasti ciri-ciri perwatakan yang mungkin terdapat pada individu.
        Oleh yang demikian, penerangan ini <span class="fa-underline">tidak seharusnya</span> digunakan sebagai satu sumber maklumat yang mutlak dalam membuat penilaian ke atas individu.
        Begitu juga, ia <span class="fa-underline">tidak seharusnya</span> digunakan sebagai <span class="fa-underline">faktor penentu</span> dalam membuat sebarang keputusan ke atas individu.



    </p>
    <p>
        Sebaliknya, maklumat ini seharusnya digunakan bersama dengan maklumat yang lain bagi <span class="fa-underline">membantu</span> individu meningkatkan
        kesedaran terhadap ciri-ciri perwatakan yang ada pada dirinya. Maklumat yang disediakan adalah <strong>RAHSIA</strong> dan
        <span class="fa-underline">tidak seharusnya</span> diberikan kepada mereka yang tidak berkaitan.

    </p>


</div>
