<div class="peringatan">
    <h1 class="alert alert-danger" style="text-align: center">PERINGATAN</h1>
    <p>
        Penerangan yang disediakan bertujuan membantu individu <span class="fa-underline">mengenal pasti</span> tret personaliti yang terdapat pada individu.
        Laporan yang disediakan ini juga menerangkan bagaimana tret personaliti individu berhubung kait dengan aspek kepimpinan serta kesesuaian penempatan
         dalam bidang tugas yang berkaitan.
    </p>
    <p>
        Oleh yang demikian, penerangan ini <span class="fa-underline">tidak seharusnya</span> digunakan sebagai satu sumber maklumat yang mutlak dalam
        membuat penilaian ke atas individu. Begitu juga, ia <span class="fa-underline">tidak seharusnya</span> digunakan sebagai faktor penentu dalam 
        membuat sebarang keputusan ke atas individu.
    </p>
    <p>
        Sebaliknya, maklumat ini <span class="fa-underline">seharusnya</span> digunakan bersama dengan maklumat yang lain bagi 
        <span class="fa-underline">membantu</span> individu meningkatkan
        kesedaran terhadap tret personaliti, aspek kepimpinan dan cadangan penempatan yang berkaitan dengan dirinya. Maklumat yang disediakan adalah 
        <strong>RAHSIA</strong> dan <span class="fa-underline">tidak seharusnya</span> diberikan kepada mereka yang tidak berkaitan.
    </p>





</div>
