@model Bespoke.epsikologi_ppkprecommendation.Domain.PpkpRecommendation

<table class="">
    <colgroup>
        <col style="width:180px" />
        <col style="width:20px" />
        <col style="width:600px" />
    </colgroup>
    <tr>
        <td style="vertical-align: top">Tret</td>
        <td style="vertical-align: top">:</td>
        <td style="vertical-align: top">@Model.Tret</td>
    </tr>
    <tr>
        <td style="vertical-align: top">Interpretasi</td>
        <td style="vertical-align: top">:</td>
        <td style="vertical-align: top;text-align: justify">@Model.Interpretasi</td>
    </tr>
    <tr>
        <td style="vertical-align: top">Kepimpinan</td>
        <td style="vertical-align: top">:</td>
        <td style="vertical-align: top;text-align: justify">@Model.Kepimpinan</td>
    </tr>
    <tr>
        <td style="vertical-align: top">Cadangan</td>
        <td style="vertical-align: top">:</td>
        <td style="vertical-align: top;text-align: justify">@Model.Cadangan</td>
    </tr>
</table>
