@model  IEnumerable<Bespoke.epsikologi_skorppkp.Domain.SkorPpkp>


<table class="ppkp-dimensi">
    <colgroup>
        <col style="width: 180px" />
        <col style="width: 20px" />
        <col style="width: 600px" />
    </colgroup>
    <tbody>
        @foreach (var score in Model)
        {
            <tr>
                <td style="vertical-align: top">Tret</td>
                <td style="vertical-align: top">:</td>
                <td style="vertical-align: top">@score.NamaTret
                   
                </td>
            </tr>
                <tr>
                    <td style="vertical-align: top">Tahap</td>
                    <td style="vertical-align: top">:</td>
                    <td style="vertical-align: top">@score.Tahap</td>
                </tr>
            <tr>
                <td style="vertical-align: top">Interpretasi</td>
                <td style="vertical-align: top">:</td>
                <td style="vertical-align: top; text-align: justify">@score.Interpretasi</td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        }

    </tbody>
</table>

