@model Bespoke.epsikologi_ppkprecommendation.Domain.PpkpRecommendation

<table class="">
    <colgroup>
        <col style="width:80px" />
        <col style="width:20px" />
        <col style="width:600px" />
    </colgroup>
    <tr>
        <td style="vertical-align: top"><font size="2">Tret</font></td>
        <td style="vertical-align: top"><font size="2">:</font></td>
        <td style="vertical-align: top"><font size="2">@Model.Tret</font></td>
    </tr>
    <tr>
        <td style="vertical-align: top"><font size="2">Interpretasi</font></td>
        <td style="vertical-align: top"><font size="2">:</font></td>
        <td style="vertical-align: top;text-align: justify"><font size="2">@Model.Interpretasi</font></td>
    </tr>
    <tr>
        <td style="vertical-align: top"><font size="2">Kepimpinan</font></td>
        <td style="vertical-align: top"><font size="2">:</font></td>
        <td style="vertical-align: top;text-align: justify"><font size="2">@Model.Kepimpinan</font></td>
    </tr>
    <tr>
        <td style="vertical-align: top"><font size="2">Cadangan</font></td>
        <td style="vertical-align: top"><font size="2">:</font></td>
        <td style="vertical-align: top;text-align: justify"><font size="2">@Model.Cadangan</font></td>
    </tr>
	<tr><td>&nbsp</td>
	<td>&nbsp</td>
	<td>&nbsp</td>
	</tr>
</table>
