@model web.sph.App_Code.HlpTraitViewModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="my">

<head>
	<title>LAPORAN UJIAN KHAS HADIAH LATIHAN PERSEKUTUAN JABATAN PERKHIDMATAN AWAM
	</title><meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>

<body>
	<h1>LAPORAN UJIAN KHAS HADIAH LATIHAN PERSEKUTUAN JABATAN PERKHIDMATAN AWAM
	</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<label>NAMA PEGAWAI</div>
			</div>
			<div class="col-md-9">
				<span>@Model.Pengguna.Nama</span>
			</div>
		</div>
	</div>

	<pre>
		@Model.ToString()
	</pre>
</body>

</html>
