@model web.sph.App_Code.PpkpTraitViewModel
@{
    Layout = "_MasterPage.cshtml";
}

@section head
{
    <style type="text/css">
        .blue-header {
            color: blue;
        }
    </style>
}
<div style="height:40px"></div>
<table class="">
    <colgroup>
        <col style="width:180px" />
        <col style="width:20px" />
        <col style="width:600px" />
    </colgroup>
    <caption>DIMENSI UMUM: KESTABILAN EMOSI</caption>
    <tbody>
      <tr>
        <td>SKOR</td>
        <td> </td>
        <td> </td>
      </tr>
    </tbody>

</table>
