@model web.sph.App_Code.IpuTraitViewModel
@{
  Layout = "_MasterPage.cshtml";
}


<style type="text/css">
  table.tg {
    border-spacing: 5px;
    border-collapse: separate;
    border:none;
  }

  table.tg td {
    padding: 5px;
    text-align: center;
    border: 2px solid #000 !important;
    font-weight: bold;
    font-size: 11px;
  }

  .tg .tg-x9qe {
    border-color: #00009b !important;
  }

  .tg .tg-gjsp {
    border-color: #00009b !important;
  }

  .tg .tg-8m8i {
    border-color: #fff !important;
  }

  .tg .tg-d28h {
    border-color: #21A23D !important;
  }

  .tg .tg-ng1t {
    border-color: #fff !important;
  }

  .tg .tg-ex6j {
    border-color: #34cdf9 !important;
  }

  .tg .tg-y78u {
    border-color: #34cdf9 !important;
  }

  .tg .tg-7poc {
    border-color: #64EE88 !important;
  }

  .tg .tg-bn76 {
    border-color: #3166ff !important;
  }

  .tg .tg-ux9h {
    border-color: #3166ff !important;
  }

  .tg .tg-bb4g {
    border-color: #3531ff !important;
  }


    .tg .tg-white {
      border-color: #fff !important;
    }

  .tg .tg-6wvf {
    padding: 0px;
    border:5px solid #F00 !important;
  }

  .tg .tg-7poX {}
</style>
<table>
  <tr></tr>
  <tr></tr>
</table>
<table class="tg" border="1" style="table-layout: fixed;width:800px">
  <colgroup>
      <col style="width: 70px"/>
      <col style="width: 70px"/>
      <col style="width: 70px"/>
      <col style="width: 70px"/>
      <col style="width: 70px"/>
      <col style="width: 70px"/>
      <col style="width: 70px"/>
      <col style="width: 70px"/>
      <col style="width: 70px"/>
      <col style="width: 70px"/>
  </colgroup>
  <tr>
    <td class="tg-ng1t">Kebimbangan</td>
    <td class="tg-8m8i">Kemurungan</td>
    <td class="tg-ng1t">Aktif Sosial</td>
    <td class="tg-8m8i">Luahan Perasaan</td>
    <td class="tg-ng1t">Bersimpati</td>
    <td class="tg-8m8i">Pemikiran Emotif</td>
    <td class="tg-ng1t">Asertif</td>
    <td class="tg-8m8i">Persengketaan</td>
    <td class="tg-ng1t">Bersikap Sistematik</td>
    <td class="tg-8m8i">Kebolehpercayaan: Diragui</td>
  </tr>
  <tr>
    <td class="tg-white" colspan="10"></td>
  </tr>
  <tr>
    <td class="tg-ex6j" id="A100">100</td>
    <td class="tg-y78u" id="B100">100</td>
    <td class="tg-7poc" id="C100">100</td>
    <td class="tg-d28h" id="D100">100</td>
    <td class="tg-7poc" id="E100">100</td>
    <td class="tg-y78u" id="F100">100</td>
    <td class="tg-7poc" id="G100">100</td>
    <td class="tg-y78u" id="H100">100</td>
    <td class="tg-7poc" id="I100">100</td>
    <td class="tg-white"></td>
  </tr>
  <tr>
    <td class="tg-ex6j" id="A95">95</td>
    <td class="tg-y78u" id="B95">95</td>
    <td class="tg-7poc" id="C95">95</td>
    <td class="tg-d28h" id="D95">95</td>
    <td class="tg-7poc" id="E95">95</td>
    <td class="tg-y78u" id="F95">95</td>
    <td class="tg-7poc" id="G95">95</td>
    <td class="tg-y78u" id="H95">95</td>
    <td class="tg-7poc" id="I95">95</td>
  </tr>
  <tr>
    <td class="tg-ex6j" id="A90">90</td>
    <td class="tg-y78u" id="B90">90</td>
    <td class="tg-7poc" id="C90">90</td>
    <td class="tg-d28h" id="D90">90</td>
    <td class="tg-7poc" id="E90">90</td>
    <td class="tg-y78u" id="F90">90</td>
    <td class="tg-7poc" id="G90">90</td>
    <td class="tg-y78u" id="H90">90</td>
    <td class="tg-7poc" id="I90">90</td>
  </tr>
  <tr>
    <td class="tg-bn76" id="A85">85</td>
    <td class="tg-y78u" id="B85">85</td>
    <td class="tg-7poc" id="C85">85</td>
    <td class="tg-d28h" id="D85">85</td>
    <td class="tg-7poc" id="E85">85</td>
    <td class="tg-y78u" id="F85">85</td>
    <td class="tg-7poc" id="G85">85</td>
    <td class="tg-y78u" id="H85">85</td>
    <td class="tg-7poc" id="I85">85</td>
  </tr>
  <tr>
    <td class="tg-bn76" id="A80">80</td>
    <td class="tg-ux9h" id="B80">80</td>
    <td class="tg-7poc" id="C80">80</td>
    <td class="tg-x9qe" id="D80">80</td>
    <td class="tg-7poc" id="E80">80</td>
    <td class="tg-ux9h" id="F80">80</td>
    <td class="tg-7poc" id="G80">80</td>
    <td class="tg-y78u" id="H80">80</td>
    <td class="tg-7poc" id="I80">80</td>
  </tr>
  <tr>
    <td class="tg-bn76" id="A75">75</td>
    <td class="tg-ux9h" id="B75">75</td>
    <td class="tg-7poc" id="C75">75</td>
    <td class="tg-x9qe" id="D75">75</td>
    <td class="tg-gjsp" id="E75">75</td>
    <td class="tg-ux9h" id="F75">75</td>
    <td class="tg-7poc" id="G75">75</td>
    <td class="tg-ux9h" id="H75">75</td>
    <td class="tg-7poc" id="I75">75</td>
    <td class="tg-y78u" id="J15">15</td>
  </tr>
  <tr>
    <td class="tg-bn76" id="A70">70</td>
    <td class="tg-ux9h" id="B70">70</td>
    <td class="tg-7poc" id="C70">70</td>
    <td class="tg-x9qe" id="F70">70</td>
    <td class="tg-gjsp" id="E70">70</td>
    <td class="tg-ux9h" id="F70">70</td>
    <td class="tg-7poc" id="G70">70</td>
    <td class="tg-ux9h" id="H70">70</td>
    <td class="tg-7poc" id="i70">70</td>
    <td class="tg-y78u" id="J14">14</td>
  </tr>
  <tr>
    <td class="tg-bn76" id="A65">65</td>
    <td class="tg-ux9h" id="B65">65</td>
    <td class="tg-gjsp" id="C65">65</td>
    <td class="tg-x9qe" id="D65">65</td>
    <td class="tg-gjsp" id="E65">65</td>
    <td class="tg-ux9h" id="F65">65</td>
    <td class="tg-7poc" id="G65">65</td>
    <td class="tg-ux9h" id="H65">65</td>
    <td class="tg-gjsp" id="I65">65</td>
    <td class="tg-y78u" id="J13">13</td>
  </tr>
  <tr>
    <td class="tg-bn76" id="A60">60</td>
    <td class="tg-ux9h" id="B60">60</td>
    <td class="tg-gjsp" id="C60">60</td>
    <td class="tg-x9qe" id="D60">60</td>
    <td class="tg-gjsp" id="E60">60</td>
    <td class="tg-x9qe" id="F60">60</td>
    <td class="tg-7poc" id="G60">60</td>
    <td class="tg-ux9h" id="H60">60</td>
    <td class="tg-gjsp" id="I60">60</td>
    <td class="tg-y78u" id="J12">12</td>
  </tr>
  <tr>
    <td class="tg-bn76" id="A55">55</td>
    <td class="tg-ux9h" id="B55">55</td>
    <td class="tg-gjsp" id="C55">55</td>
    <td class="tg-x9qe" id="D55">55</td>
    <td class="tg-gjsp" id="E55">55</td>
    <td class="tg-x9qe" id="F55">55</td>
    <td class="tg-gjsp" id="G55">55</td>
    <td class="tg-ux9h" id="H55">55</td>
    <td class="tg-gjsp" id="I55">55</td>
    <td class="tg-ux9h" id="J11">11</td>
  </tr>
  <tr>
    <td class="tg-gjsp" id="A50">50</td>
    <td class="tg-x9qe" id="B50">50</td>
    <td class="tg-gjsp" id="C50">50</td>
    <td class="tg-ux9h" id="D50">50</td>
    <td class="tg-bn76" id="E50">50</td>
    <td class="tg-x9qe" id="F50">50</td>
    <td class="tg-gjsp" id="G50">50</td>
    <td class="tg-x9qe" id="H50">50</td>
    <td class="tg-gjsp" id="I50">50</td>
    <td class="tg-ux9h" id="J10">10</td>
  </tr>
  <tr>
    <td class="tg-gjsp" id="A45">45</td>
    <td class="tg-x9qe" id="B45">45</td>
    <td class="tg-gjsp" id="C45">45</td>
    <td class="tg-ux9h" id="D45">45</td>
    <td class="tg-bn76" id="E45">45</td>
    <td class="tg-x9qe" id="F45">45</td>
    <td class="tg-gjsp" id="G45">45</td>
    <td class="tg-x9qe" id="H45">45</td>
    <td class="tg-gjsp" id="I45">45</td>
    <td class="tg-ux9h" id="J9">9</td>
  </tr>
  <tr>
    <td class="tg-gjsp" id="A45">40</td>
    <td class="tg-x9qe" id="B45">40</td>
    <td class="tg-gjsp" id="C45">40</td>
    <td class="tg-ux9h" id="D45">40</td>
    <td class="tg-bn76" id="E45">40</td>
    <td class="tg-x9qe" id="F45">40</td>
    <td class="tg-gjsp" id="G45">40</td>
    <td class="tg-x9qe" id="H45">40</td>
    <td class="tg-bn76" id="I45">40</td>
    <td class="tg-x9qe" id="J8">8</td>
  </tr>
  <tr>
    <td class="tg-gjsp" id="A35">35</td>
    <td class="tg-x9qe" id="B35">35</td>
    <td class="tg-bn76" id="C35">35</td>
    <td class="tg-ux9h" id="D35">35</td>
    <td class="tg-bn76" id="E35">35</td>
    <td class="tg-d28h" id="F35">35</td>
    <td class="tg-bn76" id="G35">35</td>
    <td class="tg-x9qe" id="H35">35</td>
    <td class="tg-bn76" id="I35">35</td>
    <td class="tg-x9qe" id="J7">7</td>
  </tr>
  <tr>
    <td class="tg-d28h" id="A30">30</td>
    <td class="tg-x9qe" id="B30">30</td>
    <td class="tg-bn76" id="C30">30</td>
    <td class="tg-ux9h" id="D30">30</td>
    <td class="tg-bn76" id="E30">30</td>
    <td class="tg-d28h" id="F30">30</td>
    <td class="tg-bn76" id="G30">30</td>
    <td class="tg-x9qe" id="H30">30</td>
    <td class="tg-bn76" id="I30">30</td>
    <td class="tg-x9qe" id="J6">6</td>
  </tr>
  <tr>
    <td class="tg-7poc" id="A25">25</td>
    <td class="tg-d28h" id="B25">25</td>
    <td class="tg-bn76" id="C25">25</td>
    <td class="tg-ux9h" id="D25">25</td>
    <td class="tg-bn76" id="E25">25</td>
    <td class="tg-d28h" id="F25">25</td>
    <td class="tg-bn76" id="G25">25</td>
    <td class="tg-d28h" id="H25">25</td>
    <td class="tg-bn76" id="I25">25</td>
    <td class="tg-d28h" id="J5">5</td>
  </tr>
  <tr>
    <td class="tg-7poc" id="A20">20</td>
    <td class="tg-d28h" id="B20">20</td>
    <td class="tg-bn76" id="C20">20</td>
    <td class="tg-y78u" id="D20">20</td>
    <td class="tg-ex6j" id="E20">20</td>
    <td class="tg-d28h" id="F20">20</td>
    <td class="tg-bn76" id="G20">20</td>
    <td class="tg-d28h" id="H20">20</td>
    <td class="tg-ex6j" id="I20">20</td>
    <td class="tg-d28h" id="J4">4</td>
  </tr>
  <tr>
    <td class="tg-7poc" id="A15">15</td>
    <td class="tg-d28h" id="B15">15</td>
    <td class="tg-ex6j" id="C15">15</td>
    <td class="tg-y78u" id="D15">15</td>
    <td class="tg-ex6j" id="E15">15</td>
    <td class="tg-d28h" id="F15">15</td>
    <td class="tg-ex6j" id="G15">15</td>
    <td class="tg-d28h" id="H15">15</td>
    <td class="tg-ex6j" id="I15">15</td>
    <td class="tg-d28h" id="J3">3</td>
  </tr>
  <tr>
    <td class="tg-7poc" id="A10">10</td>
    <td class="tg-d28h" id="B10">10</td>
    <td class="tg-ex6j" id="C10">10</td>
    <td class="tg-y78u" id="D10">10</td>
    <td class="tg-ex6j" id="E10">10</td>
    <td class="tg-d28h" id="F10">10</td>
    <td class="tg-ex6j" id="G10">10</td>
    <td class="tg-d28h" id="H10">10</td>
    <td class="tg-ex6j" id="I10">10</td>
    <td class="tg-d28h" id="J2">2</td>
  </tr>
  <tr>
    <td class="tg-7poc" id="A5">5</td>
    <td class="tg-d28h" id="B5">5</td>
    <td class="tg-ex6j" id="C5">5</td>
    <td class="tg-y78u" id="D5">5</td>
    <td class="tg-ex6j" id="E5">5</td>
    <td class="tg-d28h" id="F5">5</td>
    <td class="tg-ex6j" id="G5">5</td>
    <td class="tg-d28h" id="H5">5</td>
    <td class="tg-ex6j" id="I5">5</td>
    <td class="tg-d28h" id="J1">1</td>
  </tr>
  <tr>
    <td class="" colspan="10"></td>
  </tr>
  <tr>
    <td class="tg-ng1t">Ketenangan</td>
    <td class="tg-8m8i">Keceriaan</td>
    <td class="tg-ng1t">Pasif
      <br>Sosial</td>
    <td class="tg-8m8i">Pendam
      <br>Perasaan</td>
    <td class="tg-ng1t">Kurang
      <br>Bersimpati</td>
    <td class="tg-8m8i">Pemikiran
      <br>Rasional</td>
    <td class="tg-ng1t">Kebergantungan</td>
    <td class="tg-8m8i">Toleransi</td>
    <td class="tg-ng1t">Bersikap
      <br>Spontan</td>
    <td class="tg-8m8i">Kebolehpercayaan:
      <br>Diterima</td>
  </tr>

</table>

<table>
  <tr></tr>
  <tr></tr>
</table>
<div style="height:40px"></div>
<table class="tg">
  <colgroup>
    <col style="width: 100px"/>
    <col style="width: 100px"/>
    <col style="width: 100px"/>
    <col style="width: 100px"/>
    <col style="width: 100px"/>

  </colgroup>
  <tr>
    <td class="tg-7poc"></td>
    <td class="tg-x9qe"></td>
    <td class="tg-bb4g"></td>
    <td class="tg-y78u"></td>
    <td class="tg-6wvf" style="padding-bottom:10px"></td>

  </tr>
  <tr>
    <td class="tg-ng1t">Cemerlang</td>
    <td class="tg-8m8i">Memuaskan</td>
    <td class="tg-ng1t">Penambahbaikan
      <br>Digalakkan</td>
    <td class="tg-8m8i">Penambahbaikan
      <br>Diperlukan</td>
    <td class="tg-ng1t">Indikator
      <br>Klien</td>
  </tr>
</table>
<script <source src="/scripts/jquery-2.1.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var vm = @Html.Raw(Model.ToString());
    $(function(){
      $("#A" + vm.SkorA).addClass("tg-6wvf");
      $("#B" + vm.SkorB).addClass("tg-6wvf");
      $("#C" + vm.SkorC).addClass("tg-6wvf");
      $("#D" + vm.SkorD).addClass("tg-6wvf");
      $("#E" + vm.SkorE).addClass("tg-6wvf");
      $("#F" + vm.SkorF).addClass("tg-6wvf");
      $("#G" + vm.SkorG).addClass("tg-6wvf");
      $("#H" + vm.SkorH).addClass("tg-6wvf");
      $("#I" + vm.SkorI).addClass("tg-6wvf");
      $("#J" + vm.SkorJ).addClass("tg-6wvf");

      window.print();
    });
</script>
