@model web.sph.App_Code.IbkTraitViewModel
@{
    Layout = null;
}
<html>
<head>
    <title>Laporan untuk @Model.Sesi.NamaPengguna</title>
    <link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
    <h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .tg td {
                font-family: Arial, sans-serif;
                font-size: 14px;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg th {
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg .tg-s6z2 {
                text-align: center;
            }

            .tg .tg-e3zv {
                font-weight: bold;
            }
    </style>
    <table class="tg">
        <tr>
            <th class="tg-031e" colspan="3">Berdasarkan kepada analisis ujian:</th>
        </tr>
        <tr>
            <td width="168" class="tg-e3zv"><strong>Kod Kerjaya Anda</strong></td>
            <td width="11" class="tg-s6z2">:</td>
            <td width="887" class="tg-e3zv"><strong>PEM</strong></td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td></td>
            <td class="tg-031e" colspan="2">
                <table width="700" border="1">
                    <tr>
                        <td width="50"><strong>KOD</strong></td>
                        <td width="341"><strong>KERJAYA</strong></td>
                        <td width="287"><strong>BIDANG PENGAJIAN</strong></td>
                    </tr>
                    <tr>
                        <td><strong>PEM</strong></td>
                        <td>Jurutera:- Elektronik/ Mekanikal</td>
                        <td>Kejuruteraan:- Elektronik/ Mekanikal</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Juruterbang Helikopter</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td>Pegawai/ Penganalisis:- Alam Sekitar/ Pencemaran</td>
                        <td>Sains Alam Sekitar</td>
                    </tr>

                </table>
            </td>

        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Kategori Kerjaya</strong></td>
            <td class="tg-s6z2">:</td>
            <td class="tg-e3zv">PRAKTIKAL (P)</td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
            <td class="tg-031e" align="justify">Secara umumnya, anda digambarkan sebagai seorang yang bercita-cita tinggi, bersungguh-sungguh apabila melakukan tugas, suka berterus terang dan ikhlas dalam perhubungan dengan orang lain.Anda seorang yang mematuhi peraturan,mempunyai kawalan diri yang tinggi, tidak suka menonjolkan  diri, mesra dan peramah serta menjalani kehidupan seharian secara sederhana.
            
           <br><br>Dari perspektif penglibatan diri dengan dunia luar, anda dilihat sebagai seorang yang berkebolehan atau meminati bidang keolahragawan, atau mempunyai bentuk fizikal yang tegap dan gagah.Anda cenderung melibatkan diri terutamanya dengan aktiviti luaran yang berbentuk fizikal, tahan lasak atau yang boleh merangsang daya fikir.
            
            <br><br>Anda berpegang kepada konsep “Lakukannya dan cenderung memilih menyelesaikan permasalahan berdasarkan kepada fakta berbanding abstrak.,Anda cenderung menceburi pekerjaan yang berkaitan dengan bidang teknikal atau mekanikal.,Anda berasa tertarik kepada pekerjaan yang membolehkan anda melakukan tugas atau mempraktikkan kemahiran yang dipelajari seperti menggunakan peralatan, mesin dan sebagainya.Di akhir pelaksanaan tugas, anda berasa bangga dapat mempamerkan hasil kerja yang dilakukan.</td>
        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Alternatif Pilihan Kerjaya</strong></td>
            <td class="tg-031e">:</td>
            <td>
                <table width="700" border="1">
                    <tr>
                        <td>Jurutera</td>
                        <td>Juruterbang</td>
                        <td>Juruukur</td>
                    </tr>
                    <tr>
                        <td>Pegawai Polis </td>
                        <td>Pegawai Tentera</td>
                        <td>Pegawai Bomba</td>
                    </tr>
                    <tr>
                        <td>Pegawai Perhutanan </td>
                        <td>Pegawai Alam Sekitar </td>
                        <td>Pegawai Geologi</td>
                    </tr>
                    <tr>
                        <td>Chef</td>
                        <td>Pegawai Perubatan </td>
                        <td>Pegawai Veterinar</td>
                    </tr>
                    <tr>
                        <td>Arkitek </td>
                        <td>Pengurus </td>
                        <td>Pegawai Penyiaran</td>
                    </tr>
                    <tr>
                        <td>Pegawai Teknologi Maklumat</td>
                        <td>Pegawai Penyiasat </td>
                        <td>Jurufoto/ Jurukamera</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e" colspan="2"></td>
        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Alternatif Bidang Pengajian</strong></td>
            <td class="tg-031e">:</td>
            <td>
                <table width="700" border="1">
                    <tr>
                        <td>Kejuruteraan</td>
                        <td> Penerbangan</td>
                        <td>Sains Komputer</td>
                    </tr>
                    <tr>
                        <td>Sains Pertanian</td>
                        <td>Sains Perhutanan </td>
                        <td>Sains Samudera</td>
                    </tr>
                    <tr>
                        <td>Pengajian Alam Sekitar </td>
                        <td>Bioteknologi </td>
                        <td>Geologi/ Geofizik</td>
                    </tr>
                    <tr>
                        <td>Perhotelan </td>
                        <td>Perubatan</td>
                        <td>Senibina</td>
                    </tr>
                    <tr>
                        <td>Sains Kesihatan </td>
                        <td>Penyiaran</td>
                        <td>Pengurusan</td>
                    </tr>
                    <tr>
                        <td>Veterinar/ Zoologi </td>
                        <td>Pergigian </td>
                        <td>Farmasi</td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e" colspan="2"></td>
        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Nota</strong></td>
            <td class="tg-031e">:</td>
            <td class="tg-031e" align="justify">Sekiranya anda ingin mengetahui interpretasi ujian secara lebih terperinci, sila hubungi pentadbir sistem anda atau pentadbir sistem di Jabatan Perkhidmatan Awam Malaysia.</td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
        </tr>
    </table>

<pre>
  @Model.ToString()
</pre>
</body>
</html>
