@model web.sph.App_Code.IbkTraitViewModel
@{
    Layout = null;
}
<html>
<head>
    <title>Laporan untuk @Model.Sesi.NamaPengguna</title>
    <link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
    <h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>

<style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .tg td {
                font-family: Arial, sans-serif;
                font-size: 14px;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg th {
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg .tg-s6z2 {
                text-align: center;
            }

            .tg .tg-e3zv {
                font-weight: bold;
            }
    </style>
    <table class="tg">
        <tr>
            <th class="tg-031e" colspan="3">Berdasarkan kepada analisis ujian:</th>
        </tr>
        <tr>
            <td width="168" height="22" class="tg-e3zv"><strong>Kod Kerjaya Anda</strong></td>
            <td width="11" class="tg-s6z2">:</td>
            <td width="887" class="tg-e3zv"><strong>IPM</strong></td>
        </tr>
        <tr><td></td><td></td><td><br></td></tr>
        <tr>
            <td class="tg-031e"></td>
            <td></td>
            <td class="tg-031e" colspan="2">
                <table width="723" border="0">
                    <tr>
                        <td width="717"><strong>KERJAYA</strong></td>
                    </tr>
                    <tr>
                        <td>-Canselor Institusi Pendidikan </td>
                    </tr>
                    <tr>
                        <td>-Pengarah:- Muzium/ Pusat Kraftangan<br>
                          -Pengarah:- Perkhidmatan Bukan Kerajaan/ Sukan/ -Pengadil<br>
                          -Pengarah:- Pemasaran Media/ Stesen Radio @  Televisyen<br>
                          -Pengarah:- Trafik/ Pengangkutan<br>
                          -Pengarah:- Perkhidmatan Insuran/ Pejabat Broker<br>
-Pengarah:- Zoo</td>
                    </tr>
                    <tr>
                        <td>-Pengurus:- Lapangan Terbang/ Pelabuhan<br>
                          -Pengurus:- Perkhidmatan Kereta Sewa/ Stesyen Minyak<br>
                          -Pengurus:- Pusat Rekreasi/ Perkhemahan/ Hotel/ Apartmen/  Agensi Pelancongan<br>
                          -Pengurus:- Kedai Roti/ Restoran Makanan Segera <br>
                          -Pengurus:- Atlit/ Perhubungan Pekerja/ Perniagaan Kolej/  Universiti/ Perkhidmatan Teknikal Pelanggan<br>
-Pengurus:- Gudang/ Ladang/ Pejabat/ Stor/ Teater </td>
                    </tr>
                     <tr>
                        <td><br></td>
                    </tr>
 <tr>
                        <td><strong>BIDANG PENGAJIAN</strong></td>
                  </tr>
 <tr>
                        <td>-Pendidikan</td>
                  </tr> <tr>
                        <td>-Sejarah/ Pendidikan Muzium/ Sukan/ Pemasaran/  Komunikasi/ Pengedaran &amp; Pemasaran/ Pengadil</td>
                        </tr>

 <tr>
                        <td>-Perkhidmatan Pramugari<br>
                          -Penyediaan Makanan (Katerer)/ Masakan/ Perhotelan<br>
                          -Hartanah/ Pemasaran Kenderaan @ Perkhidmatan @ Produk <br>
                          -Rekreasi Kesenian @ Awam/ Senireka Hiasan Dalaman/ Seni  Ukiran Makanan/ Seni Dandanan @ Kosmetik<br>
                          -Operasi Perniagaan/ Perladangan/ Rangkaian Makanan Segera/  Restoran/ Pembelian &amp; Penjualan Makanan/ Francais<br>
-Material &amp; Logistik/ Kontrak &amp; Pembelian</td>
                  </tr>
<tr><td></td><td></td><td><br></td></tr>
                </table>
            </td>

        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Kategori Kerjaya</strong></td>
            <td class="tg-s6z2">:</td>
            <td class="tg-e3zv">INOVATIF (I)</td>
        </tr>
        <tr><td></td><td></td><td><br></td></tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
            <td class="tg-031e" align="justify">Anda digambarkan sebagai  seorang yang aktif bertenaga, berdaya saing,  bercita-cita tinggi dan berpandangan positif terhadap kehidupan.  Anda seorang yang berkeyakinan tinggi,  bersedia mengetuai sesuatu tugasan, boleh berkomunikasi dan membuat pengucapan  awam dengan baik.  Anda suka kepada aktiviti yang  tahan lasak, berbentuk persaingan dan memberi peluang untuk bersuara. <br><br>
              Anda mempunyai hubungan  interpersonal yang baik dengan orang lain, bijak berbahasa dan berkebolehan  mencapai persetujuan dalam perbincangan.   Anda suka  bekerja dengan orang lain dan berasa tertarik dengan persekitaran yang  memerlukan anda untuk mempengaruhi, mengetuai atau mengurus matlamat organisasi.   Anda cenderung melibatkan diri dalam bidang pekerjaan seperti perniagaan,  jualan, pemasaran, pengurusan dan khidmat sokongan.<br><br>
              Anda berpegang kepada konsep ‘Laksanakannya’  dan suka kepada idea yang boleh  diaplikasikan.  Di akhir pelaksanaan tugas, anda  berasa bangga apabila sesuatu tugasan itu berjaya direalisasikan dan anda berpeluang  menyaksikan kejayaan tersebut.</td>
        </tr>
        <tr><td></td><td></td><td><br></td></tr>
        <tr>
            <td class="tg-e3zv"><strong>Alternatif Pilihan Kerjaya</strong></td>
            <td class="tg-031e">:</td>
            <td>
                <table width="700" border="0">
                    <tr>
                        <td>Pegawai  Percukaian   </td>
                        <td>Pegawai  Statistik (Perangkawan)</td>
                        <td>Pegawai  Kewangan/ Belanjawan</td>
                    </tr>
                    <tr>
                        <td>Perunding  Komunikasi</td>
                        <td>Eksekutif  Perniagaan/ Jualan</td>
                        <td>Jurutera</td>
                    </tr>
                    <tr>
                        <td>Pegawai  Polis</td>
                        <td>Pengurus</td>
                        <td>Juruaudit </td>
                    </tr>
                    <tr>
                        <td>Pensyarah/  Dekan</td>
                        <td>Akauntan</td>
                        <td>Ahli  Politik</td>
                    </tr>
                    <tr>
                        <td>Pegawai Bomba </td>
                        <td>Agen Perisikan</td>
                        <td>Pegawai Perkhidmatan Pelanggan</td>
                    </tr>
                    <tr>
                        <td>Pegawai Undang-Undang</td>
                        <td>Agen Pelancongan</td>
                        <td>Pegawai Perancang Bandar</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td></td><td></td><td><br></td></tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e" colspan="2"></td>
        </tr>
        <tr>
            <td class="tg-e3zv" ><strong>Alternatif Bidang Pengajian</strong></td>
            <td class="tg-031e">:</td>
            <td>
                <table width="700" border="0">
                    <tr>
                        <td width="190">Pengurusan</td>
                        <td width="248">Komunikasi  &amp; Massa Media</td>
                        <td width="240">Perhotelan/  Pelancongan</td>
                    </tr>
                    <tr>
                        <td>Pemasaran</td>
                        <td>Kewangan</td>
                        <td>Pendidikan</td>
                    </tr>
                    <tr>
                        <td>Sains  Politik</td>
                        <td>Sains  Aktuari</td>
                        <td>Ekonomi</td>
                    </tr>
                    <tr>
                        <td>Sains Kesihatan</td>
                        <td>Statistik</td>
                        <td>Perundangan</td>
                    </tr>
                     <tr>
                        <td>Penerbangan</td>
                        <td>Sains Sosial</td>
                        <td>Seni Bina</td>
                    </tr>
                     <tr>
                        <td>Muzik</td>
                        <td>Penyiaran</td>
                        <td>Seni Lakonan/ Teater</td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr><td></td><td></td><td><br></td></tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e" colspan="2"></td>
        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Nota</strong></td>
            <td class="tg-031e">:</td>
            <td class="tg-031e" align="justify">Sekiranya anda ingin mengetahui interpretasi ujian secara lebih terperinci, sila hubungi pentadbir sistem anda atau pentadbir sistem di Jabatan Perkhidmatan Awam Malaysia.</td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
        </tr>
    </table>

<pre>
  @Model.ToString()
</pre>
</body>
</html>
