@model web.sph.App_Code.IpTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>
  @Html.Partial("_Trait-Ip-Header")

<pre>
Berdasarkan kepada analisis ujian, secara umumnya dari aspek:

Hubungan Interpersonal	:	Pasif Sosial
Memperoleh Maklumat		:	Gerak Hati
Membuat Keputusan		:	Empati
Cara Gaya Kehidupan		:	Spontan

Perwatakan
Anda mempamerkan diri sebagai seorang yang prihatin, penyayang, idealistik, kreatif, berwawasan dan boleh mengimbas kemungkinan perubahan positif yang diperlukan pada masa hadapan.  Anda suka membaca dan berbincang, mengutamakan nilai, boleh melihat hubungan tentang sesuatu idea dengan segera serta berpegang kepada komitmen moral yang penting. 

Dari aspek hubungan interpersonal, anda fokus kepada interaksi manusia dan berasa tertarik untuk mengetahui personaliti diri atau orang lain.  Anda boleh mengenali dan mengiktiraf keperluan emosi serta psikologi orang lain walaupun mereka mungkin tidak meluahkan keperluan tersebut kepada anda.  Anda komited dalam memenuhi tanggungjawab terhadap orang lain, kerja atau idea yang mempunyai kepentingan kepada anda.  

Pekerjaan
Secara umumnya, anda mahu konsep harmoni, keseronokan bekerja dan sokongan antara rakan sekerja diamalkan dalam organisasi. Anda bersikap terbuka dan spontan, mahukan fleksibiliti dalam tugas, membina idea secara dalaman dan berpegang kepada nilai.  Anda mempelajari tugas baru melalui pembacaan dan refleksi diri serta memberi tumpuan dan melibatkan diri sepenuhnya dalam sesuatu projek.

Dari aspek pekerjaan, anda suka bekerja sendirian tanpa gangguan apabila memberi tumpuan terhadap tugas.  Anda berasa terikat dengan tugas yang berstruktur dan berjadual serta sukar melakukan tugas rutin yang mempunyai kepentingan yang rendah.  Bagaimanapun, anda sedia bekerja sepenuh tenaga sekiranya tugas tersebut boleh memberi sumbangan kepada pembangunan dan peningkatan diri serta orang lain.  

Dari aspek membuat keputusan, anda menggunakan gerak hati, nilai dan empati untuk memahami serta mencapai kata sepakat.  

Pengurusan Perubahan
Apabila sesuatu perubahan dicadangkan, anda mempamerkan sifat ingin tahu dan sedia menerima perubahan serta cara baru melakukan sesuatu kerja.  Anda sedia membuat perubahan setelah mencari dan menilai maklumat yang diperoleh berdasarkan kepada nilai atau prinsip sedia ada.  Anda boleh menyelesaikan masalah baru yang kompleks tetapi mengikut masa sendiri.  

Kepimpinan
Dari aspek kepimpinan, anda seorang ketua yang mesra, fleksibel, suka memberi dorongan dan membenarkan individu memilih cara gaya bekerja yang bersesuaian.  Anda juga menggalakkan semangat kerja berpasukan, melibatkan orang lain dalam membuat keputusan dan berkongsi ganjaran.

Sebagai pengikut, anda bersemangat menyempurnakan tugas jika dilayan dengan hormat.

Persepsi Orang Lain
Dari aspek hubungan interpersonal, anda suka memendam perasaan dan memilih orang tertentu untuk berkongsi nilai serta perasaan.  Anda menghargai individu yang mengambil masa untuk memahami nilai dan matlamat anda kerana hubungan tersebut berdasarkan kepada keintiman, keikhlasan dan pembangunan bersama. Namun, kadang kala apabila anda meluahkan nilai diri, ia boleh memberi tekanan dan memeranjatkan orang lain.

Dari aspek perwatakan, anda seorang yang kompleks dan sukar difahami tetapi boleh menyesuaikan diri.  Anda tidak suka kepada peraturan atau sesuatu yang berstruktur kerana ia mengongkong anda.  Oleh yang demikian, apabila sesuatu perkara melanggar nilai diri, anda akan berhenti membuat penyesuaian tersebut.  

Reaksi Terhadap Stres
Apabila mengalami stres yang tinggi, anda mula tertanya-tanya tentang kecekapan diri dan orang lain.  Anda mula mengambil serius terhadap isu berkaitan, bersikap kritis dan mula menilai orang lain.


</pre>
<pre>
  @Model.ToString()
</pre>
</body>
</html>
