@model web.sph.App_Code.IbkTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>

<pre>
Berdasarkan kepada analisis ujian:
(1)	Kod Kerjaya Anda	:	TPI/TIP	

	KERJAYA												BIDANG PENGAJIAN
	-Akauntan
	-Juruaudit
	-Penganalisis Belanjawan
	-Penyiasat Akaun/ Pegawai Kad Kredit				Perakaunan/ Statistik

	Pendaftar Muzium	
	-Penerbit Radio
	-Pegawai Penyiaran
	-Pengurus :- Pembaikan/ Radiofoto						Penyiaran


(2)	Kategori Kerjaya	:	 TRADISIONAL (T)

Anda digambarkan sebagai seorang yang mempunyai kawalan diri yang tinggi, tenang, tabah hati dan berhati-hati.  Anda menjalankan tugas dengan bersungguh-sungguh, terperinci, teliti dan mematuhi setiap arahan yang dinyatakan.  Anda berasa tertarik kepada pekerjaan yang menggunakan data dan boleh dipraktikkan seperti pentadbiran, pengurusan atau perangkaan.

Anda suka bekerja dalam persekitaran pekerjaan yang sistematik dan mempunyai skop tugas yang jelas serta terperinci agar anda dapat melakukannya secara efisien.  Anda cenderung memilih pekerjaan yang memerlukan anda untuk mengurus dan merancang aktiviti yang berstruktur seperti pemeriksa bank, juruaudit dan pegawai percukaian.

Anda berpegang kepada nilai tradisi dan bersetuju dengan konsep ‘Teruskannya’.  Anda melaksanakan tugas seperti yang dirancangkan, mempunyai kemahiran mengurus dan mengira yang baik.  Di akhir pelaksanaan tugas, anda berasa bangga melihat pengurusan pejabat beroperasi dengan lancar dan memahami bagaimana individu memberi sumbangan kepada organisasi.

Alternatif Pilihan Kerjaya:
Editor 	Penerbit/ Pegawai Penyiaran	Penganalisis 
Pakar Keselamatan Komputer	Juruaudit		Pegawai Tadbir
Pustakawan	Penyalin Muzik	Akauntan
Pegawai Bank	Penyelia	Pegawai Kastam
Setiausaha	Agen Pelancongan	Penyiasat
Koordinator	Jurutera	Pemeriksa
	
Alternatif Bidang Pengajian:
Pengurusan		Massa Media & Komunikasi	Kewangan/ Perbankan
Kejuruteraan 	Sains Kesihatan	Perakaunan
Perniagaan	Sains Aktuari	Sains Perpustakaan
Kesetiausahaan	Sains Komputer	Perundangan
Muzik	Statistik	Penyiaran
Media & Animasi	Seni Lanskap	

Nota:
Sekiranya anda ingin mengetahui interpretasi ujian secara lebih terperinci, sila hubungi pentadbir sistem anda atau pentadbir sistem di Jabatan Perkhidmatan Awam Malaysia.

</pre>
<pre>
  @Model.ToString()
</pre>
</body>
</html>
