@model web.sph.App_Code.HlpTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>


<pre>
  @Model.ToString()
</pre>
</body>
</html>
