@model web.sph.App_Code.IpTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>
  @Html.Partial("_Trait-Ip-Header")

<pre>
Berdasarkan kepada analisis ujian, secara umumnya dari aspek:

Hubungan Interpersonal	:	Pasif Sosial
Memperoleh Maklumat		:	Fakta
Membuat Keputusan		:	Empati
Cara Gaya Kehidupan		:	Spontan

Perwatakan
Anda mempamerkan diri sebagai seorang yang boleh dipercayai, baik hati, bertimbang rasa, empati, prihatin, realistik dan praktikal.  Anda mementingkan fakta dan menggunakan nilai sebagai panduan dalam hidup.  Anda suka memerhati dan peka kepada perubahan persekitaran.

Anda menghargai dan mahu menikmati setiap detik keseronokan dalam kehidupan sekarang.  Anda boleh bertoleransi dan memberi kebebasan kepada orang lain agar mereka mempunyai ruang atau mengikut hala tuju diri.

Dari aspek hubungan interpersonal, anda mengambil masa membina hubungan rapat dengan orang lain tetapi apabila hubungan tersebut terbentuk, ia sangat penting kepada anda.  Anda meluahkan kesetiaan secara spontan dalam pelbagai cara yang tersirat dan memenuhi tanggungjawab kepada individu atau perkara yang penting kepada anda.  Anda sedia memberi sumbangan demi kesejahteraan atau kebahagiaan orang lain dan boleh menyesuaikan diri mengikut perasaan serta keperluan orang lain.

Pekerjaan
Secara umumnya, anda cuba mencapai kata sepakat di kalangan rakan sekerja dan mahukan konsep harmoni, keseronokan bekerja serta sokongan antara rakan sekerja diamalkan dalam organisasi.  Anda mempelajari tugas baru dengan melakukan tugas tersebut dan suka menggunakan cara standard untuk melakukan sesuatu perkara.

Dari aspek pekerjaan, anda suka bekerja sendirian tanpa gangguan apabila memberi tumpuan terhadap tugas yang perlu diselesaikan dengan segera.  Anda bekerja dengan penuh dedikasi bila melakukan sesuatu yang dipercayai dan melihat tugas yang dilakukan lebih daripada sebuah pekerjaan.  Anda mahukan fleksibiliti dalam tugas, bersikap terbuka dan spontan, tidak suka kepada tugas rutin dan berasa terikat dengan tugas yang berstruktur atau berjadual.  

Dari aspek membuat keputusan, anda memberi tumpuan kepada interaksi manusia, menggunakan nilai secara konsisten, mengumpul data dan mengambil kira pengalaman diri serta orang lain.



Pengurusan Perubahan
Apabila sesuatu perubahan dicadangkan, anda mempamerkan sifat ingin tahu dan menilai maklumat yang diperoleh berdasarkan kepada nilai atau prinsip sedia ada.  Anda mencari maklumat yang fleksibel dan membuat perubahan berdasarkan keputusan yang dibuat mengikut masa sendiri.

Kepimpinan
Dari aspek kepimpinan, anda seorang ketua yang mesra, fleksibel, suka memberi dorongan dan membenarkan individu memilih cara gaya bekerja yang bersesuaian.  Anda juga menggalakkan semangat kerja berpasukan, melibatkan orang lain dalam membuat keputusan dan berkongsi ganjaran.

Sebagai pengikut, anda bersemangat menyempurnakan tugas jika dilayan dengan hormat.

Persepsi Orang Lain
Dari aspek hubungan interpersonal, anda mengambil berat dan mempamerkan sokongan yang diberi terhadap orang lain melalui perbuatan.

Dari aspek perwatakan, anda seorang yang pendiam, memendam perasaan dan sukar dikenali.  Bagaimanapun, anda seorang yang bertoleransi, bersikap rendah diri, mesra, suka berjenaka dan bersemangat tetapi karakter ini mungkin tidak kelihatan atau tidak dijangka oleh orang lain yang tidak mengenali anda dengan baik.

Anda bersikap fleksibel mengikut situasi dan berhenti menyesuaikan diri apabila perkara penting kepada anda berada di ambang bahaya.  Anda mengambil mudah terhadap apa yang boleh dilakukan dan membuat terlalu banyak perbezaan antara standard dalaman dengan tingkah laku sebenar dan pencapaian.  

Reaksi Terhadap Stres
Apabila mengalami stres yang tinggi, anda mungkin mempamerkan sikap yang berbeza dan meluahkan penilaian serta kritikan negatif secara verbal terhadap diri dan orang lain.


</pre>
<pre>
  @Model.ToString()
</pre>
</body>
</html>
