@model web.sph.App_Code.IbkTraitViewModel
@{
    Layout = null;
}
<html>
<head>
    <title>Laporan untuk @Model.Sesi.NamaPengguna</title>
    <link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
    <h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>

<style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .tg td {
                font-family: Arial, sans-serif;
                font-size: 14px;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg th {
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg .tg-s6z2 {
                text-align: center;
            }

            .tg .tg-e3zv {
                font-weight: bold;
            }
    </style>
    <table class="tg">
        <tr>
            <th class="tg-031e" colspan="3">Berdasarkan kepada analisis ujian:</th>
        </tr>
        <tr>
            <td width="233" height="22" class="tg-e3zv"><strong>Kod Kerjaya Anda</strong></td>
            <td width="16" class="tg-s6z2">:</td>
            <td width="936" class="tg-e3zv"><strong>TIK</strong></td>
        </tr>
        <tr><td></td><td></td><td><br></td></tr>
        <tr>
            <td class="tg-031e"></td>
            <td></td>
            <td class="tg-031e" colspan="2">
          <table width="723" border="0">
                    <tr>
                        <td width="717"><strong>KERJAYA</strong></td>
                    </tr>
                  
                    <tr>
                        <td>*  Sila rujuk  pilihan kerjaya di bawah kategori T</td>
                    </tr>
                   
                     <tr>
                        <td><br></td>
                    </tr>
 <tr>
                        <td><strong>BIDANG PENGAJIAN</strong></td>
                  </tr>
 <tr>
                        <td><p>*  Sila rujuk  pilihan bidang pengajian di bawah kategori   T</p>
</td>
                  </tr> 
                   <tr>
                        <td>&nbsp;</td>
                  </tr>
                   <tr>
                        <td><p>&nbsp;</p>
</td>
                  </tr>
                        
                
<tr><td></td><td></td><td><br></td></tr>
                </table>
            </td>

        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Kategori Kerjaya</strong></td>
            <td class="tg-s6z2">:</td>
            <td class="tg-e3zv">
            TRADISIONAL (T)</td>
        </tr>
        <tr><td></td><td></td><td><br></td></tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
            <td class="tg-031e" align="justify">Anda digambarkan sebagai  seorang yang mempunyai kawalan diri  yang tinggi, tenang, tabah hati dan berhati-hati.<br>
            Anda menjalankan tugas dengan  bersungguh-sungguh, terperinci, teliti  dan mematuhi setiap arahan yang dinyatakan.<br>
             Anda berasa tertarik kepada pekerjaan yang menggunakan data dan boleh  dipraktikkan seperti pentadbiran,  pengurusan atau perangkaan.<br>
            <br>
              Anda suka bekerja dalam persekitaran pekerjaan yang sistematik  dan mempunyai skop tugas yang jelas serta terperinci agar anda dapat  melakukannya secara efisien. <br>Anda cenderung  memilih pekerjaan yang memerlukan anda untuk mengurus dan merancang aktiviti  yang berstruktur seperti pemeriksa bank, <br>
              juruaudit dan pegawai percukaian.<br><br>
            Anda  berpegang kepada nilai tradisi dan bersetuju dengan konsep ‘Teruskannya’. <br>Anda melaksanakan  tugas seperti yang dirancangkan, mempunyai kemahiran mengurus dan mengira  yang baik. <br> Di akhir pelaksanaan tugas, anda berasa bangga melihat pengurusan pejabat  beroperasi dengan lancar dan memahami bagaimana individu memberi sumbangan<br>  kepada organisasi.</td>
        </tr>
        <tr><td></td><td></td><td><br></td></tr>
        <tr>
            <td class="tg-e3zv"><strong>Alternatif Pilihan Kerjaya</strong>
            </td>
            <td class="tg-031e">:</td>
            <td>
                <table width="700" border="0">
                    <tr>
                        <td>Editor </td>
                        <td>Penerbit/  Pegawai Penyiaran</td>
                        <td>Penganalisis </td>
                    </tr>
                    <tr>
                        <td>Pakar  Keselamatan Komputer</td>
                        <td>Juruaudit</td>
                        <td>Pegawai  Tadbir</td>
                    </tr>
                    <tr>
                        <td>Pustakawan</td>
                        <td>Penyalin  Muzik</td>
                        <td>Akauntan</td>
                    </tr>
                    <tr>
                        <td>Pegawai  Bank</td>
                        <td>Penyelia</td>
                        <td>Pegawai Kastam</td>
                    </tr>
                    <tr>
                        <td>Setiausaha</td>
                        <td>Agen Pelancongan</td>
                        <td>Penyiasat</td>
                    </tr>
                    <tr>
                        <td>Koordinator</td>
                        <td>Jurutera</td>
                        <td>Pemeriksa</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td></td><td></td><td><br></td></tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e" colspan="2"></td>
        </tr>
        <tr>
            <td class="tg-e3zv" ><strong>Alternatif Bidang Pengajian</strong></td>
            <td class="tg-031e">:</td>
            <td>
                <table width="700" border="0">
                    <tr>
                        <td width="190">Pengurusan</td>
                        <td width="248">Massa  Media &amp; Komunikasi</td>
                        <td width="240">Kewangan/  Perbankan</td>
                    </tr>
                    <tr>
                        <td>Kejuruteraan </td>
                        <td>Sains  Kesihatan</td>
                        <td>Perakaunan</td>
                    </tr>
                    <tr>
                        <td>Perniagaan</td>
                        <td>Sains  Aktuari</td>
                        <td>Sains  Perpustakaan</td>
                    </tr>
                    <tr>
                        <td>Kesetiausahaan</td>
                        <td>Sains  Komputer</td>
                        <td>Perundangan</td>
                    </tr>
                     <tr>
                        <td>Muzik</td>
                        <td>Statistik</td>
                        <td>Penyiaran</td>
                    </tr>
                     <tr>
                        <td>Media &amp; Animasi</td>
                        <td>Seni Lanskap</td>
                        <td>&nbsp;</td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr><td></td><td></td><td><br></td></tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e" colspan="2"></td>
        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Nota</strong></td>
            <td class="tg-031e">:</td>
            <td class="tg-031e" align="justify">Sekiranya anda ingin mengetahui interpretasi ujian secara lebih terperinci, sila hubungi pentadbir sistem anda atau pentadbir sistem<br> di Jabatan Perkhidmatan Awam Malaysia.</td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
        </tr>
    </table>

<pre>
  @Model.ToString()
</pre>
</body>
</html>
