@model web.sph.App_Code.IpTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>
  @Html.Partial("_Trait-Ip-Header")

<pre>
Berdasarkan kepada analisis ujian, secara umumnya dari aspek:

Hubungan Interpersonal	:	Aktif Sosial
Memperoleh Maklumat		:	Fakta
Membuat Keputusan		:	Rasional
Cara Gaya Kehidupan		:	Fleksibel

Perwatakan
Anda mempamerkan diri sebagai seorang yang praktikal dan realistik, berkeyakinan serta suka berterus terang.  Anda mempunyai semangat berpasukan, boleh menerima perbezaan pandangan dan sedia memberi maklum balas kreatif kepada situasi mencabar.  Anda suka mencuba cara baru atau memudahkan sistem sedia ada dan menjadikannya sebagai sesuatu yang menyeronokkan.

Dari aspek hubungan interpersonal, anda suka berinteraksi secara sosial dan mempamerkan minat terhadap perkara atau pengalaman baru yang berlaku di sekeliling anda.  Anda sering diminta menghadiri aktiviti sosial seperti majlis keraian kerana kebolehan anda menghidupkan dan mewujudkan keseronokan dalam majlis sedemikian.

Pekerjaan
Secara umumnya, anda seorang yang tegas dan berpegang kepada prinsip, bersikap terbuka serta boleh memberi kritikan apabila perlu.  Anda  suka kepada fleksibiliti dan berasa terikat dengan peraturan, struktur atau jadual.  

Dari aspek pekerjaan, anda mahukan konsep keseronokan bekerja, hormat-menghormati dan keadilan sesama rakan sekerja diamalkan dalam organisasi.  Anda boleh melihat sesuatu isu mengikut situasi semasa dan mengambil tindakan segera bagi memenuhi keperluan tersebut.  

Apabila anda dikehendaki melakukan tugas baru, anda mempelajarinya melalui perbualan atau terus melakukannya kerana percaya kepada kebolehan diri dan maklumat sedia ada. Anda suka membina idea melalui perbincangan dan berminat bagaimana orang lain melakukan tugas mereka.

Dari aspek membuat keputusan, anda mengambil tindakan dengan menganalisis secara logik maklumat yang diperoleh dan mengambil kira pengalaman diri serta orang lain. 

Pengurusan Perubahan
Apabila sesuatu perubahan dicadangkan, anda mendapatkan khidmat nasihat  daripada sumber yang boleh dipercayai.  Anda bersikap ingin tahu atau skeptikal (ragu-ragu) terhadap perubahan dan hanya sedia berubah setelah menerima maklumat baru.  Sekiranya perubahan tersebut memberi ruang untuk bertindak dan mempamerkan kreativiti, anda akan mengumpulkan sumber serta mengerakkan orang lain untuk melaksanakannya. 

Kepimpinan
Dari aspek kepimpinan, anda mempamerkan konsep ‘kepimpinan melalui teladan’.  Anda menghargai dan mempamerkan kepakaran teknikal serta membuat kerangka tugasan yang sistematik dan konsisten.  Anda boleh menyelesaikan masalah secara efektif jika berminat dengan isu yang dikemukakan.  

Sebagai pengikut, anda seorang yang berorientasikan tindakan dan tidak suka menerima arahan secara teori atau bertulis.

Persepsi Orang Lain
Dari aspek hubungan interpersonal, anda menghargai kehidupan dan orang lain serta menghayati semangat dan unsur jenaka yang ada dalam diri.  

Dari aspek perwatakan, anda seorang yang ceria, aktif bertenaga, bersikap spontan, suka kepada keseronokan dan aktiviti lasak serta sedia mengambil risiko.  

Reaksi Terhadap Stres
Apabila mengalami stres yang tinggi, anda mungkin mengalami fikiran atau imaginasi negatif bahawa orang lain tidak prihatin terhadap anda.  Kesan daripada kepercayaan ini mendorong anda menggunakan maklumat yang salah untuk membuktikan bahawa fikiran atau imaginasi tersebut adalah benar.


</pre>
<pre>
  @Model.ToString()
</pre>
</body>
</html>
