@model web.sph.App_Code.IpTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>
  @Html.Partial("_Trait-Ip-Header")

<pre>
Berdasarkan kepada analisis ujian, secara umumnya dari aspek:

Hubungan Interpersonal	:	Aktif Sosial
Memperoleh Maklumat		:	Gerak Hati
Membuat Keputusan		:	Empati
Cara Gaya Kehidupan		:	Spontan

Perwatakan
Anda mempamerkan diri sebagai seorang yang prihatin, suka bekerjasama dan memberi sokongan serta mencapai kata sepakat dengan memberikan penghargaan kepada orang lain.  Sikap anda yang menghargai keharmonian, pandai mengambil hati dan boleh menyesuaikan diri menjadikan anda dikenali ramai walau di mana anda berada.  

Anda suka mencipta, bersikap ingin tahu dan melihat kehidupan sebagai satu pengembaraan yang kreatif serta menyeronokkan.  Anda menggunakan gerak hati apabila memulakan sesuatu projek dan memberi sepenuh tenaga bagi mempengaruhi orang lain agar berjaya mencapai matlamat yang ditetapkan.

Dari aspek hubungan interpersonal, anda seorang yang peramah, mudah mengalami pelbagai emosi dan berasa seronok berjumpa kenalan baru kerana boleh memperoleh idea atau pengalaman berbeza.

Pekerjaan
Secara umumnya, anda mahukan konsep keharmonian, keseronokan bekerja dan sokongan antara rakan sekerja diamalkan dalam organisasi.   

Dari aspek pekerjaan, anda suka kepada fleksibiliti dalam tugas dan berasa terikat dengan tugas rutin, berstruktur atau berjadual.  Anda membina idea melalui perbincangan, mempelajari tugas baru melalui perbualan dan perlakuan serta mempamerkan minat bagaimana orang lain melakukan tugas mereka.  

Dari aspek membuat keputusan, anda suka menyelesaikan masalah baru yang kompleks dan menggunakan perasaan, nilai peribadi serta empati untuk memahami dan mengenal pasti sesuatu isu sebelum mengambil tindakan.  

Pengurusan Perubahan
Apabila sesuatu perubahan dicadangkan, anda mendapatkan khidmat nasihat  daripada sumber yang boleh dipercayai.  Sekiranya perubahan tersebut memberi ruang untuk bertindak dan mempamerkan kreativiti, anda akan mengumpulkan sumber serta mengerakkan orang lain untuk melaksanakannya. 


Kepimpinan
Dari aspek kepimpinan, anda seorang ketua yang mesra, fleksibel, suka memberi dorongan dan membenarkan individu memilih cara gaya bekerja yang bersesuaian.  Anda juga menggalakkan semangat kerja berpasukan, melibatkan orang lain dalam membuat keputusan dan berkongsi ganjaran.

Sebagai pengikut, anda bersemangat menyempurnakan tugas jika dilayan dengan hormat.

Persepsi Orang Lain
Dari aspek hubungan interpersonal, anda seorang yang aktif bertenaga dan ceria, mempunyai ramai kawan serta berminat dalam banyak perkara sehingga orang lain berasa tertarik untuk bersama anda.  Anda seorang yang mudah berbicara dan boleh memberikan pendapat secara spontan tetapi  berasa janggal dan kekok apabila nilai yang mendalam perlu diluahkan. 

Dari aspek perwatakan, anda seorang yang suka memerhati, bersikap spontan, berkomunikasi secara terbuka dan menghargai nilai serta hubungan rapat dengan orang lain.

Reaksi Terhadap Stres
Apabila mengalami stres yang tinggi, anda mungkin berasa terbeban dengan ketelitian dan hilang kebolehan membuat jangkaan.  Anda mungkin mengalami kecelaruan fikiran atau menjadi terlalu fokus kepada perkara kecil kerana memikirkan isu tersebut adalah permasalahan utama.

</pre>
<pre>
  @Model.ToString()
</pre>
</body>
</html>
