@model web.sph.App_Code.IbkTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>

<pre>
Berdasarkan kepada analisis ujian:
(1)	Kod Kerjaya Anda	:	PKT/PTK	

	KERJAYA												BIDANG PENGAJIAN
	Jurukamera
	*  Sila rujuk pilihan kerjaya di bawah kategori P	-Pendidikan
														-Teknologi Media
														*  Sila rujuk pilihan bidang pengajian di bawah kategori P



(2)	Kategori Kerjaya	:	PRAKTIKAL (P)

Secara umumnya, anda digambarkan sebagai seorang yang bercita-cita tinggi, bersungguh-sungguh apabila melakukan tugas, suka berterus terang dan ikhlas dalam perhubungan dengan orang lain.  Anda seorang yang mematuhi peraturan, mempunyai kawalan diri yang tinggi, tidak suka menonjolkan diri, mesra dan peramah serta menjalani kehidupan seharian secara sederhana.  

Dari perspektif penglibatan diri dengan dunia luar, anda dilihat sebagai seorang yang berkebolehan atau meminati bidang keolahragawan, atau mempunyai bentuk fizikal yang tegap dan gagah.  Anda cenderung melibatkan diri terutamanya dengan aktiviti luaran yang berbentuk fizikal, tahan lasak atau yang boleh merangsang daya fikir.

Anda berpegang kepada konsep “Lakukannya dan cenderung memilih menyelesaikan permasalahan berdasarkan kepada fakta berbanding abstrak.  Anda cenderung menceburi pekerjaan yang berkaitan dengan bidang teknikal atau mekanikal.  Anda berasa tertarik kepada pekerjaan yang membolehkan anda melakukan tugas atau mempraktikkan kemahiran yang dipelajari seperti menggunakan peralatan, mesin dan sebagainya.  Di akhir pelaksanaan tugas, anda berasa bangga dapat mempamerkan hasil kerja yang dilakukan.  

Alternatif Pilihan Kerjaya:
Jurutera	Juruterbang	Juruukur
Pegawai Polis		Pegawai Tentera	Pegawai Bomba
Pegawai Perhutanan	Pegawai Alam Sekitar	Pegawai Geologi
Chef	Pegawai Perubatan	Pegawai Veterinar
Arkitek	Pengurus	Pegawai Penyiaran
Pegawai Teknologi Maklumat	Pegawai Penyiasat	Jurufoto/ Jurukamera

Alternatif Bidang Pengajian:
Kejuruteraan		Penerbangan	Sains Komputer
Sains Pertanian	Sains Perhutanan	Sains Samudera
Pengajian Alam Sekitar	Bioteknologi	Geologi/ Geofizik
Perhotelan	Perubatan	Senibina
Sains Kesihatan	Penyiaran	Pengurusan
Veterinar/ Zoologi	Pergigian	Farmasi

Nota:
Sekiranya anda ingin mengetahui interpretasi ujian secara lebih terperinci, sila hubungi pentadbir sistem anda atau pentadbir sistem di Jabatan Perkhidmatan Awam Malaysia.




</pre>
<pre>
  @Model.ToString()
</pre>
</body>
</html>
