@model web.sph.App_Code.IpTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>
  @Html.Partial("_Trait-Ip-Header")

<pre>
Berdasarkan kepada analisis ujian, secara umumnya dari aspek:

Hubungan Interpersonal	:	Pasif Sosial
Memperoleh Maklumat		:	Gerak Hati
Membuat Keputusan		:	Empati
Cara Gaya Kehidupan		:	Sistematik

Perwatakan
Anda mempamerkan diri sebagai seorang kreatif, idealistik, konseptual dan berwawasan.  Anda berpegang kepada nilai diri dan sedia berkorban untuk pembangunan potensi diri serta individu yang penting kepada anda dan mencari jalan alternatif untuk mencapai matlamat tersebut.

Dari aspek hubungan interpersonal, anda seorang yang prihatin dan penyayang, memberi fokus kepada interaksi sosial manusia serta boleh mengetuai dan mempengaruhi orang lain.  

Pekerjaan
Secara umumnya anda sedia memberi sokongan dan mencapai kata sepakat di kalangan rakan sekerja kerana mahukan konsep keharmonian diamalkan dalam organisasi.  Anda seorang yang setia kepada individu yang mempunyai nilai yang sama dan kurang berminat terhadap mereka yang mempamerkan nilai yang berbeza.  

Dari aspek pekerjaan, anda suka bekerja secara bersendirian tanpa gangguan apabila perlu menyelesaikan tugas dengan segera.  Anda suka merancang dan melaksanakan tugas seperti yang ditetapkan.  Anda juga suka tugas yang berstruktur atau berjadual dan mempelajari tugas baru melalui pembacaan.

Dari aspek membuat keputusan, anda menggunakan gerak hati dan empati untuk memahami maksud, perasaan serta hubungan manusia yang kompleks dan mengambil tindakan. 

Pengurusan Perubahan
Apabila sesuatu perubahan dicadangkan, anda sedia menerima dan melaksanakannya jika perubahan tersebut selaras dengan prinsip atau nilai diri.  Bagaimanapun, sekiranya perubahan tersebut bercanggah dengan prinsip dan nilai diri, anda mungkin tidak bersedia membuat perubahan dan akan mempertahankan prinsip serta nilai sedia ada.

Kepimpinan
Dari aspek kepimpinan, anda seorang ketua yang mesra tetapi tegas dan suka memberi idea serta galakan kepada orang lain.  Anda juga berusaha mencapai persetujuan bersama, mewujudkan harmoni dan menggalakkan persekitaran tempat kerja yang menyokong antara satu sama lain.  

Sebagai pengikut, anda seorang yang setia jika ketua organisasi menghormati prinsip dan nilai anda.

Persepsi Orang Lain
Dari aspek hubungan interpersonal, anda boleh mempamerkan kasih sayang tetapi hanya berkongsi perkara peribadi dengan individu yang dipercayai.  Anda mungkin sukar dikenali kerana sangat menyimpan maklumat peribadi dan cubaan berkomunikasi secara peribadi kerap dibalas secara kiasan.

Dari aspek perwatakan, anda seorang yang individualistik, mempunyai kehidupan misteri (persendirian) dan menghargai keikhlasan serta komitmen dalam hubungan.  Anda mungkin suka memendam perasaan tetapi akan mempertahankan diri apabila nilai atau hak anda dipertikai.

Reaksi Terhadap Stres
Apabila mengalami stres yang tinggi, anda menjadi asyik dengan maklumat yang pada kebiasaannya dianggap tidak relevan.  Anda cenderung melakukan aktiviti harian secara keterlaluan seperti menonton program televisyen, makan berlebihan atau membeli barangan yang tidak bermakna kepada anda.


</pre>
<pre>
  @Model.ToString()
</pre>
</body>
</html>
