@model web.sph.App_Code.IpTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>
  @Html.Partial("_Trait-Ip-Header")

<pre>
Berdasarkan kepada analisis ujian, secara umumnya dari aspek:

Hubungan Interpersonal	:	Aktif Sosial
Memperoleh Maklumat		:	Fakta
Membuat Keputusan		:	Empati
Cara Gaya Kehidupan		:	Fleksibel

Perwatakan
Anda mempamerkan diri sebagai seorang yang baik hati, mudah bersimpati, berhati-hati, praktikal dan realistik.  Anda seorang yang suka mendesak dan seboleh mungkin tidak mahu peraturan mengganggu kehidupan.

Dari aspek hubungan interpersonal, anda suka berinteraksi secara sosial, kerap berperanan sebagai pendamai dan berupaya menggerakkan orang lain mengendalikan konflik atau krisis apabila berlaku.  

Anda suka memerhati tingkah laku manusia, boleh mengetahui apa yang berlaku dan prihatin terhadap keperluan orang lain.  Anda seorang yang optimistik terhadap kehidupan, berasa gembira dan menghargai apa yang diperoleh serta cuba memenuhi keperluan orang lain secara kreatif.

Pekerjaan
Secara umumnya, anda seorang yang bersikap terbuka dan fleksibel, suka kepada kepelbagaian dalam menjalankan tugas serta berasa terikat dengan pekerjaan yang berstruktur atau berjadual.  Apabila anda melakukan tugas baru, anda mempelajarinya melalui perbincangan, melakukan tugasan tersebut atau melihat bagaimana orang lain melakukannya.

Dari aspek pekerjaan, anda cuba memenuhi dan mencapai kata sepakat di kalangan rakan sekerja kerana mahukan keharmonian serta sokongan mereka dalam menyempurnakan tugas.  Anda bertindak cemerlang sebagai ahli pasukan dan boleh memberi tumpuan bagi menyelesaikan tugas dengan segera.  

Dari aspek membuat keputusan, anda berpegang kepada nilai diri, menggunakan maklumat sedia ada dan mengambil kira pengalaman diri serta orang lain. 

Pengurusan Perubahan
Apabila sesuatu perubahan dicadangkan, anda mendapatkan khidmat nasihat  daripada sumber yang boleh dipercayai.  Sekiranya perubahan tersebut memberi ruang untuk bertindak dan mempamerkan kreativiti, anda akan mengumpulkan sumber serta mengerakkan orang lain untuk melaksanakannya. 




Kepimpinan
Dari aspek kepimpinan, anda seorang ketua yang mesra, fleksibel, suka memberi dorongan dan membenarkan individu memilih cara gaya bekerja yang bersesuaian.  Anda juga menggalakkan semangat kerja berpasukan, melibatkan orang lain dalam membuat keputusan dan berkongsi ganjaran.

Sebagai pengikut, anda bersemangat menyempurnakan tugas jika dilayan dengan hormat.

Persepsi Orang Lain
Dari aspek hubungan interpersonal, anda seorang yang aktif bertenaga, ceria, bersemangat dan bermaklumat.  Sikap anda yang mudah menyesuaikan diri dan menggembirakan orang lain menyebabkan mereka berasa tertarik untuk bersama anda.

Dari aspek perwatakan, anda tidak suka teori atau penulisan yang memerlukan penjelasan, merancang atau melakukan aktiviti rutin dan akan mencari jalan untuk mengatasinya.  Anda percaya kepada kebolehan diri untuk bertindak dan mengendalikan situasi secara efektif pada masa yang dikehendaki.

Reaksi Terhadap Stres
Apabila mengalami stres yang tinggi, anda berasa sangat tertekan dan mula memikirkan perkara negatif yang mungkin berlaku.  Secara tidak langsung, anda mungkin membina penjelasan umum terhadap gambaran negatif yang difikirkan.


</pre>
<pre>
  @Model.ToString()
</pre>
</body>
</html>
