@model web.sph.App_Code.IbkTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>

<pre>
Berdasarkan kepada analisis ujian:
(1)	Kod Kerjaya Anda	:	
(2)	Kategori Kerjaya	:	INOVATIF (I)

Anda digambarkan sebagai seorang yang aktif bertenaga, berdaya saing, bercita-cita tinggi dan berpandangan positif terhadap kehidupan.  Anda seorang yang berkeyakinan tinggi, bersedia mengetuai sesuatu tugasan, boleh berkomunikasi dan membuat pengucapan awam dengan baik.  Anda suka kepada aktiviti yang tahan lasak, berbentuk persaingan dan memberi peluang untuk bersuara.

Anda mempunyai hubungan interpersonal yang baik dengan orang lain, bijak berbahasa dan berkebolehan mencapai persetujuan dalam perbincangan.  Anda suka bekerja dengan orang lain dan berasa tertarik dengan persekitaran yang memerlukan anda untuk mempengaruhi, mengetuai atau mengurus matlamat organisasi.  Anda cenderung melibatkan diri dalam bidang pekerjaan seperti perniagaan, jualan, pemasaran, pengurusan dan khidmat sokongan.

Anda berpegang kepada konsep ‘Laksanakannya’  dan suka kepada idea yang boleh diaplikasikan.  Di akhir pelaksanaan tugas, anda berasa bangga apabila sesuatu tugasan itu berjaya direalisasikan dan anda berpeluang menyaksikan kejayaan tersebut.

Alternatif Pilihan Kerjaya:
Pegawai Percukaian		Pegawai Statistik (Perangkawan)	Pegawai Kewangan/ Belanjawan
Perunding Komunikasi	Eksekutif Perniagaan/ Jualan	Jurutera
Pegawai Polis	Pengurus	Juruaudit 
Pensyarah/ Dekan	Akauntan	Ahli Politik
Pegawai Bomba 	Agen Perisikan	Pegawai Perkhidmatan Pelanggan
Pegawai Undang-Undang	Agen Pelancongan	Pegawai Perancang Bandar

Alternatif Bidang Pengajian:
Pengurusan	Komunikasi & Massa Media	Perhotelan/ Pelancongan
Pemasaran	Kewangan	Pendidikan
Sains Politik	Sains Aktuari	Ekonomi
Sains Kesihatan	Statistik	Perundangan
Penerbangan	Sains Sosial	Seni Bina
Muzik	Penyiaran	Seni Lakonan/ Teater

Nota:
Sekiranya anda ingin mengetahui interpretasi ujian secara lebih terperinci, sila hubungi pentadbir sistem anda atau pentadbir sistem di Jabatan Perkhidmatan Awam Malaysia.

</pre>
<pre>
  @Model.ToString()
</pre>
</body>
</html>
