@model web.sph.App_Code.IbkTraitViewModel
@{
    Layout = null;
}
<html>
<head>
    <title>Laporan untuk @Model.Sesi.NamaPengguna</title>
    <link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
    <h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .tg td {
                font-family: Arial, sans-serif;
                font-size: 14px;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg th {
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg .tg-s6z2 {
                text-align: center;
            }

            .tg .tg-e3zv {
                font-weight: bold;
            }
    </style>
    <table class="tg">
        <tr>
            <th class="tg-031e" colspan="3">Berdasarkan kepada analisis ujian:</th>
        </tr>
        <tr>
            <td width="168" class="tg-e3zv"><strong>Kod Kerjaya Anda</strong></td>
            <td width="11" class="tg-s6z2">:</td>
            <td width="887" class="tg-e3zv"><strong>KPM</strong></td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td></td>
            <td class="tg-031e" colspan="2">
                <table width="721" border="1">
                    <tr>
                        <td width="50"><strong>KOD</strong></td>
                        <td width="341"><strong>KERJAYA</strong></td>
                        <td width="308"><strong>BIDANG PENGAJIAN</strong></td>
                    </tr>
                    <tr>
                        <td><strong>KPM</strong></td>
                        <td>Jurukamera:- Umum/ Kesan Optikal </td>
                        <td><p>Seni Fotografi</p></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Juruteknik Pentas</td>
                        <td>Pementasan</td>
                        
                    </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Pereka:- Barangan Kemas/ Fesyen</td>
                        <td>Seni Rekaan Fesyen</td>
                        
                    </tr>

                </table>
            </td>

        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Kategori Kerjaya</strong></td>
            <td class="tg-s6z2">:</td>
            <td class="tg-e3zv">KREATIF (K)</td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
            <td class="tg-031e" align="justify">Secara umumnya, anda digambarkan sebagai seorang  yang bersikap terbuka, spontan, idealistik dan ingin tahu.  Anda seorang  yang suka berdikari, mengkaji diri dan menghargai kebebasan, kesamaan serta  keberanian.  Anda cenderung mempamerkan  perasaan atau menyelesaikan permasalahan melalui aktiviti penulisan,  kesenian, muzik atau warna.  Apabila  membuat keputusan, anda cenderung berfikir secara mendalam dan bertindak  mengikut gerak hati (naluri). <br><br>
              Anda suka  bekerja dalam persekitaran yang bebas, tidak berstruktur dan tiada kongkongan kerana ia  membolehkan anda menggunakan imaginasi serta kreativiti.  Anda berasa tertarik kepada tugasan yang kreatif dan cenderung memilih pekerjaan  seperti penulis, penulis skrip atau jurulatih drama. <br><br>
            Anda berpegang  kepada konsep “Ciptakannya” dan  suka  mencuba sesuatu yang baru seperti nyanyian atau pengiklanan.  Anda mungkin mempunyai kemahiran atau menggemari aktiviti  yang berkaitan dengan muzik, drama, kesenian, bacaan atau penulisan.  Di akhir pelaksanaan tugas, anda mendapati wujudnya peluang untuk mencipta  perkara baru dan berada bersama orang yang kreatif.</td>
        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Alternatif Pilihan Kerjaya</strong></td>
            <td class="tg-031e">:</td>
            <td>
                <table width="700" border="1">
                    <tr>
                        <td>Pengurus  Agensi Pengiklanan</td>
                        <td>Pemberita</td>
                        <td>Pereka  Fesyen/ Dalaman/ Grafik</td>
                    </tr>
                    <tr>
                        <td>Penulis  Lirik/ Drama</td>
                        <td>Pegawai  Arkeologi</td>
                        <td>Arkitek</td>
                    </tr>
                    <tr>
                        <td>Pelukis/  Penyajak</td>
                        <td>Komposer</td>
                        <td>Pengarah  Muzik</td>
                    </tr>
                    <tr>
                        <td>Penyelaras  Laman Web</td>
                        <td>Jurugambar/  Jurukamera</td>
                        <td>Pengurus</td>
                    </tr>
                    <tr>
                        <td>Perekacipta</td>
                        <td>Editor/  Pengarang</td>
                        <td>Jurumekap</td>
                    </tr>
                    <tr>
                        <td>Guru Drama/ Seni/ Tari</td>
                        <td>Pengkritik</td>
                        <td>Pegawai Perhubungan Awam</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e" colspan="2"></td>
        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Alternatif Bidang Pengajian</strong></td>
            <td class="tg-031e">:</td>
            <td>
                <table width="700" border="1">
                    <tr>
                        <td>Sains  Kewartawanan </td>
                        <td>Bahasa  &amp; Kesusasteraan</td>
                        <td>Penulisan  Kreatif/ Teknikal</td>
                    </tr>
                    <tr>
                        <td>&nbsp; </td>
                        <td>Pementasan  Drama/ Teater</td>
                        <td>Seni  Bina</td>
                    </tr>
                    <tr>
                        <td>Fotografi</td>
                        <td>Muzik</td>
                        <td>Seni  Lukis/ Arca</td>
                    </tr>
                    <tr>
                        <td>Seni  Tari</td>
                        <td>Rekaan  Fesyen</td>
                        <td>Bahasa Asing</td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e" colspan="2"></td>
        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Nota</strong></td>
            <td class="tg-031e">:</td>
            <td class="tg-031e" align="justify">Sekiranya anda ingin mengetahui interpretasi ujian secara lebih terperinci, sila hubungi pentadbir sistem anda atau pentadbir sistem di Jabatan Perkhidmatan Awam Malaysia.</td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
        </tr>
    </table>

<pre>
  @Model.ToString()
</pre>
</body>
</html>
