@model web.sph.App_Code.IbkTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>

<pre>
Berdasarkan kepada analisis ujian:
(1)	Kod Kerjaya Anda	:	EKI/EIK		
	KERJAYA										BIDANG PENGAJIAN
	Pakar Penyelidikan Perisikan				Pengajian Konflik & Keamanan
	Pengarah:- Pengurusan Sistem Maklumat/ Kawalan Kualiti/ Statistik/ Analisis Rekod	
	Ahli Psikologi Eksperimen					Psikologi:- Eksperimen/ Fisiologi/ 														Psikobiologi/ Sosio-Psikologi Sukan/ Sosial
	


(2)	Kategori Kerjaya	:	EKSPLORASI (E)

Secara umumnya, anda digambarkan sebagai seorang yang bersifat ingin tahu dan sedia mencuba perkara baru.  Anda cenderung memikirkan sesuatu permasalahan dan penyelesaiannya secara mendalam daripada membuat keputusan secara tergesa-gesa.  Dari aspek tindakan, anda dilihat sebagai seorang yang melakukan sesuatu perkara dengan berhati-hati, teliti dan sistematik.  

Anda seorang yang tabah, suka berdikari, bersikap terbuka, tidak suka dikongkong, menghargai kebebasan dan bercita-cita tinggi.  Anda berasa tertarik kepada aktiviti yang bersifat abstrak, ilmiah, kreatif dan merangsang daya fikir (intelektual).  Anda seorang yang berfikiran rasional, mempunyai pelbagai minat, suka mengkaji diri, membaca, menghargai ilmu pengetahuan dan mempelajari bahasa asing. 

Anda berpegang kepada konsep “Terokainya” dan suka menyelesaikan masalah yang berbentuk sainstifik kerana ia memberi anda ruang untuk memikirkan sesuatu perkara secara analitikal serta mendalam.  Anda cenderung menceburi kerjaya yang bersifat penyelidikan atau berasaskan matematik dan sains.  Dalam melaksanakan tugas, anda berpuashati jika diberi kebebasan untuk mencuba perkara atau idea baru.

Alternatif Pilihan Kerjaya:
Pegawai Perubatan	Pegawai Veterinar/ Zoologi	Pegawai Biologi/ Fizik/ Kimia	
Pegawai Kaji Cuaca	Pegawai Arkeologi	Jurutera
Juruterbang	Pegawai Geologi    	Pegawai Psikologi
Pegawai Farmasi	Pegawai Veterinar	Jururawat
Ahli Psikologi	Pengurus	Arkitek
Juruaudit	Pegawai Teknologi Maklumat	Ahli Ekonomi

Alternatif Bidang Pengajian:
Sains Pertanian	Fizik/ Kimia/ Biologi	Sains Aktuari/ Ekonomi
Sains Komputer	Seni Bina	Perubatan
Psikologi	Veterinar/ Zoologi	Penerbangan
Kejuruteraan	Farmasi	Pergigian
Sains Kesihatan	Sains Forensik	Bahasa Asing
Muzik	Pengurusan	Sains Sosial

Nota:
Sekiranya anda ingin mengetahui interpretasi ujian secara lebih terperinci, sila hubungi pentadbir sistem anda atau pentadbir sistem di Jabatan Perkhidmatan Awam Malaysia.




</pre>
<pre>
  @Model.ToString()
</pre>
</body>
</html>
