<p>@model web.sph.App_Code.IpTraitViewModel
  @{
  Layout = "_trait.layout.cshtml";
  }
 </p>
<table width="1016" border="0" cellspacing="1" cellpadding="1">
  <tr>
    <td colspan="3">Berdasarkan kepada analisis ujian, secara umumnya dari aspek:</td>
  </tr>
  <tr>
    <td width="153">Hubungan Interpersonal </td>
    <td width="12"><div align="center">:</div></td>
    <td width="841">Aktif Sosial</td>
  </tr>
  <tr>
    <td>Memperoleh Maklumat</td>
    <td><div align="center">:</div></td>
    <td>Fakta</td>
  </tr>
  <tr>
    <td>Membuat Keputusan </td>
    <td><div align="center">:</div></td>
    <td>Rasional</td>
  </tr>
  <tr>
    <td>Cara Gaya Kehidupan</td>
    <td><div align="center">:</div></td>
    <td>Sistematik</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td>Perwatakan</td>
    <td><div align="center">
      <div align="center">:</div>
    </div></td>
    <td>Anda mempamerkan diri sebagai seorang yang praktikal, realistik, tabah hati dan menggunakan fakta sebenar untuk menyelesaikan masalah. </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><div align="justify">Dari aspek hubungan interpersonal, anda memberi fokus kepada apa yang sebenarnya sedang berlaku dan perkara berkaitan fakta.  Anda boleh menjangka masalah yang berlaku dan mengambil tindakan bagi membetulkan situasi berkenaan mengikut apa yang dirancang.</div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td><div align="justify"></div></td>
  </tr>
  <tr>
    <td>Pekerjaan</td>
    <td><div align="center">:</div></td>
    <td><div align="justify">Secara umumnya, anda suka berinteraksi secara sosial dan bekerja dengan orang lain, boleh memberi kritikan apabila diperlukan serta</div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td><div align="justify"> 
      <p> mahukan konsep hormat-menghormati dan keadilan sesama rakan sekerja diamalkan dalam organisasi.
        
        Dari aspek pekerjaan, anda berpegang kepada prinsip, suka kepada kepelbagaian dan tugas yang berstruktur atau berjadual. </p>
      <p>Anda merancang dan melaksanakan tugas seperti yang ditetapkan serta menghargai dan mempamerkan kecekapan serta keefisienan dalam tugas.  Anda mempelajari tugas baru melalui perbualan, perlakuan dan berminat bagaimana orang lain melakukan tugas mereka.
        
        Anda merupakan pengurus yang cemerlang kerana memahami sistem, prosedur dan logistik.  Anda suka kepada aspek pengurusan kerana boleh mengawasi semua perkara dan melaksanakan tugas pada masanya.  </p>
      <p>Anda membina idea melalui perbincangan dan memberikan prestasi terbaik apabila mengetahui masalah yang dikemukakan serta menggunakan teknik yang efektif untuk menyelesaikannya.
        
        Dari aspek membuat keputusan, anda menganalisis secara logik untuk memahami dan mengambil tindakan melalui pengumpulan data serta mengambil kira pengalaman diri dan orang lain.  Anda suka pekerjaan yang keputusannya boleh diperoleh dengan segera tetapi mempunyai kesabaran yang rendah terhadap kekeliruan, ketidakefisienan atau tugas separuh siap.</p>
    </div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td><div align="justify"></div></td>
  </tr>
   <tr>
    <td>Pengurusan Perubahan</td>
    <td><div align="center">
      <div align="center">:</div>
    </div></td>
    <td><div align="justify">Apabila sesuatu perubahan dicadangkan, anda menggunakan penilaian diri yang logik dan mengemukakannya melalui pertanyaan.</div></td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><div align="justify">   Jika persoalan yang dikemukakan boleh dijawab, anda menyegerakan aktiviti merancang, menganjur dan melaksanakan perubahan tersebut.</div></td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td><div align="justify"></div></td>
  </tr>
   <tr>
    <tr>
    <td>Kepimpinan</td>
    <td><div align="center">:</div></td>
    <td><div align="justify">Dari aspek kepimpinan, anda seorang ketua yang tegas dalam melaksanakan keputusan yang dibuat.  Anda mempunyai pemikiran dan</div></td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td><div align="justify">  pendirian yang tetap serta membuat keputusan yang rasional berdasarkan prinsip dan nilai sedia ada.

Sebagai pengikut, anda sedia melaksanakan polisi yang efektif jika anda menghormati ketua dalam organisasi.</div></td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td><div align="justify"></div></td>
  </tr>
  <tr>
    <td>Persepsi Orang Lain</td>
    <td><div align="center">:</div></td>
    <td><div align="justify">Dari aspek hubungan interpersonal, anda seorang yang ceria dan suka berinteraksi dengan orang lain terutama yang berkaitan dengan tugas,</div></td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td><div align="justify"> 
      <p> permainan dan aktiviti keluarga.  Anda mengambil serius tentang peranan, hubungan dan bertanggungjawab memenuhi tugasan tersebut.  Anda boleh berkomunikasi dengan baik dan suka berterus terang tentang pendirian diri. </p>
      <p> Dari aspek perwatakan, anda seorang yang setia, lantang bersuara, berkeyakinan dan boleh membuat sistem, prosedur serta jadual.  Namun, sikap anda yang sangat yakin tentang bagaimana sesuatu perkara itu seharusnya dilakukan, membuatkan orang lain berasa anda menguasai mereka. </p>
    </div></td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td><div align="justify"></div></td>
  </tr>
   <tr>
    <td>Reaksi Terhadap Stres</td>
    <td><div align="center">:</div></td>
    <td><div align="justify">Apabila mengalami stres yang tinggi, anda mungkin berasa terasing, tidak dihargai dan sukar berkomunikasi secara jelas tentang perasaan, </div></td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td> stres atau kekecewaan yang dialami. </td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td><div align="justify"></div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td><div align="right"><strong>SULIT</strong></div></td>
  </tr>
</table>
<p>&nbsp; </p>
<pre>&nbsp;</pre>
