@model web.sph.App_Code.IbkTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>

<pre>
Berdasarkan kepada analisis ujian:
(1)	Kod Kerjaya Anda	:	MEI/MIE		

	KERJAYA												BIDANG PENGAJIAN
	Presiden Institusi Kewangan 	
	Pakar:- Pemakanan Klinikal/ Pendidikan Pemakanan	Pemakanan Perubatan (Dietitik)/ Sains 													  & Teknologi Pemakanan/ Pemakanan & Zat
	-Pengarah:- Agensi Pemulihan/ Tenaga Rakyat
	 -Koordinator Perkhidmatan Pemulihan	




(2)	Kategori Kerjaya	:	MUDAH MESRA (M)

Anda digambarkan sebagai seorang yang ceria, dikenali ramai, mudah mesra dan pemurah.  Anda juga seorang yang baik hati, penyabar, memahami dan menghormati orang lain.  Anda bersedia memaafkan orang lain dan cenderung menyelesaikan masalah menggunakan perbincangan atau mengatur semula hubungan.

Anda suka membicarakan persoalan seperti kebajikan orang lain dan selalu berfikir bagaimana memberikan perkhidmatan kepada mereka.  Anda seorang yang bertanggungjawab, boleh bekerjasama, suka membantu orang lain dan berkebolehan mempengaruhi atau meyakinkan orang lain berhubung sesuatu perkara.

Anda berpegang kepada konsep ‘Ceritakanlah’ dan menggemari aktiviti bercorak kemasyarakatan atau pendidikan.  Anda berasa tertarik untuk bekerja dalam persekitaran yang membolehkan anda membantu atau memberi kesedaran dan maklumat kepada orang lain seperti guru, ahli terapi, kaunselor dan jurulatih.  Di akhir pelaksanaan tugas, anda berasa bangga apabila dapat membantu orang lain menyelesaikan permasalahan mereka atau menambahbaik diri sendiri.

Alternatif Pilihan Kerjaya:
Pegawai Perubatan	Pakar Psikologi/ Kaunseling	Pegawai Pemakanan	
Pegawai Agama	Pegawai Kebajikan	Pegawai Kastam
Pengurus	Pensyarah/ Guru	Pustakawan
Jururawat	Pegawai Pergigian	Perunding
Pegawai Pemulihan	Pegawai Polis	Pegawai Veterinar
Agen Perisikan	Penterjemah	Pustakawan

Alternatif Bidang Pengajian:
Sains Perubatan	Sains Pemakanan	Sains Pengurusan
Sains Kesihatan		Sains Perpustakaan	Sains Kepolisian
Sains Sosial	Sains Pendidikan	Psikologi / Kaunseling
Pengajian Islam	Pergigian	Veterinar
Perundangan	Perakaunan	Sains Komputer
Penjagaan Kanak-Kanak	Farmasi	Sains Sukan

Nota:
Sekiranya anda ingin mengetahui interpretasi ujian secara lebih terperinci, sila hubungi pentadbir sistem anda atau pentadbir sistem di Jabatan Perkhidmatan Awam Malaysia.


</pre>
<pre>
  @Model.ToString()
</pre>
</body>
</html>
