@model web.sph.App_Code.IbkTraitViewModel
@{
    Layout = null;
}
<html>
<head>
    <title>Laporan untuk @Model.Sesi.NamaPengguna</title>
    <link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
    <h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .tg td {
                font-family: Arial, sans-serif;
                font-size: 14px;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg th {
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg .tg-s6z2 {
                text-align: center;
            }

            .tg .tg-e3zv {
                font-weight: bold;
            }
    </style>
    <table class="tg">
        <tr>
            <th class="tg-031e" colspan="3">Berdasarkan kepada analisis ujian:</th>
        </tr>
        <tr>
            <td width="168" class="tg-e3zv"><strong>Kod Kerjaya Anda</strong></td>
            <td width="11" class="tg-s6z2">:</td>
            <td width="887" class="tg-e3zv"><strong>EKM</strong></td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td></td>
            <td class="tg-031e" colspan="2">
                <table width="721" border="1">
                    <tr>
                        <td width="50"><strong>KOD</strong></td>
                        <td width="341"><strong>KERJAYA</strong></td>
                        <td width="308"><strong>BIDANG PENGAJIAN</strong></td>
                    </tr>
                    <tr>
                        <td><strong>EKM</strong></td>
                        <td>Pakar Psikiatri</td>
                        <td>Perubatan</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Ahli Ekonomi</td>
                        <td>Ekonomi:- Pertanian/ Perniagaan/ Antarabangsa/  Pengurusan/ Pembangunan</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Penganalisis Kesenian</td>
                        <td>&nbsp;</td>
                    </tr>

                </table>
            </td>

        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Kategori Kerjaya</strong></td>
            <td class="tg-s6z2">:</td>
            <td class="tg-e3zv">EKSPLORASI (E)</td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
            <td class="tg-031e" align="justify">Secara umumnya, anda digambarkan sebagai seorang  yang bersifat ingin tahu dan sedia mencuba perkara baru.  Anda cenderung memikirkan sesuatu permasalahan  dan penyelesaiannya secara mendalam daripada membuat keputusan secara  tergesa-gesa.  Dari aspek tindakan, anda dilihat sebagai seorang yang  melakukan sesuatu perkara dengan berhati-hati, teliti dan sistematik. 
              <br><br>Anda seorang yang tabah, suka berdikari,  bersikap terbuka, tidak suka dikongkong, menghargai kebebasan dan bercita-cita tinggi.  Anda berasa tertarik kepada aktiviti yang  bersifat abstrak, ilmiah, kreatif dan merangsang daya fikir (intelektual).  Anda seorang yang berfikiran rasional, mempunyai  pelbagai minat, suka mengkaji diri, membaca, menghargai ilmu pengetahuan dan  mempelajari bahasa asing. 
            <br><br>
            Anda berpegang kepada konsep  “Terokainya” dan suka menyelesaikan  masalah yang berbentuk sainstifik kerana ia memberi anda ruang untuk memikirkan  sesuatu perkara secara analitikal serta mendalam.  Anda cenderung menceburi kerjaya yang  bersifat penyelidikan atau berasaskan matematik dan sains.  Dalam melaksanakan tugas, anda berpuashati jika  diberi kebebasan untuk mencuba perkara atau idea baru.</td>
        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Alternatif Pilihan Kerjaya</strong></td>
            <td class="tg-031e">:</td>
            <td>
                <table width="700" border="1">
                    <tr>
                        <td>Pegawai  Perubatan</td>
                        <td>Pegawai  Veterinar/ Zoologi</td>
                        <td>Pegawai  Biologi/ Fizik/ Kimia</td>
                    </tr>
                    <tr>
                        <td>Pegawai  Kaji Cuaca</td>
                        <td>Pegawai  Arkeologi</td>
                        <td>Jurutera</td>
                    </tr>
                    <tr>
                        <td>Juruterbang</td>
                        <td>Pegawai  Geologi</td>
                        <td>Pegawai  Psikologi</td>
                    </tr>
                    <tr>
                        <td>Pegawai  Farmasi</td>
                        <td>Pegawai Veterinar</td>
                        <td>Jururawat</td>
                    </tr>
                    <tr>
                        <td>Ahli Psikologi</td>
                        <td>Pengurus</td>
                        <td>Arkitek</td>
                    </tr>
                    <tr>
                        <td>Juruaudit</td>
                        <td>Pegawai Teknologi Maklumat</td>
                        <td>Ahli Ekonomi</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e" colspan="2"></td>
        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Alternatif Bidang Pengajian</strong></td>
            <td class="tg-031e">:</td>
            <td>
                <table width="700" border="1">
                    <tr>
                        <td>Sains  Pertanian</td>
                        <td>Fizik/  Kimia/ Biologi</td>
                        <td>Sains  Aktuari/ Ekonomi</td>
                    </tr>
                    <tr>
                        <td>Sains  Komputer</td>
                        <td>Seni  Bina</td>
                        <td>Perubatan</td>
                    </tr>
                    <tr>
                        <td>Psikologi</td>
                        <td>Veterinar/  Zoologi</td>
                        <td>Penerbangan</td>
                    </tr>
                    <tr>
                        <td>Kejuruteraan</td>
                        <td>Farmasi</td>
                        <td>Pergigian</td>
                    </tr>
                    <tr>
                        <td>Sains Kesihatan</td>
                        <td>Sains Forensik</td>
                        <td>Pengurusan</td>
                    </tr>
                    <tr>
                        <td>Muzik</td>
                        <td>Pengurusan</td>
                        <td>Sains Sosial</td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e" colspan="2"></td>
        </tr>
        <tr>
            <td class="tg-e3zv"><strong>Nota</strong></td>
            <td class="tg-031e">:</td>
            <td class="tg-031e" align="justify">Sekiranya anda ingin mengetahui interpretasi ujian secara lebih terperinci, sila hubungi pentadbir sistem anda atau pentadbir sistem di Jabatan Perkhidmatan Awam Malaysia.</td>
        </tr>
        <tr>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
            <td class="tg-031e"></td>
        </tr>
    </table>

<pre>
  @Model.ToString()
</pre>
</body>
</html>
