@model web.sph.App_Code.IpTraitViewModel
@{
	Layout = null;
}
<html>
<head>
	<title>Laporan untuk @Model.Sesi.NamaPengguna</title>
	<link rel="stylesheet" type="text/css" href="/content/external/bootstrap.min.css">
</head>
<body>
	<h1>Laporan untuk @Model.Sesi.NamaPengguna</h1>
  @Html.Partial("_Trait-Ip-Header")

<pre>
Berdasarkan kepada analisis ujian, secara umumnya dari aspek:

Hubungan Interpersonal	:	Aktif Sosial
Memperoleh Maklumat		:	Fakta
Membuat Keputusan		:	Empati
Cara Gaya Kehidupan		:	Sistematik

Perwatakan
Anda mempamerkan diri sebagai seorang yang praktikal dan realistik, mematuhi peraturan serta mahu orang lain juga bersikap seperti anda.  Anda seorang yang teliti, tabah hati, setia, merendah diri, bekerjasama dan suka kepada tradisi.

Dari aspek hubungan interpersonal, anda seorang yang peramah, suka berinteraksi secara sosial, empati dan prihatin kepada keperluan orang lain.  Anda menghargai apa yang diperoleh dan mahu dihargai di atas sumbangan yang telah diberikan kepada orang lain.
 
Anda mendapat galakan apabila disokong dan berasa tersinggung dengan sikap tidak prihatin yang dipamerkan oleh orang lain.  Apabila anda mengalami konflik atau situasi yang tertekan, anda berasa kurang selesa dan berusaha memastikan situasi sedemikian tidak berlaku.

Pekerjaan
Secara umumnya anda menghargai keselamatan dan kestabilan serta mahukan konsep harmoni dan sokongan antara rakan sekerja diamalkan dalam organisasi.  Anda membina idea melalui perbincangan, mempelajari tugas baru melalui perbualan dan perlakuan serta berminat bagaimana orang lain melakukan tugas mereka.  

Dari aspek pekerjaan, anda suka tugas yang berstruktur dan berjadual serta merancang dan melaksanakan tugas seperti yang ditetapkan. Anda suka mengurus manusia dan situasi serta boleh menyesuaikan diri dengan kerja rutin.  Anda sedia bekerja dengan orang lain dan boleh memberi tumpuan kepada sesuatu isu dengan segera bagi menyempurnakan tugas tepat pada masanya.  
  
Dari aspek membuat keputusan, anda cenderung menggunakan nilai, empati dan mengambil tindakan berdasarkan kepada pengumpulan data, fakta, pengalaman diri serta orang lain.  Anda memberi fokus kepada masa sekarang dan suka jika sesuatu perkara diselesaikan pada masa yang ditetapkan. 

Pengurusan Perubahan
Apabila sesuatu perubahan dicadangkan, anda menggunakan penilaian diri yang logik dan mengemukakannya melalui pertanyaan.  Jika persoalan yang dikemukakan boleh dijawab, anda menyegerakan aktiviti merancang, menganjur dan melaksanakan perubahan tersebut.  
Kepimpinan
Dari aspek kepimpinan, anda seorang ketua yang mesra tetapi tegas dan suka memberi idea serta galakan kepada orang lain.  Anda juga berusaha mencapai persetujuan bersama, mewujudkan harmoni dan menggalakkan persekitaran tempat kerja yang menyokong antara satu sama lain.  

Sebagai pengikut, anda seorang yang setia jika ketua organisasi menghormati prinsip dan nilai anda.

Persepsi Orang Lain
Dari aspek hubungan interpersonal, anda seorang yang mudah didekati dan mempamerkan minat terhadap kehidupan serta kebajikan orang lain.  Anda menghargai nilai kekeluargaan dan hubungan sosial serta berasa gembira kerana diri dipunyai terutama apabila menyambut sesuatu perayaan.  Anda juga sedia mencapai persetujuan dengan orang lain demi menjaga keharmonian tetapi akan meluahkan nilai diri dengan jelas dan tegas apabila anda fikir ia adalah bersesuaian.  

Dari aspek perwatakan, anda seorang yang bersemangat, aktif bertenaga, berasa selesa dalam situasi yang teratur dan sistematik, suka melakukan sesuatu perkara secara tradisi serta komited mengekalkan tradisi tersebut.

Reaksi Terhadap Stres
Apabila mengalami stres yang tinggi, anda mungkin bertindak luar jangka secara kritis terhadap diri dan orang lain.  Anda mungkin mengalami pemikiran dan pendapat negatif yang boleh membawa masalah besar kepada diri.


</pre>
<pre>
  @Model.ToString()
</pre>
</body>
</html>
