@model web.sph.App_Code.PpkpTraitViewModel
@{
	Layout = "_MasterPage.cshtml";
}

<div style="height:40px"></div>
<table class="">
  <colgroup>
    <col style="width:180px"/>
    <col style="width:20px"/>
    <col style="width:600px"/>
  </colgroup>

</table>

<script type="text/javascript">
	window.print();
</script>
