<li class="start active open">
  <a href="javascript:;">
  <i class="icon-home"></i>
  <span class="title">Urusetia</span>
  <span class="selected"></span>
  <span class="arrow open"></span>
  </a>
  <ul class="sub-menu">
    <li  class="active">
      <a href="#urusetia-dashboard">
      <i class="icon-bar-chart"></i>
      Dashboard Urusetia</a>
    </li>
    <li>
      <a href="#laporan-sesi-ujian">
      <i class="icon-users"></i>
      Laporan Sesi Ujian</a>
    </li>



  </ul>
</li>

<li>
      <a href="javascript:;">
      <i class="icon-settings"></i>
      <span class="title">Penyelenggaraan</span>
      <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="#pengguna">
          <i class="icon-user"></i>
          Pengguna</a>
        </li>
        <li>
          <a href="#soalan">
          <i class="icon-question"></i>
          Soalan</a>
        </li>
        <li>
          <a href="#ujian-all">
          <i class="icon-basket"></i>
          Ujian</a>
        </li>
        <li>
          <a href="#permohonan">
          <i class="icon-screen-tablet"></i>
          Permohonan</a>
        </li>
        <li>
          <a href="#kementerian">
          <i class="icon-tag"></i>
          Kementerian</a>
        </li>
        <li>
          <a href="#jabatan">
          <i class="icon-handbag"></i>
          Jabatan</a>
        </li>
        <li>
          <a href="#programlookups-all">
          <i class="icon-pencil"></i>
          Program</a>
        </li>
        </li>
        <li>
          <a href="#skorhlp">
          <i class="icon-pencil"></i>
          Skor HLP</a>
        </li>
        </li>
        <li>
          <a href="#hlprecomendation">
          <i class="icon-pencil"></i>
          HLP Recommendation</a>
        </li>
      </ul>
    </li>
