<li class="start active open">
  <a href="#penyelaras-home">
  <i class="icon-home"></i>
  <span class="title">Penyelaras</span>
  <span class="selected"></span>
  <span class="arrow open"></span>
  </a>
  <ul class="sub-menu">
    <li  class="active">
      <a href="#penyelaras-home">
      <i class="icon-bar-chart"></i>
      Dashboard Penyelaras</a>
    </li>
    <li>
      <a href="#responden-dari-jabatan">
      <i class="icon-users"></i>
      Senarai Responden</a>
    </li>
  </ul>
</li>
