<li class="start active open">
  <a href="#responden-home">
  <i class="icon-home"></i>
  <span class="title">Laman Utama</span>
  <span class="selected"></span>
  <span class="arrow open"></span>
  </a>
  <ul class="sub-menu">
    <li  class="active">
      <a href="#responden-home">
      <i class="icon-bar-chart"></i>
      Dashboard Responden</a>
    </li>
  </ul>
</li>
