
<div class="row">
    <div class="col-lg-3">
        <a href="http://www.jpa.gov.my/">©@(DateTime.Today.Year) Jabatan Perkhidmatan Awam Malaysia</a>
    </div>
    <div class="col-lg-1">
        <a href="#">Terms</a>
    </div>
    <div class="col-lg-2">
        <a href="#">Privacy & Cookies</a>
    </div>
    <div class="col-lg-2 col-lg-offset-2">
        <a href="#" class="pull-right">Help center</a>
    </div>
    <div class="col-lg-2">
        <a href="#">Feedback</a>
    </div>
</div>