@using System.Web.Mvc.Html
@{
    var min = HttpContext.Current.IsDebuggingEnabled ? "" : ".min";
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif] -->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif] -->
<!--[if !IE]>-->
<html lang="en">
<!--<![endif]-->
@* BEGIN HEAD *@
<head>
    <meta charset="utf-8" />
    <title>JPA | Sistem Ujian Psikometrik - Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    @* BEGIN GLOBAL MANDATORY STYLES *@
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/login@(min).css" rel="stylesheet" />
    @* END THEME STYLES *@
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
@* END HEAD *@
@* BEGIN BODY *@
<body class="login">
    @* BEGIN LOGO *@
    <div class="logo">
        <a href="/">
            <img src="/images/logo1.png" alt="" />
        </a>
    </div>
    @* END LOGO *@
    @* BEGIN SIDEBAR TOGGLER BUTTON *@
    <div class="menu-toggler sidebar-toggler">
    </div>
    @* END SIDEBAR TOGGLER BUTTON *@
    @* BEGIN LOGIN *@
    <div class="content">
        @RenderBody()
    </div>
    @* END LOGIN *@
    @* BEGIN COPYRIGHT *@
    <div class="copyright">
        @DateTime.Today.Year &copy; Jabatan Perkhidmatan Awam Malaysia - Sistem Ujian Psikologi.
    </div>
    @* END COPYRIGHT *@
    @* BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) *@
    @* BEGIN CORE PLUGINS *@
    <!-- [if lt IE 9]>
        <script src="/assets/global/plugins/respond.min.js"></script>
        <script src="/assets/global/plugins/excanvas.min.js"></script>
        <![endif]-->

    <script src="~/Scripts/login.scripts@(min).js"></script>
    @* END PAGE LEVEL SCRIPTS *@
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Login.init();
            Demo.init();
            // init background slide images
            $.backstretch([
             "/assets/admin/pages/media/bg/1.jpg",
             "/assets/admin/pages/media/bg/2.jpg",
             "/assets/admin/pages/media/bg/3.jpg",
             "/assets/admin/pages/media/bg/4.jpg"
            ], {
                fade: 1000,
                duration: 8000
            }
         );


        });
    </script>

    @RenderSection("scripts", required: false)
    @* END JAVASCRIPTS *@
</body>
@* END BODY *@
</html>
