
<div class="col-lg-4 login-slider col-lg-offset-1 visible-lg">
    <div id="this-carousel-id" class="carousel slide">
        <!-- class of slide for animation -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- class of active since it's the first item -->
                <img src="/Images/1.png" alt="image" />
                <div class="carousel-caption">
                    <h2>Slide 1</h2>
                    <p>
                        Something about slide 1
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/Images/2.png" alt="" />
                <div class="carousel-caption">
                    <h2>Slide 2</h2>
                    <p>
                        Something about slide 2
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/Images/3.png" alt="" />
                <div class="carousel-caption">
                    <h2>Slide 3</h2>
                    <p>
                        Something about slide 3
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/Images/4.png" alt="" />
                <div class="carousel-caption">
                    <h2>Slide 4</h2>
                    <p>
                        Something about slide 4
                    </p>
                </div>
            </div>
        </div><!-- /.carousel-inner -->
        <!--  Next and Previous controls below
            href values must reference the id for this carousel -->
        <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div>
</div>
