@model web.sph.App_Code.ChangePaswordModel
@{
    ViewBag.Title = "Log in";
    Layout = "_Layout.cshtml";
}
@using System.Web.Mvc.Html


	<!-- BEGIN LOGIN FORM -->
	<form class="login-form" id="change-password-form">
		<h3 class="form-title">Tukar kata laluan</h3>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>
			Masukan kata laluan anda. </span>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Kata laluan asal</label>
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Kata lalauan asal" name="OldPassword" id="OldPassword"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Kata Laluan</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Kata laluan baru" name="Password" id="Password"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Kata Laluan</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Pastikan kata laluan baru" name="ConfirmPassword" id="ConfirmPassword"/>
			</div>
		</div>
		<div class="form-actions">
			<label class="checkbox">

      <div class="alert alert-danger" style="display:none">
          <span id="message"></span>
      </div>


			<button id="submit-change-password" type="submit" class="btn blue pull-right">
			Tukar <i class="m-icon-swapright m-icon-white"></i>
			</button>
		</div>


	</form>
	<!-- END LOGIN FORM -->




  @section scripts
  {
    <script>
    jQuery(document).ready(function() {
        $("#submit-change-password").click(function(e){
          e.preventDefault();
          $(this).prop("disabled",true);
          var url = "/jpa-account/change-password",
            json = JSON.stringify({
              OldPassword : $("#OldPassword").val(),
              Password : $("#Password").val(),
              ConfirmPassword : $("#ConfirmPassword").val()
          }),
            reject = function(err){},
            success = function(result){
                if(!result.success){
                    $("#message").text(result.message).parent().show();
                    $("#submit-change-password").prop("disabled",false);
                }else {
                  window.location = "/epsikologi"
                }
            };
          return $.ajax({
            data : json,
            type: "POST",
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: reject,
            success: success
          });
        });

    });
    </script>
  }
