@model web.sph.App_Code.ResetPaswordModel
@{
    ViewBag.Title = "Reset kata laluan";
    Layout = "_Layout.cshtml";
}

<form class="login-form" id="change-password-form">
    <h3 class="form-title">Tukar kata laluan</h3>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span>
            Masukan kata laluan anda.
        </span>
    </div>

    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Kata Laluan</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Kata laluan baru" name="Password" id="Password" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Kata Laluan</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Pastikan kata laluan baru" name="ConfirmPassword" id="ConfirmPassword" />
        </div>
    </div>
    <div class="form-actions">
        <label class="checkbox"></label>

        <div class="alert alert-danger" style="display:none">
            <span id="message"></span>
        </div>


        <button id="submit-change-password" type="submit" class="btn blue pull-right">
            Tukar <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>


</form>




@section scripts
  {
    <script>
        jQuery(document).ready(function () {
            $("#submit-change-password").click(function (e) {
                e.preventDefault();
                $(this).prop("disabled", true);
                var url = "/jpa-account/reset-password",
                  json = JSON.stringify({
                      Password: $("#Password").val(),
                      ConfirmPassword: $("#ConfirmPassword").val(),
                      Email : "@Model.Email",
                      Id : "@Model.Id"
                  }),
                  reject = function (err) { console.log(err); },
                  success = function (result) {
                      if (!result.success) {
                          $("#message").text(result.message).parent().show();
                          $("#submit-change-password").prop("disabled", false);
                      } else {
                          window.location = "/epsikologi";
                      }
                  };
                return $.ajax({
                    data: json,
                    type: "POST",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: reject,
                    success: success
                });
            });

        });
    </script>
}
