@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link href="/Content/__css.css" rel="stylesheet" />
    <link href="/Content/daterangepicker-bs3.css" rel="stylesheet" />
    <meta name="description" content="The description of my page" />

    <meta name="viewport" content="width=device-width" />
    <title>ePsikometrik</title>
</head>
<body>
    <div align="center">
        <img src="/images/logo_bpps2.png" />
        <img src="/images/brain.png">
        <p>
            <a href="/Sph/SphAccount/Login" class="btn btn-primary">Log Masuk Sistem ePsikometrik</a>
        </p>
    </div>

    <div align="center" style="width:500px;text-align:center;margin-left:auto;margin-right:auto;">
        <br />
        <p>
        ePsikometrik adalah satu bentuk sistem yang dibangunkan khas untuk kegunaan pegawai di Bahagian Pengurusan Psikologi(BPPs), Jabatan Perkhidmatan Awam Malaysia (JPA) bagi menyediakan set-set ujian Psikologi dalam pelbagai bentu yang perlu dijawab secara elektronik oleh individu-individu tertentu, memproses jawapan-jawapan ujian tersebut dengan menghasilkan keputusan berbentuk komen atau rumusan (interpretasi) berdasarkan kaedah penganalisaan jawapan dan seterusnya menghasilkan laporan berdasarkan kriteria yang dikehendaki pengguna.
        </p>
        <br/>
        <p>
        Keputusan ujian tersebut akan membantu sesebuah agensi kerajaan untuk menguruskan sumber manusia masing-masing dalam mengenal pasti kesesuaian setiap individu itu membuat pemilihan kerjaya mereka bermula dari proses pengambilan, penempatan, pembangunan kerjaya sehinggalah ke proses persaraan individu tersebut. Melalui sistem ini, proses pengenalpastian kriteria individu tersebut seterusnya penyesuaian kepada kerjaya yang dipilihnya dapat diproses dengan lebih cepat dan tepat berbanding dengan cara manual yang diamalkan sebelum ini.
        </p>
        <br/>
        <p>Golongan sasaran yang boleh menggunakan sistem ini ialah pegawai perkhidmatan awam dan ahli keluarga terdekat (Termasuk agensi badan berkanun, pihak berkuasa tempatan, tentera dan polis), serta pelajar tajaan JPA.
        </p>
    </div>

</body>
</html>
