@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Sistem Ujian Psikometrik</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    @if (Request.IsLocal)
    {
        <link href="/css/bootsrap.carousel.css" rel="stylesheet">
    }
    else
    {
        <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
    }
</head>
<!-- NAVBAR
================================================== -->
<body>
    <div class="navbar-wrapper">
        <div class="container">

            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">SISTEM UJIAN PSIKOMETRIK</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="/epsikologi">Log Masuk</a></li>
                            <li><a href="/epsikologi/muat-turun">Muat Turun</a></li>
                            <li><a href="/epsikologi/penafian">Penafian</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="images/chartjs.png" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="images/29.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="images/22.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->



    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <i class="fa fa-book fa-4x" style="color: #2D80F4;"></i>
                <h2>Pengenalan</h2>
                <p>Sistem Ujian Psikometrik adalah satu bentuk sistem yang dibangunkan khas untuk kegunaan pegawai di Bahagian Pengurusan Psikologi(BPPs), Jabatan Perkhidmatan Awam Malaysia (JPA) bagi menyediakan set-set ujian Psikologi dalam pelbagai bentuk yang perlu dijawab secara elektronik oleh individu-individu tertentu, memproses jawapan-jawapan ujian tersebut dengan menghasilkan keputusan berbentuk komen atau rumusan (interpretasi) berdasarkan kaedah penganalisaan jawapan dan seterusnya menghasilkan laporan berdasarkan kriteria yang dikehendaki pengguna.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <i class="fa fa-graduation-cap fa-4x" style="color:red"></i>
                <h2>Tujuan</h2>
                <p>Keputusan ujian tersebut akan membantu sesebuah agensi kerajaan untuk menguruskan sumber manusia masing-masing dalam mengenal pasti kesesuaian setiap individu itu membuat pemilihan kerjaya mereka bermula dari proses pengambilan, penempatan, pembangunan kerjaya sehinggalah ke proses persaraan individu tersebut. Melalui sistem ini, proses pengenalpastian kriteria individu tersebut seterusnya penyesuaian kepada kerjaya yang dipilihnya dapat diproses dengan lebih cepat dan tepat berbanding dengan cara manual yang diamalkan sebelum ini.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <i class="fa fa-users fa-4x" style="color:orange"></i>
                <h2>Sasaran</h2>
                <p>Golongan sasaran yang boleh menggunakan sistem ini ialah pegawai perkhidmatan awam dan ahli keluarga terdekat (Termasuk agensi badan berkanun, pihak berkuasa tempatan, tentera dan polis), serta pelajar tajaan JPA.</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    </div>


    <!-- FOOTER -->
    <div class="clearfix">
        </>
        <footer>
            <p style="text-align:center">&copy; @DateTime.Today.Year Jabatan Perkhidmatan Awam, Malaysia. </p>
        </footer>

    </div>


    <script src="/Scripts/__vendor.min.js"></script>



</body>
</html>
