<table class="table table-striped table-hover" id="audit-trail-table">
    <thead>
        <tr>
            <th data-i18n="Datetime">Tarikh</th>
            <th data-i18n="User">Pengguna</th>
            <th data-i18n="Operation">Operasi</th>
            <th data-i18n="Note">Nota</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: auditTrailCollection">
        <tr>
            <td data-bind="">
                <button class="btn btn-link" data-bind="click: $parent.showChangesCommand, date: { value: DateTime, format: 'D MMM YYYY HH:mm' , inputFormat:'YYYY-MM-DDTHH:mm:ss'},enable: ChangeCollection().length > 0"></button>
            </td>
            <td data-bind="text: User"></td>
            <td data-bind="text: Operation"></td>
            <td data-bind="text: Note"></td>
        </tr>
    </tbody>
</table>


<section class="modal fade" id="changes-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Pertukaran</h3>
            </div>
            <div class="modal-body" data-bind="with: log">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th data-i18n="Action">Aksi</th>
                            <th data-i18n="Field">Medan</th>
                            <th data-i18n="Old">Asal</th>
                            <th data-i18n="New">Baru</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: ChangeCollection">
                        <tr>
                            <td data-bind="text:Action"></td>
                            <td data-bind="text:PropertyName"></td>
                            <td data-bind="text:OldValue"></td>
                            <td data-bind="text:NewValue"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <a href="#changes-dialog" class="btn btn-default" data-dismiss="modal" data-i18n="Close">Tutup</a>
            </div>

        </div>
    </div>
</section>
