
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green-sharp hide"></i>
            <span class="caption-subject font-green-sharp bold uppercase">Program Semasa</span>
            <span class="caption-helper">..</span>
        </div>

    </div>
    <div class="portlet-body">

        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query,  entity : 'Permohonan', list:permohonanLulusList}">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Agensi</th>
                    <th>Program</th>
                    <th>Kod Program</th>
                    <th>Mula</th>
                    <th>Tamat</th>
                    <th>Papar Responden</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :permohonanLulusList">
                <tr data-bind="">

                    <td data-bind="text:$index() + 1"></td>
                    <td data-bind="text:NamaJabatan"></td>
                    <td data-bind="text:PermohonanNo"></td>
                    <td data-bind="text:KodProgram"></td>
                    <td data-bind="date:TarikhMula"></td>
                    <td data-bind="date:TarikhTamat"></td>
                    <td>
                        <a data-bind="attr : {href:'#permohonan-dan-senarai-responden' + '/' + Id, title:'Papar Responden' }">
                            <i class="fa fa-users"></i>
                            <span data-bind="text:'Senarai Responden'"></span>
                        </a>
                    </td>


                </tr>
            </tbody>
        </table>

    </div>
</div>