<!-- use dialog-form code snippet  to create a template for your -->

<section class="view-model-modal" id="arahan-mula-sesi-ujian-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Arahan</h3>
            </div>
            <div class="modal-body" data-bind="with: item">

                <div class="form-horizontal" id="arahan-mula-sesi-ujian-dialog-form">
                  

                </div>
            </div>
            <div class="modal-footer">
                <input form="arahan-mula-sesi-ujian-dialog-form" data-dismiss="modal" type="submit" class="btn btn-primary" value="Setuju" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Tidak Setuju</a>
            </div>
        </div>
    </div>
</section>