<h1>All I2kRecommendation</h1>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-link pull-right" data-bind="visible: chartFiltered, click: clearChartFilter">
            <i class="fa fa-times"></i>
            Clear chart's filter
        </button>
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, map : map, entity : 'I2kRecommendation', list:list}">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Tret</th>
                    <th>Tahap</th>
                    <th>Nilai Min</th>
                    <th>Nilai Max</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">

                    <td data-bind="text:No"></td>
                    <td data-bind="text:Tret"></td>
                    <td data-bind="text:Tahap"></td>
                    <td data-bind="text:NilaiMin"></td>
                    <td>
                        <a data-bind="attr : {href:'#i2krecommendation-details' + '/' + Id, title:'Nilai Max' }">
                                                        <span data-bind="text:NilaiMax"></span>
                        </a>
                    </td>


                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>

    <!-- ko compose : {view : '_chart.panel'}-->
    <!-- /ko -->
</div>