

<h1 data-i18n="IpuRecommendation details">IpuRecommendation details</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
        
<form class="form-horizontal" data-bind="with : entity" id="ipurecommendation-details-form">



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="No" for="b4b9061b-4b9c-4757-d82d-1d040b5380c0" class="col-md-4">No</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: No, enable :true "
                   
                   
                   
                   id="b4b9061b-4b9c-4757-d82d-1d040b5380c0" type="text" name="No" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Text" for="79269a47-6d8d-4076-9b99-5ae0a1b54e95" class="col-md-4">Text</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Text, enable :true "
                   
                   
                   
                   id="79269a47-6d8d-4076-9b99-5ae0a1b54e95" type="text" name="Text" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Tret" for="164a5ceb-df05-4273-e38b-d9a40927d0bb" class="col-md-4">Tret</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Tret, enable :true "
                   
                   
                   
                   id="164a5ceb-df05-4273-e38b-d9a40927d0bb" type="text" name="Tret" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Nilai Min" for="1b9ffaa4-1127-4748-8cce-d346ae8597ed" class="col-md-4">Nilai Min</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: NilaiMin, enable :true "
                   
                   
                   
                   id="1b9ffaa4-1127-4748-8cce-d346ae8597ed" type="text" name="NilaiMin" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Nilai Max" for="fd1889d0-4cc8-480d-bbcd-9ab2e98a5a2b" class="col-md-4">Nilai Max</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: NilaiMax, enable :true "
                   
                   
                   
                   id="fd1889d0-4cc8-480d-bbcd-9ab2e98a5a2b" type="text" name="NilaiMax" />
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>