

<h1 data-i18n="Kemaskini Pengguna Oleh Penyelaras">Kemaskini Pengguna Oleh Penyelaras</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
        
<form class="form-horizontal" data-bind="with : entity" id="kemaskini-pengguna-oleh-penyelaras-form">
<h2 data-i18n="Malumat Peribadi" data-bind="visible:true">Malumat Peribadi</h2>




    <div data-bind="visible:true" class="form-group">
        <label data-i18n="* Nama" for="fe3ab0be-a563-496a-8455-b9844518bbf7" class="col-md-4">* Nama</label>
        <div class="col-md-8">
            <input required class=" form-control input-large" title=""
                   data-bind="value: Nama, enable :true "
                   
                   
                    data-rule-required="true" 

                   id="fe3ab0be-a563-496a-8455-b9844518bbf7" type="text" name="Nama" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="* My Kad" for="pengguna-mykad" class="col-md-4">* My Kad</label>
        <div class="col-md-8">
            <input required class=" form-control input-large" title=""
                   data-bind="value: MyKad, enable :false "
                   
                   
                    data-rule-required="true" 

                   id="pengguna-mykad" type="text" name="MyKad" />
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <label data-i18n="* Jantina" for="7f1d8eb8-4b1e-41ee-b427-625097f40a70" class="col-md-4">* Jantina</label>
        <div class="col-md-8">
            <select  data-bind="value: Jantina, enable :true" id="7f1d8eb8-4b1e-41ee-b427-625097f40a70" name="Jantina" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Lelaki" data-i18n="Lelaki">Lelaki</option>
                    <option value="Perempuan" data-i18n="Perempuan">Perempuan</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Kumpulan Umur" for="92661272-212a-4262-91fe-d466cfbad4ed" class="col-md-4">Kumpulan Umur</label>
        <div class="col-md-8">
            <select  data-bind="value: KumpulanUmur, enable :true" id="92661272-212a-4262-91fe-d466cfbad4ed" name="KumpulanUmur" class=" input-large form-control">
                    <option value="&lt; 20" data-i18n="Kurang 20 Tahun">Kurang 20 Tahun</option>
                    <option value="20 - 29" data-i18n="20 - 29">20 - 29</option>
                    <option value="30 - 39" data-i18n="30 - 39">30 - 39</option>
                    <option value="40 - 49" data-i18n="40 - 49">40 - 49</option>
                    <option value="&gt; 50" data-i18n="Lebih 50 Tahun">Lebih 50 Tahun</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Status Perkahwinan" for="f503e61e-ec70-4106-8d07-1afe70dcf17c" class="col-md-4">Status Perkahwinan</label>
        <div class="col-md-8">
            <select  data-bind="value: StatusPerkahwinan, enable :true" id="f503e61e-ec70-4106-8d07-1afe70dcf17c" name="StatusPerkahwinan" class=" input-large form-control">
                    <option value="Bujang" data-i18n="Bujang">Bujang</option>
                    <option value="Kahwin" data-i18n="Kahwin">Kahwin</option>
                    <option value="Ibu Tunggal" data-i18n="Ibu Tunggal">Ibu Tunggal</option>
                    <option value="Bapa Tunggal" data-i18n="Bapa Tunggal">Bapa Tunggal</option>
            </select>
        </div>
    </div>
<h2 data-i18n="Maklumat Perkhidmatan" data-bind="visible:true">Maklumat Perkhidmatan</h2>



    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Pekerjaan" for="543e8baf-484f-4cdd-c2aa-85c4cefbdb13" class="col-md-4">Pekerjaan</label>
        <div class="col-md-8">
            <select  data-bind="value: Pekerjaan, enable :true" id="543e8baf-484f-4cdd-c2aa-85c4cefbdb13" name="Pekerjaan" class=" input-large form-control">
                    <option value="Kerajaan" data-i18n="Kerajaan">Kerajaan</option>
                    <option value="Swasta" data-i18n="Swasta">Swasta</option>
                    <option value="Pesara Kerajaan" data-i18n="Pesara Kerajaan">Pesara Kerajaan</option>
                    <option value="Pesara Swasta" data-i18n="Pesara Swasta">Pesara Swasta</option>
                    <option value="Bekerja Sendiri" data-i18n="Bekerja Sendiri">Bekerja Sendiri</option>
                    <option value="Pelajar" data-i18n="Pelajar">Pelajar</option>
                    <option value="Tiada Maklumat" data-i18n="Tiada Maklumat">Tiada Maklumat</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="Kumpulan Agensi" for="119ac31f-e09c-43cc-b3c7-91ce4cccaf9c" class="col-md-4">Kumpulan Agensi</label>
        <div class="col-md-8">
            <select  data-bind="value: JenisPerkhidmatan, enable :true" id="119ac31f-e09c-43cc-b3c7-91ce4cccaf9c" name="JenisPerkhidmatan" class=" input-large form-control">
                    <option value="BBP" data-i18n="Badan Berkanun Persekutuan">Badan Berkanun Persekutuan</option>
                    <option value="BBN" data-i18n="Badan Berkanun Negeri">Badan Berkanun Negeri</option>
                    <option value="PAP" data-i18n="Perkhidmatan Awam Persekutuan">Perkhidmatan Awam Persekutuan</option>
                    <option value="PAN" data-i18n="Perkhidmatan Awam Negeri">Perkhidmatan Awam Negeri</option>
                    <option value="PBT" data-i18n="Pihak Berkuasa Tempatan">Pihak Berkuasa Tempatan</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="Kumpulan Jawatan" for="136182e1-66a5-4fa8-bba1-e6080deb3fb3" class="col-md-4">Kumpulan Jawatan</label>
        <div class="col-md-8">
            <select  data-bind="value: KumpulanJawatan, enable :true" id="136182e1-66a5-4fa8-bba1-e6080deb3fb3" name="KumpulanJawatan" class=" input-large form-control">
                    <option value="Pengurusan Tertinggi" data-i18n="Pengurusan Tertinggi">Pengurusan Tertinggi</option>
                    <option value="Pengurusan Profesional" data-i18n="Pengurusan Profesional">Pengurusan Profesional</option>
                    <option value="Perlaksana" data-i18n="Perlaksana">Perlaksana</option>
                    <option value="Bersepadu" data-i18n="Bersepadu">Bersepadu</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="* Skim Perkhidmatan" for="dea60c85-93f9-4f63-9904-821d607e5c0d" class="col-md-4">* Skim Perkhidmatan</label>
        <div class="col-md-8">
            <select  data-bind="value: Skim, enable :true" id="dea60c85-93f9-4f63-9904-821d607e5c0d" name="Skim" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="A" data-i18n="A">A</option>
                    <option value="B" data-i18n="B">B</option>
                    <option value="C" data-i18n="C">C</option>
                    <option value="D" data-i18n="D">D</option>
                    <option value="E" data-i18n="E">E</option>
                    <option value="F" data-i18n="F">F</option>
                    <option value="G" data-i18n="G">G</option>
                    <option value="H" data-i18n="H">H</option>
                    <option value="J" data-i18n="J">J</option>
                    <option value="K" data-i18n="K">K</option>
                    <option value="L" data-i18n="L">L</option>
                    <option value="M" data-i18n="M">M</option>
                    <option value="N" data-i18n="N">N</option>
                    <option value="P" data-i18n="P">P</option>
                    <option value="Q" data-i18n="Q">Q</option>
                    <option value="S" data-i18n="S">S</option>
                    <option value="U" data-i18n="U">U</option>
                    <option value="W" data-i18n="W">W</option>
                    <option value="Y" data-i18n="Y">Y</option>
                    <option value="Z" data-i18n="Z">Z</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="* Gred" for="47b57d27-1b24-4502-aa6c-f3b2b141a868" class="col-md-4">* Gred</label>
        <div class="col-md-8">
            <select  data-bind="value: Gred, enable :true" id="47b57d27-1b24-4502-aa6c-f3b2b141a868" name="Gred" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="1" data-i18n="1">1</option>
                    <option value="4" data-i18n="4">4</option>
                    <option value="11" data-i18n="11">11</option>
                    <option value="14" data-i18n="14">14</option>
                    <option value="17" data-i18n="17">17</option>
                    <option value="22" data-i18n="22">22</option>
                    <option value="26" data-i18n="26">26</option>
                    <option value="27" data-i18n="27">27</option>
                    <option value="29" data-i18n="29">29</option>
                    <option value="32" data-i18n="32">32</option>
                    <option value="38" data-i18n="38">38</option>
                    <option value="41" data-i18n="41">41</option>
                    <option value="44" data-i18n="44">44</option>
                    <option value="48" data-i18n="48">48</option>
                    <option value="52" data-i18n="52">52</option>
                    <option value="54" data-i18n="54">54</option>
                    <option value="JUSA" data-i18n="JUSA">JUSA</option>
            </select>
        </div>
    </div>



    <div data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Pelajar&#39;" class="form-group">
        <label data-i18n="Tahap Pengajian" for="1d39d16d-e758-4243-8f5c-b30a38668547" class="col-md-4">Tahap Pengajian</label>
        <div class="col-md-8">
            <input  class=" form-control " title=""
                   data-bind="value: Pelajar().TahapPendidikan, enable :true "
                   
                   
                   
                   id="1d39d16d-e758-4243-8f5c-b30a38668547" type="text" name="Pelajar.TahapPendidikan" />
        </div>
    </div>



    <div data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Pelajar&#39;" class="form-group">
        <label data-i18n="Bidang Pengajian" for="5b404d10-f520-4493-f8c3-7dc824de39ac" class="col-md-4">Bidang Pengajian</label>
        <div class="col-md-8">
            <input  class=" form-control " title=""
                   data-bind="value: Pelajar().BidangPengajian, enable :true "
                   
                   
                   
                   id="5b404d10-f520-4493-f8c3-7dc824de39ac" type="text" name="Pelajar.BidangPengajian" />
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Pelajar&#39;">
        <label data-i18n="Tempat Pengajian" for="9c56de97-8683-485d-a6a7-1b8fecccca59" class="col-md-4">Tempat Pengajian</label>
        <div class="col-md-8">
            <select  data-bind="value: Pelajar().Tempat, enable :true" id="9c56de97-8683-485d-a6a7-1b8fecccca59" name="Pelajar.Tempat" class="required  form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Dalam Negara" data-i18n="Dalam Negara">Dalam Negara</option>
                    <option value="Luar Negara" data-i18n="Luar Negara">Luar Negara</option>
            </select>
        </div>
    </div>
<h2 data-i18n="Maklumat Perhubungan" data-bind="visible:true">Maklumat Perhubungan</h2>




    <div data-bind="visible:true" class="form-group">
        <label data-i18n="* Emel" for="8ec42aeb-5ab2-46f0-c6b5-9c832f9344ca" class="col-md-4">* Emel</label>
        <div class="col-md-8">
            <input required class=" form-control input-large" title=""
                   data-bind="value: Emel, enable :true "
                   
                   
                    data-rule-required="true" 

                   id="8ec42aeb-5ab2-46f0-c6b5-9c832f9344ca" type="text" name="Emel" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Fax" for="5abf2ddc-22f2-42e9-c43e-68516ee1cf45" class="col-md-4">Fax</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Fax, enable :true "
                   
                   
                   
                   id="5abf2ddc-22f2-42e9-c43e-68516ee1cf45" type="text" name="Fax" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Telefon" for="cc0c30a6-0bea-4b1e-e3c5-c2910f10a694" class="col-md-4">Telefon</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title="e.g. 012-1234567 atau 01-2345678"
                   data-bind="value: Telefon, enable :true "
                   
                   
                   
                   id="cc0c30a6-0bea-4b1e-e3c5-c2910f10a694" type="text" name="Telefon" />
                <span class="help-block">e.g. 012-1234567 atau 01-2345678</span>
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
            <h3 data-i18n="Audit Trail">Audit Trail</h3>
        <!--ko compose: {model:'viewmodels/_audittrail.list', activationData:{id:$root.entity().Id(), entity : 'Pengguna'}} -->
        <!--/ko-->

    </div>
</div>