<h1>Mula sesi ujian</h1>
<div class="panel panel-primary">
	<div class="panel-heading" data-bind="with: ujian">
		<h3 class="panel-title" data-bind="text : 'Module Ujian : ' + ko.unwrap(NamaUjian)"></h3>
	</div>
	<div class="panel-body">
	
		<label>Jumlah Soalan</label>
		<strong data-bind="text:questionsCount"></strong>

		<label>Jumlah Soalan DiJawab</label>
		<strong data-bind="text:totalAnswered"></strong>

		<br/>
		<label>Timer</label>
		<strong data-bind="text:timer"></strong>
	</div>
</div>

<div data-bind="with: sesiUjian">
	<!-- ko foreach : JawapanCollection -->

	<div class="soalan-panel">
		<span class="badge" data-bind="text:$index() + 1"></span>				
		  <div class="alert" role="alert" data-bind="css :{'alert-info': JawapanPilihan(),'alert-danger': !JawapanPilihan()}">
			<strong data-bind="text:Text"></strong>
		 </div>
		<!-- ko foreach : PilihanJawapanCollection -->
		  <ul class="list-group">
			<li class="list-group-item">
				<label>
					<input type="radio" data-bind="value: Teks, attr :{name: $parent.SoalanNo}"/>
					<!-- ko text: Teks -->
					<!-- /ko -->
				</label>
			</li>
		  </ul>
		<!-- /ko -->			
	</div>
	<!-- /ko -->
</div>