<h3 class="page-title">
	Mula sesi ujian
	<small data-bind="text:ujian().NamaUjian"></small>
</h3>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <!-- ko foreach : sections -->
        <div data-bind="attr {'id':'section-' + + section}, visible : typeof $root.currentSection() === 'undefined' || $root.currentSection() === section">
            <h4 data-bind="text: 'Seksyen : ' + section, attr :{'id' : section}"></h4>
            <span class="" data-bind="text: 'Jumlah Soalan ' + questions().length"></span>
            <!-- ko foreach : questions -->
            <div class="panel panel-default soalan-panel" data-bind="visible:Visible, css :{'panel-info': JawapanPilihan(),'panel-default': !JawapanPilihan()}">
                <div class="panel-heading" data-bind="text:($index() + 1) + '.   ' + ko.unwrap(Text)">

                </div>
                <div class="panel-body">
                    <!-- ko foreach : PilihanJawapanCollection -->
                    <label style="min-width:120px">
                        <input type="radio" data-bind="value: Teks, attr :{name: $parent.SoalanNo}" />
                        <!-- ko text: Teks -->
                        <!-- /ko -->
                    </label>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
        </div>
    	<!-- /ko -->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="test-panel" style="position:fixed;top:70px;right:0px;">
    	<div  data-bind="with: ujian">
    		<h3 data-bind="text : 'Module Ujian : ' + ko.unwrap(NamaUjian)"></h3>
    	</div>
    	<div>

    		<label>Jumlah Soalan</label>
    		<strong data-bind="text:questionsCount"></strong>
        <br/>

    		<label>Jumlah Soalan DiJawab</label>
    		<strong data-bind="text:totalAnswered"></strong>

    		<br/>
    		<label>Timer :</label>
    		<strong data-bind="text:timer"></strong>


    	</div>
    	 <ul id="nav" class="nav hidden-xs hidden-sm" data-spy="affix">
    	 	<!-- ko foreach : sections -->

            <li>
              	<a data-bind="click : $root.goToSection,attr :{'title' : 'Pergi ke seksyen '+ section }" href="#mula-sesi-ujian" title="Pergi ke seksyen">

                    <i class="fa fa-arrow-circle-right"></i>
                    <span data-bind="text: 'Seksyen ' + ko.unwrap(section) + '  (' + ko.unwrap(answered) + '/' + ko.unwrap(questions).length + ')', attr :{'href' : '#'+ section }"></span>

				</a>
            </li>

    		<!-- /ko -->


          </ul>
		<div>
      <label>
        <input type="checkbox" data-bind="checked: $root.hideAnswered"/>
        Jangan papar yang sudah jawab
      </label>
      <br/>
		<button class="btn btn-primary" data-bind="command: $root.submitSesiUjian, enable: totalAnswered() === questionsCount()">
        <i class="icon-drawer"></i>
        Hantar</button>
		</div>
    </div>
</div>
