<div class="row">
    <h1>Laman Utama Penyelaras</h1>
</div>


<div class="row">
    <div class="col-lg-6">

        <h3>Program Semasa</h3>
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query,  entity : 'Permohonan', list:permohonanLulusList}">
            <thead>
                <tr>
                    <th>#</th>
                    <th>No</th>
                    <th>Tarikh</th>
                    <th>Tarikh Tama</th>
                    <th>Papar Responden</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :permohonanLulusList">
                <tr data-bind="">

                    <td data-bind="text:$index() + 1"></td>
                    <td>
                        <a data-bind="attr : {href:'#permohonan-penyelaras' + '/' + Id, title:'PermohonanNo' }">
                          <span data-bind="text:PermohonanNo"></span>
                        </a>
                    </td>
                    <td data-bind="date:TarikhMula"></td>
                    <td data-bind="date:TarikhTamat"></td>
                    <td>
                        <a data-bind="attr : {href:'#permohonan-dan-senarai-responden' + '/' + Id, title:'Papar Responden' }">
                                                        <span data-bind="text:'Senarai Responden'"></span>
                        </a>
                    </td>


                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-lg-6">
        <h3>
            Views
        </h3>
        <ul id="entity-view-list" data-bind="foreach :views" class="metro-tile">

            <li data-bind="attr : {'class':TileColour}">
                <a data-bind="attr:{href : '#' + Route(), 'title' : Note}">
                    <div class="pull-left">
                        <img data-bind="attr:{src: '/sph/image/store/' + IconStoreId() }" alt="Icon" />
                    </div>
                    <div>
                        <span class="count-message" data-bind="text:CountMessage"></span>
                    </div>

                    <div>
                        <h5 data-bind="text: Name"></h5>
                        <span data-bind="visible: !Note()">..</span>
                        <p data-bind="text: Note">..</p>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>
