

<h1 data-i18n="Tambah Senarai Responden">Tambah Senarai Responden</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
        
<form class="form-horizontal" data-bind="with : entity" id="permohonan-dan-senarai-responden-form">
<h2 data-i18n="Maklumat Program" data-bind="visible:true">Maklumat Program</h2>

    <div class="form-group" data-bind="visible:true">
        <label class="col-md-4">Nama Program</label>
        <span class="col-md-8" data-bind="text: NamaProgram"></span>
    </div>
    <div class="form-group" data-bind="visible:true">
        <label class="col-md-4">Bil Program</label>
        <span class="col-md-8" data-bind="text: BilProgram"></span>
    </div>
    <div class="form-group" data-bind="visible:true">
        <label class="col-md-4">Siri Program</label>
        <span class="col-md-8" data-bind="text: SiriProgram"></span>
    </div>
    <div class="form-group" data-bind="visible:true">
        <label class="col-md-4">Tahun Program</label>
        <span class="col-md-8" data-bind="text: TahunProgram"></span>
    </div>
<div class="form-group" data-bind="visible:true">
    <label class="col-md-4">Tarikh Mula</label>
    <span class="col-md-8" data-bind="date: TarikhMula"></span>
</div><div class="form-group" data-bind="visible:true">
    <label class="col-md-4">Tarikh Tamat</label>
    <span class="col-md-8" data-bind="date: TarikhTamat"></span>
</div><a  data-bind="attr : {href : '#tambah-responden/' + Id() }">
<i class="fa fa-plus"></i>
Tambah Responden
    
</a>





<div class="form-group" data-bind="visible:true">
    <h3 data-i18n="Senarai Responden">Senarai Responden</h3>
    <table class="table table-condensed table-striped" data-bind="serverPaging :{ query: 'PermohonanId eq \'' + ko.unwrap(Id) + '\'', entity : 'PendaftaranProgram', list: bespoke.getSingletonObservableArray('1feccaa7-4858-404f-bd3c-b5601008171f')}">
        <thead>
            <tr>
                    <th data-i18n="Responden">Responden</th>
                    <th data-i18n="MyKad">MyKad</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: bespoke.getSingletonObservableArray('1feccaa7-4858-404f-bd3c-b5601008171f')">
            <tr>
                        <td data-bind="text:NamaPengguna"></td>
                        <td data-bind="text:MyKad"></td>
            </tr>
        </tbody>
    </table>
</div></form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>