<h1>All permohonans</h1>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-link pull-right" data-bind="visible: chartFiltered, click: clearChartFilter">
            <i class="fa fa-times"></i>
            Clear chart's filter
        </button>
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, map : map, entity : 'Permohonan', list:list}">
            <thead>
                <tr>
                    <th>Nama Program</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">

                    <td>
                        <a data-bind="attr : {href:'#permohonan-details' + '/' + Id, title:'Nama Program' }">
                            <i class="fa fa-book"></i>
                                                        <span data-bind="text:NamaProgram"></span>
                        </a>
                    </td>
                    <td data-bind="text:StatusPermohonan"></td>


                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>

    <!-- ko compose : {view : '_chart.panel'}-->
    <!-- /ko -->
</div>