<h3 class="page-title">
	Permohonan Baharu
	<small></small>
</h3>
<div class="row">
    <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, map : map, entity : 'Permohonan', list:list}">
        <thead>
            <tr>
                	<th>Agensi</th>
                	<th>Jenis</th>
                	<th>Kod Program</th>
                	<th>Tarikh Mula</th>
                	<th>TarikhTamat</th>
                	<th>Tujuan</th>
                	<th>Bil.Responden</th>
            </tr>
        </thead>
        <tbody data-bind="foreach :list">
            <tr data-bind="">
		                	<td data-bind="text:NamaJabatan"></td>
			                <td>
			                    <a data-bind="attr : {href:'#permohonan-urusetia' + '/' + Id, title:'Jenis' }">
			                        <i class="fa fa-edit"></i>
			                        			                        <span data-bind="text:JenisPermohonan"></span>
			                    </a>
			                </td>
		                	<td data-bind="text:KodProgram"></td>
		                	<td data-bind="date:TarikhMula"></td>
		                	<td data-bind="date:TarikhTamat"></td>
		                	<td data-bind="text:TujuanProgram"></td>
		                	<td data-bind="text:BilRespondan"></td>
            </tr>
        </tbody>
    </table>
    <img src="/assets/global/img/loading-spinner-default.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
</div>
