

<h1 data-i18n="Permohonan Program oleh Penyelaras">Permohonan Program oleh Penyelaras</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
        
<form class="form-horizontal" data-bind="with : entity" id="permohonan-penyelaras-form">


    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Jenis Permohonan" for="69211c8d-cb6b-4612-d4e0-9ae68d1874a6" class="col-md-4">Jenis Permohonan</label>
        <div class="col-md-8">
            <select  data-bind="value: JenisPermohonan, enable :true" id="69211c8d-cb6b-4612-d4e0-9ae68d1874a6" name="JenisPermohonan" class=" input-large form-control">
                    <option value="Jabatan" data-i18n="Jabatan">Jabatan</option>
                    <option value="Penjawat Awam(Individu)" data-i18n="Penjawat Awam(Individu)">Penjawat Awam(Individu)</option>
                    <option value="Penjawat Swasta (Individu)" data-i18n="Penjawat Swasta (Individu)">Penjawat Swasta (Individu)</option>
                    <option value="Pelajar (Individu)" data-i18n="Pelajar (Individu)">Pelajar (Individu)</option>
            </select>
        </div>
    </div>

    <div class="form-group" data-bind="visible : true">
        <label data-i18n="Tarikh Mula" for="4d96fa3d-edf7-421a-e15a-1a0e8246849b" class="col-md-4">Tarikh Mula</label>
        <div class="col-md-8">
            <input class=" form-control input-large"
                   data-bind="kendoDate: TarikhMula, enable :true" id="4d96fa3d-edf7-421a-e15a-1a0e8246849b" type="text"
                   name="TarikhMula" />
        </div>
    </div>

    <div class="form-group" data-bind="visible : true">
        <label data-i18n="Tarikh Tamat" for="3685075d-3849-4d36-d0fe-6bdb2fe10d64" class="col-md-4">Tarikh Tamat</label>
        <div class="col-md-8">
            <input class=" form-control input-large"
                   data-bind="kendoDate: TarikhTamat, enable :true" id="3685075d-3849-4d36-d0fe-6bdb2fe10d64" type="text"
                   name="TarikhTamat" />
        </div>
    </div>
<h2 data-i18n="Senarai Ujian" data-bind="visible:true">Senarai Ujian</h2>


    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : isIP, enable :true" id="isIP" type="checkbox"
                           name="isIP"/>
                    <span data-i18n="Indeks Personaliti (IP)">Indeks Personaliti (IP)</span>
                    
                </label>
            </div>
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : isIBK, enable :true" id="isIBK" type="checkbox"
                           name="isIBK"/>
                    <span data-i18n="Indeks Bimbingan Kerjaya (IBK) ">Indeks Bimbingan Kerjaya (IBK) </span>
                    
                </label>
            </div>
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : isIPU, enable :true" id="isIPU" type="checkbox"
                           name="isIPU"/>
                    <span data-i18n="Indeks Perwatakan Unggul (IPU) ">Indeks Perwatakan Unggul (IPU) </span>
                    
                </label>
            </div>
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : isISO, enable :true" id="isISO" type="checkbox"
                           name="isISO"/>
                    <span data-i18n="Inventori Stres Organisasi (ISO) ">Inventori Stres Organisasi (ISO) </span>
                    
                </label>
            </div>
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : isUKHLP, enable :true" id="isUKHLP" type="checkbox"
                           name="isUKHLP"/>
                    <span data-i18n="Ujian Khas Hadiah Latihan Persekutuan (UKHLP) ">Ujian Khas Hadiah Latihan Persekutuan (UKHLP) </span>
                    
                </label>
            </div>
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : isUKBP, enable :true" id="isUKBP" type="checkbox"
                           name="isUKBP"/>
                    <span data-i18n="Ujian Khas Biasiswa Persekutuan (UKBP) ">Ujian Khas Biasiswa Persekutuan (UKBP) </span>
                    
                </label>
            </div>
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : isPPKP, enable :true" id="isPPKP" type="checkbox"
                           name="isPPKP"/>
                    <span data-i18n="Profil Personaliti &amp; Kerjaya Pegawai ">Profil Personaliti &amp; Kerjaya Pegawai </span>
                    
                </label>
            </div>
        </div>
    </div>




    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Bil. Responden" for="01ecd570-9ebf-4767-8d9c-f0c98f2c279e" class="col-md-4">Bil. Responden</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: BilRespondan, enable :true "
                   
                   
                   
                   id="01ecd570-9ebf-4767-8d9c-f0c98f2c279e" type="text" name="BilRespondan" />
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Tujuan Program" for="5f157aa3-02f2-4021-cd2c-7eb7673abd7d" class="col-md-4">Tujuan Program</label>
        <div class="col-md-8">
            <select  data-bind="value: TujuanProgram, enable :true" id="5f157aa3-02f2-4021-cd2c-7eb7673abd7d" name="TujuanProgram" class=" input-large form-control">
                    <option value="Terapi" data-i18n=""></option>
                    <option value="Kaunseling" data-i18n="Kaunseling">Kaunseling</option>
                    <option value="Pembangunan Profil Responden" data-i18n="Pembangunan Profil Responden">Pembangunan Profil Responden</option>
                    <option value="Kenaikan Pangkat" data-i18n="Kenaikan Pangkat">Kenaikan Pangkat</option>
                    <option value="Penempatan" data-i18n="Penempatan">Penempatan</option>
                    <option value="Temuduga" data-i18n="Temuduga">Temuduga</option>
                    <option value="Pembangunan Potensi" data-i18n="Pembangunan Potensi">Pembangunan Potensi</option>
            </select>
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>