<h1>Senarai Responden</h1>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-link pull-right" data-bind="visible: chartFiltered, click: clearChartFilter">
            <i class="fa fa-times"></i>
            Clear chart's filter
        </button>
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, map : map, entity : 'Pengguna', list:list}">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>MyKad</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">

                    <td>
                        <a data-bind="attr : {href:'#pengguna-details' + '/' + Id, title:'Nama' }">
                                                        <span data-bind="text:Nama"></span>
                        </a>
                    </td>
                    <td data-bind="text:MyKad"></td>


                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>

    <!-- ko compose : {view : '_chart.panel'}-->
    <!-- /ko -->
</div>