<h3 class="page-title">
	Responden
	<small>Program & Ujian</small>
</h3>
<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12">
    <!-- BEGIN TODO SIDEBAR -->
    <div class="todo-ui">
  	<!-- END TODO SIDEBAR -->
      <!-- BEGIN TODO CONTENT -->
      <div class="todo-content">
        <div class="portlet light">
          <!-- PROJECT HEAD -->
          <div class="portlet-title">
            <div class="caption">
              <i class="icon-bar-chart font-green-sharp hide"></i>
              <span class="caption-helper">PROGRAM:</span> &nbsp; <span class="caption-subject font-green-sharp bold uppercase">Ujian Belum Ambil</span>
            </div>
          </div>
          <!-- end PROJECT HEAD -->
          <div class="portlet-body">
            <div class="row">
              <div class="col-md-6 col-sm-5">
                <div class="scroller" style="max-height: 600px;" data-always-visible="0" data-rail-visible="0" data-handle-color="#dae3e7">
                  <div class="todo-tasklist" data-bind="foreach: testList">
                    <div class="todo-tasklist-item todo-tasklist-item-border-green" data-bind="click: $root.mulaSesiUjian">
                      <i class="todo-userpic pull-left icon-pencil"></i>
                      <div class="todo-tasklist-item-title" data-bind="text: NamaProgram">
                         Slider Redesign
                      </div>
                      <div class="todo-tasklist-item-text" data-bind="text:$root.getNamaUjian($data.NamaUjian)">
                         Lorem dolor sit amet ipsum dolor sit consectetuer dolore.
                      </div>
                      <div class="todo-tasklist-controls pull-left">
                        <span class="todo-tasklist-date"><i class="fa fa-calendar"></i>
                          <span data-bind="date: TarikhTamatProgram, tooltip: 'Tarik akhir untuk mengambil ujian anda'"></span>

                         </span>
                        <span class="label label-info" data-bind="visible: ko.unwrap(Lock) > 0, css : {'label-warning' : ko.unwrap(Lock) < 3 && ko.unwrap(Lock) > 0,'label-danger' : ko.unwrap(Lock) === 3}, text: ko.unwrap(Lock) + ' kali percubaan'">Urgent</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="todo-tasklist-devider">
              </div>
              <div class="col-md-6 col-sm-7">

                <div class="scroller" style="max-height: 600px;" data-always-visible="0" data-rail-visible="0" data-handle-color="#dae3e7">
									<div class="todo-tasklist" data-bind="foreach: registrationList">
										<div class="todo-tasklist-item todo-tasklist-item-border-green">
											<i class="pull-left icon-screen-tablet "></i>
											<div class="todo-tasklist-item-title" data-bind="text: NamaProgram">
												 Np Permohonan
											</div>

											<div class="todo-tasklist-item-text" data-bind="text: ko.unwrap(exams).length +' ujian'">
												 Lorem dolor sit amet ipsum dolor sit consectetuer dolore.
											</div>
											<div class="todo-tasklist-controls pull-left">
												<span class="todo-tasklist-date"><i class="fa fa-calendar"></i>
													<span data-bind="date: tarikhMula"></span> -
													<span data-bind="date: tarikhTamat"></span>
												 </span>
												<span class="todo-tasklist-badge badge badge-roundless">Urgent</span>
											</div>
											<div>
												<ul class="" data-bind="foreach:exams">
													<li>
														 <p class="list-group-item-text">
															<!-- ko text : ko.unwrap(Item1) + " (" + ko.unwrap(Item2) + ") " -->
															<!-- /ko -->
															<strong data-bind="date : Item3"></strong>
														 </p>
													</li>
											</ul>
											</div>

										</div>
									</div>

  							</div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END TODO CONTENT -->
    </div>
  </div>
  <!-- END PAGE CONTENT-->
