<h3 class="page-title">
	Responden
	<small>Program & Ujian</small>
</h3>
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-6">
	

	    <div class="todo-ui">
			<!-- END TODO SIDEBAR -->
			<!-- BEGIN TODO CONTENT -->
			<div class="todo-content">
				<div class="portlet light">
					<!-- PROJECT HEAD -->
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-sharp hide"></i>
							<span class="caption-helper">PROGRAM:</span> &nbsp;
							<span class="caption-subject font-green-sharp bold uppercase">Ujian Belum Ambil</span>
						</div>
					</div>
					<!-- end PROJECT HEAD -->
					<div class="portlet-body">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="scroller" style="max-height: 600px;" data-always-visible="0" data-rail-visible="0" data-handle-color="#dae3e7">
									<div class="todo-tasklist" data-bind="foreach: testList">
										<div class="todo-tasklist-item todo-tasklist-item-border-green">
											<i class="pull-left icon-pencil"></i>
											<button title="Mulakan sesi ujian anda" data-bind="click: $root.mulaSesiUjian, attr :{'data-id': Id}" class="btn btn-primary pull-right">Mula Sesi Ujian</button>
											<div class="todo-tasklist-item-title" data-bind="text: $root.getNamaUjian($data.NamaUjian)">
												Slider Redesign
											</div>
											<div class="todo-tasklist-item-text" data-bind="text:NamaProgram">
												Lorem dolor sit amet ipsum dolor sit consectetuer dolore.
											</div>
											<div class="todo-tasklist-controls pull-left">
												<span class="todo-tasklist-date"><i class="fa fa-calendar"></i>
													<span data-bind="date: TarikhTamatProgram, tooltip: 'Tarik akhir untuk mengambil ujian anda'"></span>

												</span>
												<span class="label label-info" data-bind="visible: ko.unwrap(Lock) > 0, css : {'label-warning' : ko.unwrap(Lock) < 3 && ko.unwrap(Lock) > 0,'label-danger' : ko.unwrap(Lock) === 3}, text: ko.unwrap(Lock) + ' kali percubaan'">Urgent</span>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>



	<div class="col-md-6">
		<!-- BEGIN TODO SIDEBAR -->
		<div class="todo-ui">
			<!-- END TODO SIDEBAR -->
			<!-- BEGIN TODO CONTENT -->
			<div class="todo-content">
				<div class="portlet light">
					<!-- PROJECT HEAD -->
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-sharp hide"></i>
							<span class="caption-helper">PROGRAM:</span> &nbsp;
							<span class="caption-subject font-green-sharp bold uppercase">Senarai Program Yand didaftar</span>
						</div>
					</div>
					<!-- end PROJECT HEAD -->
					<div class="portlet-body">
						<div class="row">

							<div class="col-md-12 col-sm-12">

								<divdata-always-visible="0" data-rail-visible="0" data-handle-color="#dae3e7">
									<div class="todo-tasklist" data-bind="foreach: registrationList">

										<!-- BEGIN PORTLET -->
										<div class="portlet light tasks-widget">
											<div class="portlet-title">
												<div class="caption caption-md">
													<i class="icon-bar-chart theme-font hide"></i>
													<span class="caption-subject font-blue-madison bold uppercase" data-bind="text: NamaProgram">Tasks</span>
													<span class="caption-helper" data-bind="text:NoPermohonan">16 pending</span>
												</div>


											</div>
											<div class="portlet-body">
												<div class="task-content">
													<div data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
														<span class="todo-tasklist-date"><i class="fa fa-calendar"></i>
															<span data-bind="date: tarikhMula"></span> -
															<span data-bind="date: tarikhTamat"></span>
														</span>
														<div>
															<h4> SENARAI UJIAN </h4>
														</div>
														<!-- START TASK LIST -->
														<ul class="task-list" data-bind="foreach:exams">
															<li>
																<div class="task-title">
																	<span class="task-title-sp" data-bind="text:namaUjian">Nama Ujian</span>
																	<span class="label label-sm label-success" data-bind="text:Item2, css :{'label-danger' : Item2 === 'Belum Ambil'}">Status</span>
																	<span class="todo-tasklist-date" data-bind="visible: Item2 === 'Diambil'"><i class="fa fa-calendar"></i>
																		<span data-bind="date: Item3"></span>
																	</span>
																</div>
															</li>
														</ul>
														<!-- END START TASK LIST -->
													</div>
												</div>


											</div>
										</div>
										<!-- END PORTLET -->









										<!-- END -->
									</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END TODO CONTENT -->
	</div>

</div>
<!-- END PAGE CONTENT-->
