<h3 class="page-title">
	Senarai Program Pengguna
	<small>Senarai Program Pengguna</small>
</h3>
<div class="row">
	<table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, map : map, entity : 'PendaftaranProgram', list:list}">
		<thead>
			<tr>
				<th>Program</th>
				<th>Nama</th>
				<th>Tarikh Daftar</th>
				<th>MyKad</th>
			</tr>
		</thead>
		<tbody data-bind="foreach :list">
			<tr data-bind="">
				<td data-bind="text:NamaProgram"></td>
				<td data-bind="text:NamaPengguna"></td>
				<td data-bind="date:TarikhDaftar"></td>
				<td data-bind="text:MyKad"></td>
			</tr>
		</tbody>
	</table>
	<img src="/assets/global/img/loading-spinner-default.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
</div>
