<h1>Sesi Ujian Belum Diambil Mengikut Program</h1>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-link pull-right" data-bind="visible: chartFiltered, click: clearChartFilter">
            <i class="fa fa-times"></i>
            Clear chart's filter
        </button>
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, map : map, entity : 'SesiUjian', list:list}">
            <thead>
                <tr>
                    <th>Bil</th>
                    <th>My Kad</th>
                    <th>Nama Pengguna</th>
                    <th>Jantina</th>
                    <th>Status</th>
                    <th>Nama Ujian</th>
                    <th>Nama Program</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">

                    <td data-bind="text:$index()+1"></td>
                    <td data-bind="text:MyKad"></td>
                    <td data-bind="text:NamaPengguna"></td>
                    <td data-bind="text:Jantina"></td>
                    <td data-bind="text:Status"></td>
                    <td data-bind="text:NamaUjian"></td>
                    <td data-bind="text:NamaProgram"></td>


                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>

    <!-- ko compose : {view : '_chart.panel'}-->
    <!-- /ko -->
</div>