

<h1 data-i18n="SkorPpkp details">SkorPpkp details</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
        
<form class="form-horizontal" data-bind="with : entity" id="skorppkp-details-form">



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="No" for="a2d3e712-888f-4ce7-e8ff-87f83dd2dd1c" class="col-md-4">No</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: No, enable :true "
                   
                   
                   
                   id="a2d3e712-888f-4ce7-e8ff-87f83dd2dd1c" type="text" name="No" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Dimensi" for="089ab408-c887-4b90-f410-0efe88ab87e5" class="col-md-4">Dimensi</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Dimensi, enable :true "
                   
                   
                   
                   id="089ab408-c887-4b90-f410-0efe88ab87e5" type="text" name="Dimensi" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Tret" for="e77287f8-6b26-4693-a562-c332a886e35f" class="col-md-4">Tret</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Tret, enable :true "
                   
                   
                   
                   id="e77287f8-6b26-4693-a562-c332a886e35f" type="text" name="Tret" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Nama Tret" for="b82b3162-c25c-4008-df2d-7722ecf3e0d0" class="col-md-4">Nama Tret</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: NamaTret, enable :true "
                   
                   
                   
                   id="b82b3162-c25c-4008-df2d-7722ecf3e0d0" type="text" name="NamaTret" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Nilai Min" for="65fcf500-ac12-42e8-b80d-0aa1f718ae3c" class="col-md-4">Nilai Min</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: NilaiMin, enable :true "
                   
                   
                   
                   id="65fcf500-ac12-42e8-b80d-0aa1f718ae3c" type="text" name="NilaiMin" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Nilai Max" for="6c5bcd69-202e-4b8d-d1fd-805a73292daf" class="col-md-4">Nilai Max</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: NilaiMax, enable :true "
                   
                   
                   
                   id="6c5bcd69-202e-4b8d-d1fd-805a73292daf" type="text" name="NilaiMax" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Tahap" for="64c988ee-46b0-4b57-8f3d-2c04f7a5fdb7" class="col-md-4">Tahap</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Tahap, enable :true "
                   
                   
                   
                   id="64c988ee-46b0-4b57-8f3d-2c04f7a5fdb7" type="text" name="Tahap" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Interpretasi" for="9ec66e74-9dfd-4d78-86ff-1753bb970d90" class="col-md-4">Interpretasi</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Interpretasi, enable :true "
                   
                   
                   
                   id="9ec66e74-9dfd-4d78-86ff-1753bb970d90" type="text" name="Interpretasi" />
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>