<h1>SoalanDetail</h1>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-link pull-right" data-bind="visible: chartFiltered, click: clearChartFilter">
            <i class="fa fa-times"></i>
            Clear chart's filter
        </button>
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, map : map, entity : 'Soalan', list:list}">
            <thead>
                <tr>
                    <th>No Rujukan</th>
                    <th>Soalan No</th>
                    <th>Seksyen Soalan</th>
                    <th>Soalan</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">

                    <td>
                        <a data-bind="attr : {href:'#soalan-detail' + '/' + Id, title:'No Rujukan' }">
                            <i class="fa fa-vimeo-square"></i>
                                                        <span data-bind="text:NoRujukan"></span>
                        </a>
                    </td>
                    <td data-bind="text:SoalanNo"></td>
                    <td data-bind="text:SeksyenSoalan"></td>
                    <td data-bind="text:TeksSoalan"></td>


                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>

    <!-- ko compose : {view : '_chart.panel'}-->
    <!-- /ko -->
</div>