

<h1 data-i18n="Tambah Pengguna Baru">Tambah Pengguna Baru</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
        
<form class="form-horizontal" data-bind="with : entity" id="tambah-pengguna-form">
<h2 data-i18n="Maklumat Peribadi" data-bind="visible:true">Maklumat Peribadi</h2>




    <div data-bind="visible:true" class="form-group">
        <label data-i18n="* Nama" for="fe3ab0be-a563-496a-8455-b9844518bbf7" class="col-md-4">* Nama</label>
        <div class="col-md-8">
            <input required class=" form-control input-large" title=""
                   data-bind="value: Nama, enable :true "
                   
                   
                    data-rule-required="true" 

                   id="fe3ab0be-a563-496a-8455-b9844518bbf7" type="text" name="Nama" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="* My Kad" for="5fd9072c-4bb0-4ce4-a217-8d1ffabb15ed" class="col-md-4">* My Kad</label>
        <div class="col-md-8">
            <input required class=" form-control input-large" title=""
                   data-bind="value: MyKad, enable :true "
                   
                   pattern="[0-9]{12}"
                    data-rule-required="true" 
 data-rule-message="Sila masukan MyKad dalam format 12 digit e.g. 123456789012"

                   id="5fd9072c-4bb0-4ce4-a217-8d1ffabb15ed" type="text" name="MyKad" />
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <label data-i18n="* Jantina" for="d89b9774-d8d1-4420-8caf-f22e0fef1fbb" class="col-md-4">* Jantina</label>
        <div class="col-md-8">
            <select  data-bind="value: Jantina, enable :true" id="d89b9774-d8d1-4420-8caf-f22e0fef1fbb" name="Jantina" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Lelaki" data-i18n="Lelaki">Lelaki</option>
                    <option value="Perempuan" data-i18n="Perempuan">Perempuan</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Kumpulan Umur" for="92661272-212a-4262-91fe-d466cfbad4ed" class="col-md-4">Kumpulan Umur</label>
        <div class="col-md-8">
            <select  data-bind="value: KumpulanUmur, enable :true" id="92661272-212a-4262-91fe-d466cfbad4ed" name="KumpulanUmur" class=" input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="&lt; 20" data-i18n="Kurang 20 Tahun">Kurang 20 Tahun</option>
                    <option value="20 - 29" data-i18n="20 - 29">20 - 29</option>
                    <option value="30 - 39" data-i18n="30 - 39">30 - 39</option>
                    <option value="40 - 49" data-i18n="40 - 49">40 - 49</option>
                    <option value="&gt; 50" data-i18n="Lebih 50 Tahun">Lebih 50 Tahun</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Status Perkahwinan" for="f503e61e-ec70-4106-8d07-1afe70dcf17c" class="col-md-4">Status Perkahwinan</label>
        <div class="col-md-8">
            <select  data-bind="value: StatusPerkahwinan, enable :true" id="f503e61e-ec70-4106-8d07-1afe70dcf17c" name="StatusPerkahwinan" class=" input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Bujang" data-i18n="Bujang">Bujang</option>
                    <option value="Kahwin" data-i18n="Kahwin">Kahwin</option>
                    <option value="Ibu Tunggal" data-i18n="Ibu Tunggal">Ibu Tunggal</option>
                    <option value="Bapa Tunggal" data-i18n="Bapa Tunggal">Bapa Tunggal</option>
            </select>
        </div>
    </div>
<h2 data-i18n="Peranan" data-bind="visible:$root.partial.isPenyelaras() === false">Peranan</h2>


    <div class="form-group" data-bind="visible:$root.partial.isPenyelaras() === false">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : IsPenyelaras, enable :true" id="IsPenyelaras" type="checkbox"
                           name="IsPenyelaras"/>
                    <span data-i18n="Penyelaras">Penyelaras</span>
                    
                </label>
            </div>
        </div>
    </div>


    <div class="form-group" data-bind="visible:$root.partial.isPenyelaras() === false">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : IsResponden, enable :true" id="IsResponden" type="checkbox"
                           name="IsResponden"/>
                    <span data-i18n="Responden">Responden</span>
                    
                </label>
            </div>
        </div>
    </div>

<h2 data-i18n="Maklumat Perkhidmatan" data-bind="visible:true">Maklumat Perkhidmatan</h2>



    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Pekerjaan" for="pengguna-pekerjaan" class="col-md-4">Pekerjaan</label>
        <div class="col-md-8">
            <select  data-bind="value: Pekerjaan, enable :true" id="pengguna-pekerjaan" name="Pekerjaan" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Kerajaan" data-i18n="Kerajaan">Kerajaan</option>
                    <option value="Swasta" data-i18n="Swasta">Swasta</option>
                    <option value="Pesara Kerajaan" data-i18n="Pesara Kerajaan">Pesara Kerajaan</option>
                    <option value="Pesara Swasta" data-i18n="Pesara Swasta">Pesara Swasta</option>
                    <option value="Bekerja Sendiri" data-i18n="Bekerja Sendiri">Bekerja Sendiri</option>
                    <option value="Pelajar" data-i18n="Pelajar">Pelajar</option>
                    <option value="Tiada Maklumat" data-i18n="Tiada Maklumat">Tiada Maklumat</option>
            </select>
        </div>
    </div>



    <div data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Pelajar&#39;" class="form-group">
        <label data-i18n="Tahap Pengajian" for="c6cb5b90-a13a-43c5-c971-f896c99854fe" class="col-md-4">Tahap Pengajian</label>
        <div class="col-md-8">
            <input  class=" form-control " title=""
                   data-bind="value: Pelajar().TahapPendidikan, enable :true "
                   
                   
                   
                   id="c6cb5b90-a13a-43c5-c971-f896c99854fe" type="text" name="Pelajar.TahapPendidikan" />
        </div>
    </div>



    <div data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Pelajar&#39;" class="form-group">
        <label data-i18n="Bidang Pengajian" for="f977812f-48d5-4d25-c09b-368a392fccad" class="col-md-4">Bidang Pengajian</label>
        <div class="col-md-8">
            <input required class=" form-control input-large" title=""
                   data-bind="value: Pelajar().BidangPengajian, enable :true "
                   
                   
                    data-rule-required="true" 

                   id="f977812f-48d5-4d25-c09b-368a392fccad" type="text" name="Pelajar.BidangPengajian" />
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Pelajar&#39;">
        <label data-i18n="Tempat Pengajian" for="pengguna-pelajar-tempat" class="col-md-4">Tempat Pengajian</label>
        <div class="col-md-8">
            <select  data-bind="value: Pelajar().Tempat, enable :true" id="pengguna-pelajar-tempat" name="Pelajar.Tempat" class="required  form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Dalam Negara" data-i18n="Dalam Negara">Dalam Negara</option>
                    <option value="Luar Negara" data-i18n="Luar Negara">Luar Negara</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="Kumpulan Agensi" for="119ac31f-e09c-43cc-b3c7-91ce4cccaf9c" class="col-md-4">Kumpulan Agensi</label>
        <div class="col-md-8">
            <select  data-bind="value: JenisPerkhidmatan, enable :$root.partial.isPenyelaras() === false" id="119ac31f-e09c-43cc-b3c7-91ce4cccaf9c" name="JenisPerkhidmatan" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="BBP" data-i18n="Badan Berkanun Persekutuan">Badan Berkanun Persekutuan</option>
                    <option value="BBN" data-i18n="Badan Berkanun Negeri">Badan Berkanun Negeri</option>
                    <option value="PAP" data-i18n="Perkhidmatan Awam Persekutuan">Perkhidmatan Awam Persekutuan</option>
                    <option value="PAN" data-i18n="Perkhidmatan Awam Negeri">Perkhidmatan Awam Negeri</option>
                    <option value="PBT" data-i18n="Pihak Berkuasa Tempatan">Pihak Berkuasa Tempatan</option>
                    <option value="TB" data-i18n="Tidak Berkaitan">Tidak Berkaitan</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="Kumpulan Jawatan" for="136182e1-66a5-4fa8-bba1-e6080deb3fb3" class="col-md-4">Kumpulan Jawatan</label>
        <div class="col-md-8">
            <select  data-bind="value: KumpulanJawatan, enable :true" id="136182e1-66a5-4fa8-bba1-e6080deb3fb3" name="KumpulanJawatan" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Pengurusan Tertinggi" data-i18n="Pengurusan Tertinggi">Pengurusan Tertinggi</option>
                    <option value="Pengurusan Profesional" data-i18n="Pengurusan Profesional">Pengurusan Profesional</option>
                    <option value="Perlaksana" data-i18n="Perlaksana">Perlaksana</option>
                    <option value="Bersepadu" data-i18n="Bersepadu">Bersepadu</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="Kementerian" for="d264e6ce-01ee-4920-c901-4970e75ef248" class="col-md-4">Kementerian</label>
        <div class="col-md-8">
            <select  data-bind=" visible :ko.unwrap(Pekerjaan) === 'Kerajaan',  enable :$root.partial.isPenyelaras() === false, comboBoxLookupOptions : { value: NamaKementerian, entity : 'Kementerian', valuePath : 'NamaKementerian', displayPath: 'NamaKementerian', query :ko.computed(function(){ return 'KumpulanAgensi eq \'' + JenisPerkhidmatan() + '\'';})}" id="d264e6ce-01ee-4920-c901-4970e75ef248" name="NamaKementerian" class="required input-large form-control">
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="Jabatan" for="566600d0-3ed3-4dfc-f481-f4efe6e69308" class="col-md-4">Jabatan</label>
        <div class="col-md-8">
            <select  data-bind=" visible :ko.unwrap(Pekerjaan) === 'Kerajaan',  enable :$root.partial.isPenyelaras() === false, comboBoxLookupOptions : { value: NamaJabatan, entity : 'Jabatan', valuePath : 'NamaJabatan', displayPath: 'NamaJabatan', query :ko.computed(function(){ return 'Kementerian eq \'' + NamaKementerian() + '\'';})}" id="566600d0-3ed3-4dfc-f481-f4efe6e69308" name="NamaJabatan" class=" input-large form-control">
            </select>
        </div>
    </div>



    <div data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;" class="form-group">
        <label data-i18n="Bahagian/Seksyen" for="4a411589-c825-4272-8410-6efb9118876e" class="col-md-4">Bahagian/Seksyen</label>
        <div class="col-md-8">
            <input  class=" form-control " title=""
                   data-bind="value: Bahagian, enable :true "
                   
                   
                   
                   id="4a411589-c825-4272-8410-6efb9118876e" type="text" name="Bahagian" />
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="* Skim Perkhidmatan" for="pengguna-skim" class="col-md-4">* Skim Perkhidmatan</label>
        <div class="col-md-8">
            <select  data-bind="value: Skim, enable :true" id="pengguna-skim" name="Skim" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="A" data-i18n="A">A</option>
                    <option value="B" data-i18n="B">B</option>
                    <option value="C" data-i18n="C">C</option>
                    <option value="D" data-i18n="D">D</option>
                    <option value="E" data-i18n="E">E</option>
                    <option value="F" data-i18n="F">F</option>
                    <option value="G" data-i18n="G">G</option>
                    <option value="H" data-i18n="H">H</option>
                    <option value="J" data-i18n="J">J</option>
                    <option value="K" data-i18n="K">K</option>
                    <option value="L" data-i18n="L">L</option>
                    <option value="M" data-i18n="M">M</option>
                    <option value="N" data-i18n="N">N</option>
                    <option value="P" data-i18n="P">P</option>
                    <option value="Q" data-i18n="Q">Q</option>
                    <option value="S" data-i18n="S">S</option>
                    <option value="U" data-i18n="U">U</option>
                    <option value="W" data-i18n="W">W</option>
                    <option value="Y" data-i18n="Y">Y</option>
                    <option value="Z" data-i18n="Z">Z</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="* Gred" for="pengguna-gred" class="col-md-4">* Gred</label>
        <div class="col-md-8">
            <select  data-bind="value: Gred, enable :true" id="pengguna-gred" name="Gred" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="1" data-i18n="1">1</option>
                    <option value="4" data-i18n="4">4</option>
                    <option value="11" data-i18n="11">11</option>
                    <option value="14" data-i18n="14">14</option>
                    <option value="17" data-i18n="17">17</option>
                    <option value="22" data-i18n="22">22</option>
                    <option value="26" data-i18n="26">26</option>
                    <option value="27" data-i18n="27">27</option>
                    <option value="29" data-i18n="29">29</option>
                    <option value="32" data-i18n="32">32</option>
                    <option value="36" data-i18n="36">36</option>
                    <option value="38" data-i18n="38">38</option>
                    <option value="41" data-i18n="41">41</option>
                    <option value="44" data-i18n="44">44</option>
                    <option value="48" data-i18n="48">48</option>
                    <option value="52" data-i18n="52">52</option>
                    <option value="54" data-i18n="54">54</option>
                    <option value="JUSA" data-i18n="JUSA">JUSA</option>
            </select>
        </div>
    </div>
<h2 data-i18n="Maklumat Perhubungan" data-bind="visible:true">Maklumat Perhubungan</h2>




    <div data-bind="visible:true" class="form-group">
        <label data-i18n="* Emel" for="8ec42aeb-5ab2-46f0-c6b5-9c832f9344ca" class="col-md-4">* Emel</label>
        <div class="col-md-8">
            <input required class=" form-control input-large" title=""
                   data-bind="value: Emel, enable :true "
                   
                   
                    data-rule-email="true"  data-rule-required="true" 

                   id="8ec42aeb-5ab2-46f0-c6b5-9c832f9344ca" type="text" name="Emel" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Emel (alternatif)" for="748d4922-ae20-42b8-a3a0-7afc43d4082e" class="col-md-4">Emel (alternatif)</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Emel2, enable :true "
                   
                   
                    data-rule-email="true" 
                   id="748d4922-ae20-42b8-a3a0-7afc43d4082e" type="text" name="Emel2" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Telefon" for="32851057-3645-4011-dde6-1c4bba2a746c" class="col-md-4">Telefon</label>
        <div class="col-md-8">
            <input  class=" form-control " title="e.g. 012-1234567 atau 01-2345678"
                   data-bind="value: Telefon, enable :true "
                   
                   pattern="[0-9]{2,3}-[0-9]{6,10}"
                   
                   id="32851057-3645-4011-dde6-1c4bba2a746c" type="text" name="Telefon" />
                <span class="help-block">e.g. 012-1234567 atau 01-2345678</span>
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>