

<h1 data-i18n="Tambah Pengguna Baru">Tambah Pengguna Baru</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
        
<form class="form-horizontal" data-bind="with : entity" id="tambah-pengguna-form">
<h2 data-i18n="Maklumat Peribadi" data-bind="visible:true">Maklumat Peribadi</h2>




    <div data-bind="visible:true" class="form-group">
        <label data-i18n="* My Kad" for="5fd9072c-4bb0-4ce4-a217-8d1ffabb15ed" class="col-md-4">* My Kad</label>
        <div class="col-md-8">
            <input required class=" form-control input-large" title=""
                   data-bind="value: MyKad, enable :true "
                   
                   pattern="[0-9]{12}"
                    data-rule-required="true" 
 data-rule-message="Sila masukan MyKad dalam format 12 digit e.g. 123456789012"

                   id="5fd9072c-4bb0-4ce4-a217-8d1ffabb15ed" type="text" name="MyKad" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="* Nama" for="fe3ab0be-a563-496a-8455-b9844518bbf7" class="col-md-4">* Nama</label>
        <div class="col-md-8">
            <input required class=" form-control input-large" title=""
                   data-bind="value: Nama, enable :fillManually "
                   
                   
                    data-rule-required="true" 

                   id="fe3ab0be-a563-496a-8455-b9844518bbf7" type="text" name="Nama" />
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <label data-i18n="* Jantina" for="d89b9774-d8d1-4420-8caf-f22e0fef1fbb" class="col-md-4">* Jantina</label>
        <div class="col-md-8">
            <select  data-bind="value: Jantina, enable :fillManually" id="d89b9774-d8d1-4420-8caf-f22e0fef1fbb" name="Jantina" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Lelaki" data-i18n="Lelaki ">Lelaki </option>
                    <option value="Perempuan" data-i18n="Perempuan">Perempuan</option>
            </select>
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Umur" for="4a95c78f-29f9-47d8-ac6c-bb60cbc1bb89" class="col-md-4">Umur</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Umur, enable :fillManually "
                   
                   
                   
                   id="4a95c78f-29f9-47d8-ac6c-bb60cbc1bb89" type="text" name="Umur" />
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Status Perkahwinan" for="f503e61e-ec70-4106-8d07-1afe70dcf17c" class="col-md-4">Status Perkahwinan</label>
        <div class="col-md-8">
            <select  data-bind="value: StatusPerkahwinan, enable :fillManually" id="f503e61e-ec70-4106-8d07-1afe70dcf17c" name="StatusPerkahwinan" class=" input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Belum Berkahwin" data-i18n="Belum Berkahwin">Belum Berkahwin</option>
                    <option value="Berkahwin" data-i18n="Berkahwin">Berkahwin</option>
                    <option value="Balu" data-i18n="Balu">Balu</option>
                    <option value="Janda" data-i18n="Janda">Janda</option>
                    <option value="Duda" data-i18n="Duda">Duda</option>
                    <option value="Tiada Maklumat" data-i18n="Tiada Maklumat">Tiada Maklumat</option>
            </select>
        </div>
    </div>
<h2 data-i18n="Peranan" data-bind="visible:$root.partial.isPenyelaras() === false">Peranan</h2>


    <div class="form-group" data-bind="visible:$root.partial.isPenyelaras() === false">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : IsPenyelaras, enable :true" id="IsPenyelaras" type="checkbox"
                           name="IsPenyelaras"/>
                    <span data-i18n="Penyelaras">Penyelaras</span>
                    
                </label>
            </div>
        </div>
    </div>


    <div class="form-group" data-bind="visible:$root.partial.isPenyelaras() === false">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : IsResponden, enable :true" id="IsResponden" type="checkbox"
                           name="IsResponden"/>
                    <span data-i18n="Responden">Responden</span>
                    
                </label>
            </div>
        </div>
    </div>

<h2 data-i18n="Maklumat Perkhidmatan" data-bind="visible:true">Maklumat Perkhidmatan</h2>



    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Pekerjaan" for="pengguna-pekerjaan" class="col-md-4">Pekerjaan</label>
        <div class="col-md-8">
            <select  data-bind="value: Pekerjaan, enable :fillManually" id="pengguna-pekerjaan" name="Pekerjaan" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Kerajaan" data-i18n="Kerajaan">Kerajaan</option>
                    <option value="Swasta" data-i18n="Swasta">Swasta</option>
                    <option value="Pesara Kerajaan" data-i18n="Pesara Kerajaan">Pesara Kerajaan</option>
                    <option value="Pesara Swasta" data-i18n="Pesara Swasta">Pesara Swasta</option>
                    <option value="Bekerja Sendiri" data-i18n="Bekerja Sendiri">Bekerja Sendiri</option>
                    <option value="Pelajar" data-i18n="Pelajar">Pelajar</option>
                    <option value="Tiada Maklumat" data-i18n="Tiada Maklumat">Tiada Maklumat</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Pelajar&#39;">
        <label data-i18n="Tahap Pengajian" for="adf6cb29-b636-48d4-de1c-9899a58ce007" class="col-md-4">Tahap Pengajian</label>
        <div class="col-md-8">
            <select  data-bind="value: Pelajar().TahapPendidikan, enable :true" id="adf6cb29-b636-48d4-de1c-9899a58ce007" name="Pelajar.TahapPendidikan" class=" input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Ijazah Sarjana Muda" data-i18n="Ijazah Sarjana Muda">Ijazah Sarjana Muda</option>
                    <option value="Ijazah Sarjana" data-i18n="Ijazah Sarjana">Ijazah Sarjana</option>
                    <option value="PHD" data-i18n="PHD">PHD</option>
            </select>
        </div>
    </div>



    <div data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Pelajar&#39;" class="form-group">
        <label data-i18n="Bidang Pengajian" for="f977812f-48d5-4d25-c09b-368a392fccad" class="col-md-4">Bidang Pengajian</label>
        <div class="col-md-8">
            <input required class=" form-control input-large" title=""
                   data-bind="value: Pelajar().BidangPengajian, enable :true "
                   
                   
                    data-rule-required="true" 

                   id="f977812f-48d5-4d25-c09b-368a392fccad" type="text" name="Pelajar.BidangPengajian" />
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Pelajar&#39;">
        <label data-i18n="Tempat Pengajian" for="pengguna-pelajar-tempat" class="col-md-4">Tempat Pengajian</label>
        <div class="col-md-8">
            <select  data-bind="value: Pelajar().Tempat, enable :true" id="pengguna-pelajar-tempat" name="Pelajar.Tempat" class="required  form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Dalam Negara" data-i18n="Dalam Negara">Dalam Negara</option>
                    <option value="Luar Negara" data-i18n="Luar Negara">Luar Negara</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="Kumpulan Agensi" for="119ac31f-e09c-43cc-b3c7-91ce4cccaf9c" class="col-md-4">Kumpulan Agensi</label>
        <div class="col-md-8">
            <select  data-bind="value: JenisPerkhidmatan, enable :$root.partial.isPenyelaras() === false && fillManually()" id="119ac31f-e09c-43cc-b3c7-91ce4cccaf9c" name="JenisPerkhidmatan" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="BBP" data-i18n="Badan Berkanun Persekutuan">Badan Berkanun Persekutuan</option>
                    <option value="BBN" data-i18n="Badan Berkanun Negeri">Badan Berkanun Negeri</option>
                    <option value="PAP" data-i18n="Perkhidmatan Awam Persekutuan">Perkhidmatan Awam Persekutuan</option>
                    <option value="PAN" data-i18n="Perkhidmatan Awam Negeri">Perkhidmatan Awam Negeri</option>
                    <option value="PBT" data-i18n="Pihak Berkuasa Tempatan">Pihak Berkuasa Tempatan</option>
                    <option value="TB" data-i18n="Tidak Berkaitan">Tidak Berkaitan</option>
            </select>
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="Tempat Bertugas" for="566600d0-3ed3-4dfc-f481-f4efe6e69308" class="col-md-4">Tempat Bertugas</label>
        <div class="col-md-8">
            <select  data-bind=" visible :ko.unwrap(Pekerjaan) === 'Kerajaan',  enable :$root.partial.isPenyelaras() === false && fillManually(), comboBoxLookupOptions : { value: NamaJabatan, entity : 'Jabatan', valuePath : 'NamaJabatan', displayPath: 'NamaJabatan', query :'Id ne \'0\''}" id="566600d0-3ed3-4dfc-f481-f4efe6e69308" name="NamaJabatan" class=" input-large form-control">
            </select>
        </div>
    </div>



    <div data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;" class="form-group">
        <label data-i18n="Bahagian/Seksyen" for="4a411589-c825-4272-8410-6efb9118876e" class="col-md-4">Bahagian/Seksyen</label>
        <div class="col-md-8">
            <input  class=" form-control " title=""
                   data-bind="value: Bahagian, enable :fillManually "
                   
                   
                   
                   id="4a411589-c825-4272-8410-6efb9118876e" type="text" name="Bahagian" />
        </div>
    </div>


    <div class="form-group" data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;">
        <label data-i18n="Kumpulan Jawatan" for="136182e1-66a5-4fa8-bba1-e6080deb3fb3" class="col-md-4">Kumpulan Jawatan</label>
        <div class="col-md-8">
            <select  data-bind="value: KumpulanJawatan, enable :fillManually" id="136182e1-66a5-4fa8-bba1-e6080deb3fb3" name="KumpulanJawatan" class="required input-large form-control">
                    <option value="" data-i18n="[Sila Pilih]">[Sila Pilih]</option>
                    <option value="Anggota Pentadbiran" data-i18n="Anggota Pentadbiran">Anggota Pentadbiran</option>
                    <option value="Kumpulan JKK-A" data-i18n="Kumpulan JKK-A">Kumpulan JKK-A</option>
                    <option value="Kumpulan JKK-C" data-i18n="Kumpulan JKK-C">Kumpulan JKK-C</option>
                    <option value="Kumpulan JKK-D" data-i18n="Kumpulan JKK-D">Kumpulan JKK-D</option>
                    <option value="Kumpulan Pelaksana" data-i18n="Kumpulan Pelaksana">Kumpulan Pelaksana</option>
                    <option value="Kumpulan Pengurusan dan Profesional" data-i18n="Kumpulan Pengurusan dan Profesional">Kumpulan Pengurusan dan Profesional</option>
                    <option value="Kumpulan Pengurusan Tertinggi" data-i18n="Kumpulan Pengurusan Tertinggi">Kumpulan Pengurusan Tertinggi</option>
                    <option value="Kumpulan Skim Perkhidmatan Bersepadu" data-i18n="Kumpulan Skim Perkhidmatan Bersepadu">Kumpulan Skim Perkhidmatan Bersepadu</option>
                    <option value="Kumpulan Sokongan" data-i18n="Kumpulan Sokongan">Kumpulan Sokongan</option>
                    <option value="Tiada Kumpulan Perkhidmatan" data-i18n="Tiada Kumpulan Perkhidmatan">Tiada Kumpulan Perkhidmatan</option>
            </select>
        </div>
    </div>



    <div data-bind="visible:ko.unwrap(Pekerjaan) === &#39;Kerajaan&#39;" class="form-group">
        <label data-i18n="Skim dan Gred Perkhidmatan " for="5fa43eda-a4b2-4797-80a4-bdfeba53f0b4" class="col-md-4">Skim dan Gred Perkhidmatan </label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Skim, enable :fillManually "
                   
                   
                   
                   id="5fa43eda-a4b2-4797-80a4-bdfeba53f0b4" type="text" name="Skim" />
        </div>
    </div>
<h2 data-i18n="Maklumat Perhubungan" data-bind="visible:true">Maklumat Perhubungan</h2>




    <div data-bind="visible:true" class="form-group">
        <label data-i18n="* Emel" for="8ec42aeb-5ab2-46f0-c6b5-9c832f9344ca" class="col-md-4">* Emel</label>
        <div class="col-md-8">
            <input required class=" form-control input-large" title=""
                   data-bind="value: Emel, enable :fillManually "
                   
                   
                    data-rule-email="true"  data-rule-required="true" 

                   id="8ec42aeb-5ab2-46f0-c6b5-9c832f9344ca" type="text" name="Emel" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Emel (alternatif)" for="748d4922-ae20-42b8-a3a0-7afc43d4082e" class="col-md-4">Emel (alternatif)</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Emel2, enable :true "
                   
                   
                    data-rule-email="true" 
                   id="748d4922-ae20-42b8-a3a0-7afc43d4082e" type="text" name="Emel2" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Telefon" for="32851057-3645-4011-dde6-1c4bba2a746c" class="col-md-4">Telefon</label>
        <div class="col-md-8">
            <input  class=" form-control " title=""
                   data-bind="value: Telefon, enable :fillManually "
                   
                   
                   
                   id="32851057-3645-4011-dde6-1c4bba2a746c" type="text" name="Telefon" />
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>