<h1>Senarai Ujian</h1>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-link pull-right" data-bind="visible: chartFiltered, click: clearChartFilter">
            <i class="fa fa-times"></i>
            Clear chart's filter
        </button>
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, map : map, entity : 'Ujian', list:list}">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Ujian</th>
                    <th>Duration Hour</th>
                    <th>Duration Minutes</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">

                    <td data-bind="text:UjianNo"></td>
                    <td>
                        <a data-bind="attr : {href:'#ujian-details' + '/' + Id, title:'Nama Ujian' }">
                                                        <span data-bind="text:NamaUjian"></span>
                        </a>
                    </td>
                    <td data-bind="text:DurationHour"></td>
                    <td data-bind="text:DurationMinutes"></td>


                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>

    <!-- ko compose : {view : '_chart.panel'}-->
    <!-- /ko -->
</div>