

<h1 data-i18n="UkbpPercentileNorms details">UkbpPercentileNorms details</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
        
<form class="form-horizontal" data-bind="with : entity" id="ukbppercentilenorms-details-form">



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="No" for="9bd32b1a-de1b-47ba-b29f-01a25b239da2" class="col-md-4">No</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: No, enable :true "
                   
                   
                   
                   id="9bd32b1a-de1b-47ba-b29f-01a25b239da2" type="text" name="No" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Raw Score" for="a6b3bd89-08a0-4a47-aabc-a7dcedca1784" class="col-md-4">Raw Score</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: RawScore, enable :true "
                   
                   
                   
                   id="a6b3bd89-08a0-4a47-aabc-a7dcedca1784" type="text" name="RawScore" />
        </div>
    </div>


    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Jantina" for="9def4992-f6d8-43ba-a242-fe8e1bc18b57" class="col-md-4">Jantina</label>
        <div class="col-md-8">
            <select  data-bind="value: Jantina, enable :true" id="9def4992-f6d8-43ba-a242-fe8e1bc18b57" name="Jantina" class=" input-large form-control">
                    <option value="Lelaki" data-i18n="Lelaki">Lelaki</option>
                    <option value="Perempuan" data-i18n="Perempuan">Perempuan</option>
            </select>
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="A" for="08f27fed-2c15-42d1-e063-87005a3bf455" class="col-md-4">A</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: A, enable :true "
                   
                   
                   
                   id="08f27fed-2c15-42d1-e063-87005a3bf455" type="text" name="A" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="B" for="cfcb4a41-9288-4a9c-9435-cba3f5a628f6" class="col-md-4">B</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: B, enable :true "
                   
                   
                   
                   id="cfcb4a41-9288-4a9c-9435-cba3f5a628f6" type="text" name="B" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="C" for="de2f9942-78b0-4d6e-af13-980a84fdcc1f" class="col-md-4">C</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: C, enable :true "
                   
                   
                   
                   id="de2f9942-78b0-4d6e-af13-980a84fdcc1f" type="text" name="C" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="D" for="c53d3732-8fa0-4b67-81ab-d5863876294d" class="col-md-4">D</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: D, enable :true "
                   
                   
                   
                   id="c53d3732-8fa0-4b67-81ab-d5863876294d" type="text" name="D" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="E" for="1da664cb-93d7-46e5-d34a-43459944b386" class="col-md-4">E</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: E, enable :true "
                   
                   
                   
                   id="1da664cb-93d7-46e5-d34a-43459944b386" type="text" name="E" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="F" for="dade292c-1ac5-4b49-cdfd-0b046dcb0551" class="col-md-4">F</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: F, enable :true "
                   
                   
                   
                   id="dade292c-1ac5-4b49-cdfd-0b046dcb0551" type="text" name="F" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="G" for="79ba828e-7488-4a75-fdcb-eecf9f31b97f" class="col-md-4">G</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: G, enable :true "
                   
                   
                   
                   id="79ba828e-7488-4a75-fdcb-eecf9f31b97f" type="text" name="G" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="H" for="31d613c4-e4a8-4be4-8fcf-02c395a83ec0" class="col-md-4">H</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: H, enable :true "
                   
                   
                   
                   id="31d613c4-e4a8-4be4-8fcf-02c395a83ec0" type="text" name="H" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="I" for="6a8993d9-db77-4034-b237-f3391441c009" class="col-md-4">I</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: I, enable :true "
                   
                   
                   
                   id="6a8993d9-db77-4034-b237-f3391441c009" type="text" name="I" />
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>