<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	Dashboard
	<small>reports & statistics</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat blue-madison">
			<div class="visual">
				<i class="fa fa-comments"></i>
			</div>
			<div class="details">
				<div class="number" data-bind="text: permohonanBaruCount">
					1349
				</div>
				<div class="desc">
					Permohonan Baru
				</div>
			</div>
			<a class="more" href="#permohonan-baru-urusetia">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat red-intense">
			<div class="visual">
				<i class="fa fa-bar-chart-o"></i>
			</div>
			<div class="details">
				<div class="number">
					12
				</div>
				<div class="desc">
					Belum Ambil
				</div>
			</div>
			<a class="more" href="javascript:;">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat green-haze">
			<div class="visual">
				<i class="fa fa-shopping-cart"></i>
			</div>
			<div class="details">
				<div class="number">
					549
				</div>
				<div class="desc">
						Program Aktif Semasa
				</div>
			</div>
			<a class="more" href="javascript:;">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat purple-plum">
			<div class="visual">
				<i class="fa fa-globe"></i>
			</div>
			<div class="details">
				<div class="number">
					+89%
				</div>
				<div class="desc">
					Brand Popularity
				</div>
			</div>
			<a class="more" href="javascript:;">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
		</div>
	</div>
</div>
<!-- END DASHBOARD STATS -->


<div class="clearfix">
</div>
<div class="row">
	<div class="col-md-6 col-sm-6">
		<!-- BEGIN PORTLET-->
		<div class="portlet light ">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-bar-chart font-green-sharp hide"></i>
					<span class="caption-subject font-green-sharp bold uppercase">Cetak laporan</span>
					<span class="caption-helper">sesi ujian..</span>
				</div>

			</div>
			<div class="portlet-body">

				<!--ko compose: {model: "viewmodels/_laporan-sesi-ujian-mykad"} -->
			  <!--/ko-->
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
	<div class="col-md-6 col-sm-6">
		<!-- BEGIN PORTLET-->
		<div class="portlet light ">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-share font-red-sunglo hide"></i>
					<span class="caption-subject font-red-sunglo bold uppercase">Revenue</span>
					<span class="caption-helper">monthly stats...</span>
				</div>
				<div class="actions">
					<div class="btn-group">
						<a href="" class="btn grey-salsa btn-circle btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
												Filter Range<span class="fa fa-angle-down">
												</span>
												</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="javascript:;">
														Q1 2014 <span class="label label-sm label-default">
														past </span>
														</a>
							</li>
							<li>
								<a href="javascript:;">
														Q2 2014 <span class="label label-sm label-default">
														past </span>
														</a>
							</li>
							<li class="active">
								<a href="javascript:;">
														Q3 2014 <span class="label label-sm label-success">
														current </span>
														</a>
							</li>
							<li>
								<a href="javascript:;">
														Q4 2014 <span class="label label-sm label-warning">
														upcoming </span>
														</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="portlet-body">
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
</div>
