

<h1 data-i18n="user">user</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>

    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
        
<form class="form-horizontal" data-bind="with : entity" id="user-form">



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Nama" for="4626a430-0ab4-4ab1-93b2-c9b93356dcfe" class="col-md-4">Nama</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Nama, enable :true "
                   
                   
                   
                   id="4626a430-0ab4-4ab1-93b2-c9b93356dcfe" type="text" name="Nama" />
        </div>
    </div>



    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Nama" for="4626a430-0ab4-4ab1-93b2-c9b93356dcfe" class="col-md-4">Nama</label>
        <div class="col-md-8">
            <input  class=" form-control input-large" title=""
                   data-bind="value: Nama, enable :true "
                   
                   
                   
                   id="4626a430-0ab4-4ab1-93b2-c9b93356dcfe" type="text" name="Nama" />
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>