

<h1>Users Management</h1>

<div class="row">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#user-tab" data-toggle="tab">Users</a>
        </li>
        <li>
            <a href="#designation-tab" data-toggle="tab">Designations</a>
        </li>
        <li>
            <a href="#department-tab" data-toggle="tab">Departments</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="user-tab" class="tab-pane active">
            <div>
                <table class="table table-striped" data-bind="serverPaging: { entity: 'UserProfile', list: profiles, map: map },filter : {path:'tbody>tr'}">
                    <thead>
                    <tr>
                        <th></th>
                        <th>UserName</th>
                        <th>Full name</th>
                        <th>Department</th>
                        <th>Designation</th>
                        <th>Email</th>
                        <th>Password</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: profiles">
                    <tr>
                        <td>
                            <input type="checkbox" class="select-users"/>
                        </td>
                        <td>
                            <a data-toggle="modal" href="#user-details-modal" data-bind="click: $root.editCommand">
                                <i class="fa fa-user"></i>
                                <!-- ko text: UserName-->
                                <!-- /ko-->
                            </a>

                        </td>
                        <td data-bind="text: FullName"></td>
                        <td data-bind="text: Department"></td>
                        <td data-bind="text: Designation"></td>
                        <td data-bind="text: Email"></td>
                        <td>
                            <a data-toggle="modal" href="#user-change-password" data-bind="click: $root.resetPasswordCommand">Reset</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-danger" data-bind="command: $root.removeSelectedUsers, enable : $root.selectedUsers().length">
                    <i class="fa fa-bin"></i>
                    Remove selected users
                </button>
                <a href="#" class="btn btn-link" data-bind="click : add">
                    <i class="fa fa-plus-circle"></i>
                    Add a user
                </a>
            </div>
        </div>
        <div id="designation-tab" class="tab-pane ">
            <div>
                <!--ko compose:'viewmodels/_users.designation' -->
                <!--/ko-->
            </div>
        </div>
        <div id="department-tab" class="tab-pane ">
            <!--ko compose:'viewmodels/_users.department' -->
            <!--/ko-->
        </div>
    </div>
</div>

<div class="row">
    <label class="col-lg-3">Import Security Settings</label>
    <div class="col-lg-9">
        <input type="file" name="files" id="import-security-setting-file-input" data-bind="kendoUpload : importedSecuritySettingStoreId" />
    </div>
</div>
<!--ko compose:'_user.add.html' -->
<!--/ko-->
<!--ko compose:'_user.change.password.html' -->
<!--/ko-->
